<<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Historial clinico</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Pacientes</a>
                        </li>
                        <li class="breadcrumb-item active">Historial clinico</li>
                    </ul>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 d-flex justify-content-end">
                    <a href="javascript:window.print('epltable')" type="submit" mat-mini-fab color="primary" class="mr-10">
                        <mat-icon class="col-white">print</mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ngxTableHeader" style="border-color: #fff;background-color: #fff;">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h3 class="weight-900" style="font-size:16px!important;color: gray;">Primer Motivo de Consulta</h3>
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form class="m-4" *ngIf="form === true" #myForm="ngForm" style="overflow: hidden;margin-top: 30px;"
                            [formGroup]="historialForm" (ngSubmit)="historialSubmit()">
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Motivo consulta</mat-label>
                                        <input (keyup)="onBlurMethod('motivo')" matInput formControlName="motivo" type="text" maxlength="30">
                                        <mat-error *ngIf="historialForm.get('motivo').hasError('required')">
                                            El motivo es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Enfermedad actual</mat-label>
                                        <input (keyup)="onBlurMethod('enfermedadActual')" matInput formControlName="enfermedadActual"
                                            type="text" maxlength="30">
                                        <mat-error *ngIf="historialForm.get('enfermedadActual').hasError('required')">
                                            La enfermedad actual es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 text-center">
                                    <h5 class="weight-900 color-blue">ANTECEDENTES</h5>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Enfermedades</mat-label>
                                        <input (keyup)="onBlurMethod('enfermedades')" matInput formControlName="enfermedades" type="text"
                                            maxlength="80">
                                        <mat-error *ngIf="historialForm.get('enfermedades').hasError('required')">
                                            Las enfermedades son requeridas
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Antecedentes quirúrgicos</mat-label>
                                        <input matInput (keyup)="onBlurMethod('antecedentesqrs')" formControlName="antecedentesqrs" type="text"
                                            maxlength="80">
                                        <mat-error *ngIf="historialForm.get('antecedentesqrs').hasError('required')">
                                            Los antecedentes son requeridos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Alergias</mat-label>
                                        <input matInput (keyup)="onBlurMethod('alergias')" formControlName="alergias" type="text"
                                            maxlength="50">
                                        <mat-error *ngIf="historialForm.get('alergias').hasError('required')">
                                            Las alergias son requeridas
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Medicamentos</mat-label>
                                        <input matInput (keyup)="onBlurMethod('medicamentos')" formControlName="medicamentos" type="text"
                                            maxlength="80">
                                        <mat-error *ngIf="historialForm.get('medicamentos').hasError('required')">
                                            los medicamentos son requeridos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Hábitos</mat-label>
                                        <input matInput (keyup)="onBlurMethod('habitos')" formControlName="habitos" type="text" maxlength="80">
                                        <mat-error *ngIf="historialForm.get('habitos').hasError('required')">
                                            los habitos son requeridos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Antecedentes familiares</mat-label>
                                        <input matInput (keyup)="onBlurMethod('antecedentesfam')" formControlName="antecedentesfam" type="text"
                                            maxlength="80">
                                        <mat-error *ngIf="historialForm.get('antecedentesfam').hasError('required')">
                                            Los antecedentes familiares son requeridos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6 my-3">
                                    <label class="example-margin font-weight-bold">Fuma:</label>
                                    <mat-radio-group formControlName="Fuma">
                                        <mat-radio-button class="example-margin" value="si">Sí</mat-radio-button>
                                        <mat-radio-button class="example-margin" value="no">No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-6 my-3">
                                    <label class="example-margin font-weight-bold">¿Paciente Embarazada?:</label>
                                    <mat-radio-group formControlName="Embarazo">
                                        <mat-radio-button class="example-margin" value="si">Sí</mat-radio-button>
                                        <mat-radio-button class="example-margin" value="no">No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h6 class="weight-800 color-blue">HÁBITOS</h6>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Alcohol">Alcohol</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Cepilladodiario">Cepillado diario</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Fumar">Fumar</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Golosinas">Golosinas y dulces</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="perniciosolabio">Hábito pernicioso labio
                                    </mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="perniciosolengua">Hábito pernicioso lengua
                                    </mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Higienebucal">Higiene bucal accesoria</mat-checkbox>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h6 class="weight-800 color-blue">ENFERMEDADES</h6>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Artritisreumatoide">Artritis reumatoide</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Asma">Asma</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Autoinmune">Autoinmune</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Cancer">Cancer</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Cardiaco">Cardiaco</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Diabetes">Diabetes</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="ETS">E.T.S.</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Gastritis">Gastritis</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Hepatitis">Hepatitis</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Hipotiroidismo">Hipotiroidismo</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Sarampion">Sarampion</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Varicela">Varicela</mat-checkbox>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h6 class="weight-800 color-blue">INTERVENCIONES</h6>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Hospitalizaciones">Hospitalizaciones</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Operacionadenoides">Operacion de adenoides
                                    </mat-checkbox>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h6 class="weight-800 color-blue">ALERGIAS</h6>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="AcidoAcetilsalicilico">Ácido Acetilsalicilico
                                    </mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Alimentos">Alimentos</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Aneteico">Anetéico</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Loratadina">Loratadina</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Metamizol">Metamizol</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Paracetamol">Paracetamol</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Penicilina">Penicilina</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin" formControlName="Sulfonamidas">Sulfonamidas</mat-checkbox>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h5 class="weight-900 color-blue">LÍNEA MEDIA DENTAL</h5>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select required formControlName="linemediadentalsuperior">
                                            <mat-option value="normal">Normal</mat-option>
                                            <mat-option value="desplazado a la derecha">Desplazado a la derecha</mat-option>
                                            <mat-option value="desplazado izquierda">Desplazado izquierda</mat-option>
                                            <mat-option value="cruzado unilateral">Cruzado unilateral</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="historialForm.get('linemediadentalsuperior').hasError('required')">
                                            Línea media dental superior es requerida
                                        </mat-error>
                                        <mat-label>
                                            Línea media dental superior
                                        </mat-label>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Milímetros</mat-label>
                                        <input matInput type="number" formControlName="milsuperior">
                                        <mat-error *ngIf="historialForm.get('milsuperior').hasError('required')">
                                            Los milimetros son requeridos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select required formControlName="lineamediadentalinferior">
                                            <mat-option value="normal">Normal</mat-option>
                                            <mat-option value="desplazado a la derecha">Desplazado a la derecha</mat-option>
                                            <mat-option value="desplazado izquierda">Desplazado izquierda</mat-option>
                                            <mat-option value="cruzado unilateral">Cruzado unilateral</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="historialForm.get('lineamediadentalinferior').hasError('required')">
                                            Línea media dental inferior es requerida
                                        </mat-error>
                                        <mat-label>
                                            Línea media dental inferior
                                        </mat-label>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Milímetros</mat-label>
                                        <input matInput type="number" formControlName="milinferior">
                                        <mat-error *ngIf="historialForm.get('milinferior').hasError('required')">
                                            Los milimetros son requeridos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 text-center my-3">
                                    <h5 class="weight-900 color-blue">APIÑAMIENTO</h5>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select required formControlName="apinamientosuperior">
                                            <mat-option value="sin apiñamiento">Sin apiñamiento</mat-option>
                                            <mat-option value="leve">Leve</mat-option>
                                            <mat-option value="moderado">Moderado</mat-option>
                                            <mat-option value="severo">Severo</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="historialForm.get('apinamientosuperior').hasError('required')">
                                            Apiñamiento superior es requerido
                                        </mat-error>
                                        <mat-label>
                                            Superior
                                        </mat-label>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select required formControlName="apinamientoinferior">
                                            <mat-option value="sin apiñamiento">Sin apiñamiento</mat-option>
                                            <mat-option value="leve">Leve</mat-option>
                                            <mat-option value="moderado">Moderado</mat-option>
                                            <mat-option value="severo">Severo</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="historialForm.get('apinamientoinferior').hasError('required')">
                                            Apiñamiento inferior es requerido
                                        </mat-error>
                                        <mat-label>
                                            Inferior
                                        </mat-label>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <input matInput (keyup)="onBlurMethod('obsapinamiento')" formControlName="obsapinamiento" type="text"
                                            maxlength="80">
                                        <mat-error *ngIf="historialForm.get('obsapinamiento').hasError('required')">
                                            Las observaciones son requeridas
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 text-center my-3">
                                    <h5 class="weight-900 color-blue">ESTOMATOLÓGICO</h5>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="CambiosPisoBoca">
                                        Cambios en el piso de la boca
                                    </mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="lasMejillas">
                                        Las mejillas</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="labios">
                                        Labios</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="paladar">
                                        Paladar</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="frenillo">
                                        Frenillo</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="lengua">
                                        Lengua</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="CambiosEsmalteDentina">
                                        Cambio en el esmalte y la dentina</mat-checkbox>
                                </div>
                                <div class="col-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <input matInput (keyup)="onBlurMethod('observaestoma')" formControlName="observaestoma" type="text"
                                            maxlength="80">
                                        <mat-error *ngIf="historialForm.get('observaestoma').hasError('required')">
                                            Las observaciones son requeridas
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h5 class="weight-900 color-blue">ANÁLISIS FUNCIONAL</h5>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="succionDigital">
                                        Succión digital</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="deglucionAti">
                                        Deglución atípica</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="onychophogia">
                                        Onychophogia</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="bruxismo">
                                        Bruxismo</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="resoral">
                                        Reparación Oral</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="musculo">
                                        Músculo</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="masticarenfer">
                                        Masticar la enfermedad</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="atm">
                                        ATM</mat-checkbox>
                                </div>
                                <div class="col-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <input matInput (keyup)="onBlurMethod('obsanalisis')" formControlName="obsanalisis" type="text"
                                            maxlength="30">
                                        <mat-error *ngIf="historialForm.get('obsanalisis').hasError('required')">
                                            Las observaciones son requeridas
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h5 class="weight-900 color-blue">PERIODONTAL</h5>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="enciasinfla">
                                        Encías inflamadas</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="placaperio">
                                        Placa</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="calculoperio">
                                        Cálculo</mat-checkbox>
                                </div>
                                <div class="col-6 pl-5">
                                    <mat-checkbox class="example-margin pl-5" value="si" formControlName="recegingival">
                                        Recesión Gingival</mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Pérdida de la inserción general</mat-label>
                                        <input matInput (keyup)="onBlurMethod('perdidainser')" formControlName="perdidainser" type="text"
                                            maxlength="50">
                                        <mat-error *ngIf="historialForm.get('perdidainser').hasError('required')">
                                            La peridad es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Movilidad</mat-label>
                                        <input matInput (keyup)="onBlurMethod('movilidadinser')" formControlName="movilidadinser" type="text"
                                            maxlength="30">
                                        <mat-error *ngIf="historialForm.get('movilidadinser').hasError('required')">
                                            La movilidad es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <input matInput (keyup)="onBlurMethod('obserinsert')" formControlName="obserinsert" type="text"
                                            maxlength="50">
                                        <mat-error *ngIf="historialForm.get('obserinsert').hasError('required')">
                                            Las observaciones son requeridas
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h5 class="weight-900 color-blue">PRUEBA DE SENSIBILIDAD A LA PULPA</h5>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Frío</mat-label>
                                        <input matInput (keyup)="onBlurMethod('pulpafrio')" formControlName="pulpafrio" type="text"
                                            maxlength="50">
                                        <mat-error *ngIf="historialForm.get('pulpafrio').hasError('required')">
                                            El frio es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Caliente</mat-label>
                                        <input matInput (keyup)="onBlurMethod('pulpacaliente')" formControlName="pulpacaliente" type="text"
                                            maxlength="50">
                                        <mat-error *ngIf="historialForm.get('pulpacaliente').hasError('required')">
                                            El calor es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 pl-5 text-center">
                                    <mat-checkbox class="example-margin pl-5" formControlName="pruebaelec">Prueba eléctrica</mat-checkbox>
                                </div>

                                <div class="col-12 text-center my-3">
                                    <h5 class="weight-900 color-blue">PRUEBA DE SENSIBILIDAD PERIODONTAL</h5>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Percusión horizontal</mat-label>
                                        <input matInput (keyup)="onBlurMethod('perhorizontal')" formControlName="perhorizontal" type="text"
                                            maxlength="50">
                                        <mat-error *ngIf="historialForm.get('perhorizontal').hasError('required')">
                                            Las percusion es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Percusión vertical</mat-label>
                                        <input matInput (keyup)="onBlurMethod('pervertical')" formControlName="pervertical" type="text"
                                            maxlength="50">
                                        <mat-error *ngIf="historialForm.get('pervertical').hasError('required')">
                                            Las percusion es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <input matInput (keyup)="onBlurMethod('perobservaciones')" formControlName="perobservaciones"
                                            type="text" maxlength="80">
                                        <mat-error *ngIf="historialForm.get('perobservaciones').hasError('required')">
                                            Las observaciones son requeridas
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
