<section class="content colorCheck">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Motivo de Consulta</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Motivo</a>
            </li>
            <li class="breadcrumb-item active">Agregar Motivo de Consulta</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Nuevo Motivo de Consulta</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="motivoForm">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Motivo de Consulta</mat-label>
                    <textarea id="motivo" matInput formControlName="NombreMotivo"
                      (keyup)="firstLetterUppercase('NombreMotivo')" rows="3" required></textarea>
                    <mat-error *ngIf="motivoForm.get('NombreMotivo')?.hasError('required')">
                      El nommbre del motivo es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Tiempo Motivo de Consulta (en minutos)</mat-label>
                    <input matInput formControlName="Tiempo" type="number" min="1" max="100" step="1" required>
                    <mat-error *ngIf="motivoForm.get('Tiempo')?.hasError('required')">
                      El tiempo del motivo es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-slide-toggle formControlName="MostrarAgenda">Mostrar en agenda</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" *ngIf="idClinica > 0">
                  <button class="mr-3" [disabled]="!motivoForm.valid " mat-raised-button color="primary"
                    (click)="checkExist(motivoForm.getRawValue())">
                    Guardar
                  </button>
                  <button type="button" mat-button [routerLink]="['/admin/administrador/motivo/listado-motivos']">
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>