<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Reportes Administrativos</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Reportes</a>
            </li>
            <li class="breadcrumb-item active">Reportes Administrativos</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Reportes Administrativos</strong></h2>
          </div>
          <div class="body">
            <form>
              <div class="row" style="max-width:100%;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Tipo de Reportes</mat-label>
                    <mat-select [(ngModel)]="tipoReporte" [ngModelOptions]="{standalone: true}" required>
                      <mat-option value="recaudacion">Informe de recaudación</mat-option>
                      <mat-option value="estadoCitas">Reporte de estados de citas</mat-option>
                      <mat-option value="motivos">Reportes de motivos de consultas</mat-option>
                      <mat-option value="presupuestos">Reportes de Presupuestos emitidos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <form>
              <div class="row" style="max-width:100%;">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Fecha Inicial</mat-label>
                    <input matInput [matDatepicker]="pickeremi" [(ngModel)]="fechaInicial"
                      [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="pickeremi"></mat-datepicker-toggle>
                    <mat-datepicker #pickeremi></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Fecha Final</mat-label>
                    <input matInput [matDatepicker]="pickeremi1" [(ngModel)]="fechaFinal"
                      [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix [for]="pickeremi1"></mat-datepicker-toggle>
                    <mat-datepicker #pickeremi1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="max-width:100%;">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Selección de sucursal</mat-label>
                    <mat-select [(ngModel)]="sucursal" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
                        {{sucursal.NombreSucursal}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="max-width:100%;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row">
                    <button mat-raised-button color="primary" class="mr-3" (click)="selectReport()">
                      Mostrar Reporte
                    </button>
                    <button mat-raised-button color="primary" (click)="limpiarFiltros()">
                      Limpiar filtros
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="table-responsive">
              <table class="table table-hover" *ngIf="tipoReporte === 'recaudacion'">
                <thead>
                  <tr>
                    <th>Total</th>
                    <th>Pagos</th>
                    <th>Pendiente</th>
                    <th>Recaudación de sucursal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${{(Total | number : '1.2-2') || '0'}}</td>
                    <td>${{(Pagos | number : '1.2-2') || '0'}}</td>
                    <td>
                      ${{(Pendiente === 0) ? (Total | number : '1.2-2') : (Pendiente | number : '1.2-2') }}
                    </td>
                    <td>${{(Pagos | number : '1.2-2') || '0'}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-hover" *ngIf="tipoReporte === 'estadoCitas'">
                <thead>
                  <tr>
                    <th>Paciente</th>
                    <th>Doctor</th>
                    <th>Motivo</th>
                    <th>Servicio</th>
                    <th>Estatus</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of reportes">
                    <td>{{paciente.NombrePaciente}}</td>
                    <td>{{paciente.NombreUsuario}}</td>
                    <td>{{paciente.NombreMotivo}}</td>
                    <td>{{paciente.NombreServicio}}</td>
                    <td>{{paciente.EstatusCita}}</td>
                    <td>{{paciente.FechaCita}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-hover" *ngIf="tipoReporte === 'motivos'">
                <thead>
                  <tr>
                    <th>Motivo</th>
                    <th>Paciente</th>
                    <th>Servicio</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of reportes">
                    <td>{{paciente.NombreMotivo}}</td>
                    <td>{{paciente.NombrePaciente}}</td>
                    <td>{{paciente.NombreServicio}}</td>
                    <td>{{paciente.FechaCita}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-hover" *ngIf="tipoReporte === 'presupuestos'">
                <thead>
                  <tr>
                    <th>Nombre(s)</th>
                    <th>Presupuesto</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Abonos</th>
                    <th>Saldo pendiente</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of reportes">
                    <td>{{paciente.paciente}}</td>
                    <td>{{paciente.Nombre}}</td>
                    <td>{{paciente.Fecha}}</td>
                    <td>{{paciente.Total | number : '1.2-2'}}</td>
                    <td>{{paciente.pago | number : '1.2-2'}}</td>
                    <td>{{paciente.pendiente | number : '1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>