<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Listado de Citas</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Agenda</a>
              </li>
              <li class="breadcrumb-item active">Listado</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="ngxTableHeader">
                    <ul class="header-buttons-left ml-0 mb-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Listado de Citas</strong></h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar" type="text" class="browser-default search-field"
                          (keyup)='filterDatatable($event)' aria-label="Search box">
                      </li>
                    </ul>
                    <ul class="header-buttons m-r-20">
                      <li>
                        <div class="icon-button-demo">
                          <button mat-mini-fab color="primary" [routerLink]="['/admin/agenda/nueva-cita']">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                          <button mat-mini-fab color="primary" (click)="ngOnInit()">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                          <button mat-mini-fab color="primary">
                            <mat-icon class="col-white">call_made</mat-icon>
                          </button>
                          <button mat-mini-fab color="primary">
                            <mat-icon class="col-white">print</mat-icon>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"  [scrollbarH]="true" [scrollbarV]="false" [messages]="{emptyMessage: 'No hay citas..'}">

                  <ngx-datatable-column name="Paciente" [width]="200">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.nombreP}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Doctor" [width]="200">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.nombreD}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha" [width]="200">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.Fecha}}
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Hora" [width]="200">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Horario}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Motivo" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Motivos}}
                  </ng-template>
              </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" sortable="false" [width]="200">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>
                          <button class="btn tblActnBtn h-auto" (click)='editRow(row, rowIndex, editRecord)'>
                            <i class="material-icons">mode_edit</i>
                          </button>
                          <button class="btn tblActnBtn h-auto" (click)='deleteRow(row.idCitas)'>
                            <i class="material-icons">delete</i>
                          </button>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>

                  <!-- Edit Record Modal Window -->
                  <ng-template #editRecord let-modal>
                    <div class="modal-header editRowModal">
                      <h4 class="modal-title" id="modal-basic-title">

                      </h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true"><i class="material-icons">close</i></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
                        <div class="input-field col s12 d-none">
                          <input formControlName="idCitas" class="form-control" type="hidden">
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Nombre Paciente</mat-label>
                              <mat-select formControlName="Paciente">
                                <mat-option *ngFor="let paciente of pacientes" value="{{paciente.idPacientes}}">
                                  {{paciente.Nombre}} {{paciente.Apellido}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="editForm.get('Paciente').hasError('required')">
                                Nombre es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-select formControlName="Doctor" required>
                                <mat-option *ngFor="let doctor of doctores" value="{{doctor.idDoctores}}">
                                  {{doctor.Nombre}} {{doctor.Apellido}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="editForm.get('Doctor').hasError('required')">
                                Nombre es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <input matInput [matDatepicker]="picker" formControlName="Fecha">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                              <mat-error *ngIf="editForm.get('Fecha').hasError('required')">
                                La Fecha  es requerida
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Horario</mat-label>
                              <input (input)="ValidarHorario($event)" matInput formControlName="Hora" type="time">
                              <mat-error *ngIf="editForm.get('Hora').hasError('required')">
                                El horario es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Motivo</mat-label>
                              <input matInput formControlName="Motivo">
                              <mat-error *ngIf="editForm.get('Motivo').hasError('required')">
                                El motivo es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Tratamiento</mat-label>
                              <mat-select formControlName="Servicio">
                                <mat-option *ngFor="let servicio of servicios" value="{{servicio.idServicios}}">
                                  {{servicio.Nombre}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="editForm.get('Servicio').hasError('required')">
                                El servicio es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="button-demo">
                            <button mat-raised-button type="submit" color="primary">Guardar</button>
                            <button mat-button type="button" (click)="modal.close()">Cancelar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>