<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Clínica</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Configuración</a>
              </li>
              <li class="breadcrumb-item active">Agregar Clínica</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Nueva Cita</h2>
            </div>
            <div class="body">
              <form class="m-4" #FormGroupDirective [formGroup]="NuevaCitaForm" (ngSubmit)="guardarNuevoUsuario(NuevaCitaForm)">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Paciente</mat-label>
                      <mat-select formControlName="paciente" required>
                        <mat-option *ngFor="let paciente of pacientes" value="{{paciente.idPacientes}}">
                          {{paciente.Nombre}} {{paciente.Apellido}}
                        </mat-option>
                        <mat-option (click)="abrirModalNuevoPaciente(addPaciente)">
                          (+)Agegar nuevo paciente
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="NuevaCitaForm.get('paciente').hasError('required')">
                        El nombre del paciente es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Doctor</mat-label>
                      <mat-select formControlName="doctor" required>
                        <mat-option *ngFor="let doctor of doctores" value="{{doctor.idUsuario}}">
                          {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="NuevaCitaForm.get('doctor').hasError('required')">
                        Nombre del doctor es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Selecciona una fecha</mat-label>
                        <!-- <input matInput type="date" formControlName="fecha"> -->
                        <input matInput [matDatepicker]="picker" formControlName="fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="NuevaCitaForm.get('fecha').hasError('required')">
                          La Fecha es requerida
                        </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Horario</mat-label>
                      <input (input)="ValidarHorario(NuevaCitaForm)" matInput formControlName="horario" type="time">
                      <mat-error *ngIf="NuevaCitaForm.get('horario').hasError('required')">
                        El horario es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Motivo</mat-label>
                      <input matInput id="motivocita" formControlName="motivo" required 
                      (keyup)="FirstUppercaseLetter('motivocita')">
                      <mat-error *ngIf="NuevaCitaForm.get('motivo').hasError('required')">
                        El motivo es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Servicio</mat-label>
                      <mat-select formControlName="servicio" required>
                        <mat-option *ngFor="let servicio of servicios" value="{{servicio.idServicios}}">
                          {{servicio.Nombre}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="NuevaCitaForm.get('servicio').hasError('required')">
                        El servicio es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Observaciones</mat-label>
                      <textarea matInput id="obseervaciones" formControlName="observaciones" (keyup)="FirstUppercaseLetter('obseervaciones')"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="mr-3" [disabled]="!NuevaCitaForm.valid " mat-raised-button
                      color="primary">Guardar</button>
                    <button type="button" mat-button>Cancelar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Record Modal Window -->
    <ng-template #addPaciente let-modal>
      <div class="modal-header editRowModal">
        <h4 class="modal-title" id="modal-basic-title">
          <div class="modal-header">
            <div class="modal-about">
              <div class="font-weight-bold p-t-10 font-17">
                Nuevo paciente
              </div>
            </div>
          </div>
        </h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss()">
          <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="register-form"
          [formGroup]="nuevoPacienteForm"
          (ngSubmit)="nuevoPaciente(nuevoPacienteForm)">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input id="pacientname" matInput formControlName="nombre" (keyup)="FirstUppercaseLetter('pacientname')"/>
                <mat-error
                  *ngIf="nuevoPacienteForm.get('nombre').hasError('required')">
                  El nombre es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input id="pacientlastname" matInput formControlName="apellido" (keyup)="FirstUppercaseLetter('pacientlastname')"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Correo eléctronico</mat-label>
                <input matInput formControlName="correo"/>
                <mat-error
                  *ngIf="nuevoPacienteForm.controls['correo'].dirty || nuevoPacienteForm.controls['correo'].touched">
                  Debe ser un correo valido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Doctor</mat-label>
                <mat-select formControlName="doctor">
                  <mat-option *ngFor="let doctor of doctores" value="{{doctor.idUsuario}}">
                    {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"/>
                <mat-error
                  *ngIf="nuevoPacienteForm.get('telefono').hasError('required')">
                  El telefono es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Selecciona el convenio</mat-label>
                <mat-select formControlName="convenio">
                  <mat-option *ngFor="let convenio of convenios" [value]="convenio.id">
                    {{convenio.NombreConvenio}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <button
                class="mr-3"
                [disabled]="!nuevoPacienteForm.valid"
                mat-raised-button
                color="primary">
                Guardar
              </button>
              <button type="button" mat-button data-dismiss="modal">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>

  </section>