<br>
<div class="row" class="m-0">
  <div class="col-md-12">
    <div class="ngxTableHeader" style="border-color: #fff;background-color: #fff;">
      <ul class="header-buttons-left ml-0 mb-0">
        <li class="dropdown">
          <h2 class="weight-900" style="font-size:18px!important;color: gray;">Primer Motivo de Consulta</h2>
        </li>
      </ul>
      <ul class="header-buttons">
        <li>
          <a href="javascript:window.print('epltable')" type="submit" mat-mini-fab color="primary" class="mr-10">
            <mat-icon class="col-white">print</mat-icon>
          </a>
        </li>
        <li>
          <button mat-mini-fab color="primary" class="mr-10" (click)="toggleForm()">
            <mat-icon class="col-white">edit</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" *ngIf="motivosPaciente.length > 0">
  <div class="col-12 px-4">
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th style="border: none!important;">
            <h6 style="color:#000;font-weight:900;">Motivo</h6>
          </th>
          <th style="border: none!important;">
            <h6 style="color:#000;font-weight:900;">Enfermedad</h6>
          </th>
          <th style="border: none!important;">
            <h6 style="color:#000;font-weight:900;">Acciones</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let motivo of motivosPaciente">
          <td class="py-2" style="border:none;border-bottom:1px solid grey;">
            <span>{{motivo.motivo}}</span>
          </td>
          <td class="py-2" style="border:none;border-bottom:1px solid grey;">
            <span>{{motivo.enfermedadActual}}</span>
          </td>
          <td class="py-2" style="border:none;border-bottom:1px solid grey;">
            <mat-icon class="pointer" (click)="deleteMotivo(motivo.idMotivo)">
              delete
            </mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<form class="m-4" #myForm="ngForm" style="overflow: hidden;margin-top: 30px;" [formGroup]="motivosForm" (ngSubmit)="saveMotivo(
    motivosForm.getRawValue(),myForm)">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Motivo consulta</mat-label>
        <input (keyup)="firstLetterUppercase('motivo')" matInput formControlName="motivo" type="text" maxlength="30">
        <mat-error *ngIf="motivosForm.get('motivo').hasError('required')">
          El motivo es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enfermedad actual</mat-label>
        <input (keyup)="firstLetterUppercase('enfermedadActual')" matInput formControlName="enfermedadActual"
          type="text">
        <mat-error *ngIf="motivosForm.get('enfermedadActual').hasError('required')">
          La enfermedad actual es requerida
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 mb-3 text-center">
      <button [disabled]="motivosForm.invalid" mat-mini-fab color="primary" type="submit">
        <mat-icon class="col-white">add</mat-icon>
      </button>
    </div>
  </div>
</form>

<form class="m-4" #myForm="ngForm" [formGroup]="historialForm" (ngSubmit)="saveHistorial(
    historialForm.getRawValue())">
  <div class="row">
    <div class="col-12 text-center">
      <h5 class="weight-900 color-blue">ANTECEDENTES</h5>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enfermedades</mat-label>
        <input (keyup)="onBlurMethod('Enfermedades')" matInput formControlName="Enfermedades" type="text"
          maxlength="80">
        <mat-error *ngIf="historialForm.get('Enfermedades').hasError('required')">
          Las enfermedades son requeridas
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Antecedentes quirúrgicos</mat-label>
        <input matInput (keyup)="onBlurMethod('AntecedentesQuiru')" formControlName="AntecedentesQuiru" type="text"
          maxlength="80">
        <mat-error *ngIf="historialForm.get('AntecedentesQuiru').hasError('required')">
          Los antecedentes son requeridos
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Alergias</mat-label>
        <input matInput (keyup)="onBlurMethod('Alergias')" formControlName="Alergias" type="text" maxlength="50">
        <mat-error *ngIf="historialForm.get('Alergias').hasError('required')">
          Las alergias son requeridas
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Medicamentos</mat-label>
        <input matInput (keyup)="onBlurMethod('Medicamentos')" formControlName="Medicamentos" type="text"
          maxlength="80">
        <mat-error *ngIf="historialForm.get('Medicamentos').hasError('required')">
          los medicamentos son requeridos
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Hábitos</mat-label>
        <input matInput (keyup)="onBlurMethod('Habitos')" formControlName="Habitos" type="text" maxlength="80">
        <mat-error *ngIf="historialForm.get('Habitos').hasError('required')">
          los habitos son requeridos
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Antecedentes familiares</mat-label>
        <input matInput (keyup)="onBlurMethod('AntecedentesFamil')" formControlName="AntecedentesFamil" type="text"
          maxlength="80">
        <mat-error *ngIf="historialForm.get('AntecedentesFamil').hasError('required')">
          Los antecedentes familiares son requeridos
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6 my-3">
      <label class="example-margin font-weight-bold">Fuma:</label>
      <mat-radio-group formControlName="Fuma">
        <mat-radio-button class="example-margin" value="si">Sí</mat-radio-button>
        <mat-radio-button class="example-margin" value="no">No
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-6 my-3">
      <label class="example-margin font-weight-bold">¿Paciente Embarazada?:</label>
      <mat-radio-group formControlName="Embarazo">
        <mat-radio-button class="example-margin" value="si">Sí</mat-radio-button>
        <mat-radio-button class="example-margin" value="no">No
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-12 text-center my-3">
      <h6 class="weight-800 color-blue">HÁBITOS</h6>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Alcohol">Alcohol</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Cepilladodiario">Cepillado diario</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Fumar">Fumar</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Golosinas">Golosinas y dulces</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="perniciosolabio">Hábito pernicioso labio</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="perniciosolengua">Hábito pernicioso lengua</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Higienebucal">Higiene bucal accesoria</mat-checkbox>
    </div>
    <div class="col-12 text-center my-3">
      <h6 class="weight-800 color-blue">ENFERMEDADES</h6>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Artritisreumatoide">Artritis reumatoide</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Asma">Asma</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Autoinmune">Autoinmune</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Cancer">Cancer</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Cardiaco">Cardiaco</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Diabetes">Diabetes</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="ETS">E.T.S.</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Gastritis">Gastritis</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Hepatitis">Hepatitis</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Hipotiroidismo">Hipotiroidismo</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Sarampion">Sarampion</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Varicela">Varicela</mat-checkbox>
    </div>
    <div class="col-12 text-center my-3">
      <h6 class="weight-800 color-blue">INTERVENCIONES</h6>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Hospitalizaciones">Hospitalizaciones</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Operacionadenoides">Operacion de adenoides</mat-checkbox>
    </div>
    <div class="col-12 text-center my-3">
      <h6 class="weight-800 color-blue">ALERGIAS</h6>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="AcidoAcetilsalicilico">Ácido Acetilsalicilico</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Alimentos">Alimentos</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Aneteico">Anetéico</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Loratadina">Loratadina</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Metamizol">Metamizol</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Paracetamol">Paracetamol</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Penicilina">Penicilina</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin" formControlName="Sulfonamidas">Sulfonamidas</mat-checkbox>
    </div>

    <div class="col-12 text-center my-3">
      <h5 class="weight-900 color-blue">LÍNEA MEDIA DENTAL</h5>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-select required formControlName="LineaMediaDentalSuperior">
          <mat-option value="normal">Normal</mat-option>
          <mat-option value="desplazado a la derecha">Desplazado a la derecha</mat-option>
          <mat-option value="desplazado izquierda">Desplazado izquierda</mat-option>
          <mat-option value="cruzado unilateral">Cruzado unilateral</mat-option>
        </mat-select>
        <mat-error *ngIf="historialForm.get('LineaMediaDentalSuperior').hasError('required')">
          Línea media dental superior es requerida
        </mat-error>
        <mat-label>
          Línea media dental superior
        </mat-label>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Milímetros</mat-label>
        <input matInput type="number" formControlName="LineaMediaDentalSupMM">
        <mat-error *ngIf="historialForm.get('LineaMediaDentalSupMM').hasError('required')">
          Los milimetros son requeridos
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-select required formControlName="LineaMediaDentalInferior">
          <mat-option value="normal">Normal</mat-option>
          <mat-option value="desplazado a la derecha">Desplazado a la derecha</mat-option>
          <mat-option value="desplazado izquierda">Desplazado izquierda</mat-option>
          <mat-option value="cruzado unilateral">Cruzado unilateral</mat-option>
        </mat-select>
        <mat-error *ngIf="historialForm.get('LineaMediaDentalInferior').hasError('required')">
          Línea media dental inferior es requerida
        </mat-error>
        <mat-label>
          Línea media dental inferior
        </mat-label>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Milímetros</mat-label>
        <input matInput type="number" formControlName="LineaMediaDentalInfMM">
        <mat-error *ngIf="historialForm.get('LineaMediaDentalInfMM').hasError('required')">
          Los milimetros son requeridos
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 text-center my-3">
      <h5 class="weight-900 color-blue">APIÑAMIENTO</h5>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-select required formControlName="ApiSuperior">
          <mat-option value="sin apiñamiento">Sin apiñamiento</mat-option>
          <mat-option value="leve">Leve</mat-option>
          <mat-option value="moderado">Moderado</mat-option>
          <mat-option value="severo">Severo</mat-option>
        </mat-select>
        <mat-error *ngIf="historialForm.get('ApiSuperior').hasError('required')">
          Apiñamiento superior es requerido
        </mat-error>
        <mat-label>
          Superior
        </mat-label>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-select required formControlName="ApiInferior">
          <mat-option value="sin apiñamiento">Sin apiñamiento</mat-option>
          <mat-option value="leve">Leve</mat-option>
          <mat-option value="moderado">Moderado</mat-option>
          <mat-option value="severo">Severo</mat-option>
        </mat-select>
        <mat-error *ngIf="historialForm.get('ApiInferior').hasError('required')">
          Apiñamiento inferior es requerido
        </mat-error>
        <mat-label>
          Inferior
        </mat-label>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input matInput (keyup)="onBlurMethod('ApiObservacion')" formControlName="ApiObservacion" type="text"
          maxlength="80">
        <mat-error *ngIf="historialForm.get('ApiObservacion').hasError('required')">
          Las observaciones son requeridas
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 text-center my-3">
      <h5 class="weight-900 color-blue">ESTOMATOLÓGICO</h5>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="CambiosEnElPisoDeLaBoca">
        Cambios en el piso de la boca
      </mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Mejillas">
        Las mejillas</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Labios">
        Labios</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Paladar">
        Paladar</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Frenillos">
        Frenillo</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Lengua">
        Lengua</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="CambioEnElEsmalteYLaDentina">
        Cambio en el esmalte y la dentina</mat-checkbox>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input matInput (keyup)="onBlurMethod('ObservacionesEstoma')" formControlName="ObservacionesEstoma" type="text"
          maxlength="80">
        <mat-error *ngIf="historialForm.get('ObservacionesEstoma').hasError('required')">
          Las observaciones son requeridas
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 text-center my-3">
      <h5 class="weight-900 color-blue">ANÁLISIS FUNCIONAL</h5>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="SuccionDigi">
        Succión digital</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="DeglucionAti">
        Deglución atípica</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Onychophogia">
        Onychophogia</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Bruxismo">
        Bruxismo</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="RespiracionOral">
        Reparación Oral</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Musculo">
        Músculo</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="MasticarEnfermedad">
        Masticar la enfermedad</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="ATM">
        ATM</mat-checkbox>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input matInput (keyup)="onBlurMethod('obsFuncional')" formControlName="obsFuncional" type="text"
          maxlength="30">
        <mat-error *ngIf="historialForm.get('obsFuncional').hasError('required')">
          Las observaciones son requeridas
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 text-center my-3">
      <h5 class="weight-900 color-blue">PERIODONTAL</h5>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="EnciasInflamadas">
        Encías inflamadas</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Placa">
        Placa</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="Calculo">
        Cálculo</mat-checkbox>
    </div>
    <div class="col-6 pl-5">
      <mat-checkbox class="example-margin pl-5" value="si" formControlName="RecesionGingi">
        Recesión Gingival</mat-checkbox>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Pérdida de la inserción general</mat-label>
        <input matInput (keyup)="onBlurMethod('PerdidaInsercion')" formControlName="PerdidaInsercion" type="text"
          maxlength="50">
        <mat-error *ngIf="historialForm.get('PerdidaInsercion').hasError('required')">
          La peridad es requerida
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Movilidad</mat-label>
        <input matInput (keyup)="onBlurMethod('Movilidad')" formControlName="Movilidad" type="text" maxlength="30">
        <mat-error *ngIf="historialForm.get('Movilidad').hasError('required')">
          La movilidad es requerida
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input matInput (keyup)="onBlurMethod('ObservPeriodontal')" formControlName="ObservPeriodontal" type="text"
          maxlength="50">
        <mat-error *ngIf="historialForm.get('ObservPeriodontal').hasError('required')">
          Las observaciones son requeridas
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 text-center my-3">
      <h5 class="weight-900 color-blue">PRUEBA DE SENSIBILIDAD A LA PULPA</h5>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Frío</mat-label>
        <input matInput (keyup)="onBlurMethod('Frio')" formControlName="Frio" type="text" maxlength="50">
        <mat-error *ngIf="historialForm.get('Frio').hasError('required')">
          El frio es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Caliente</mat-label>
        <input matInput (keyup)="onBlurMethod('Caliente')" formControlName="Caliente" type="text" maxlength="50">
        <mat-error *ngIf="historialForm.get('Caliente').hasError('required')">
          El calor es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 pl-5 text-center">
      <mat-checkbox class="example-margin pl-5" formControlName="PruebaElectr">Prueba eléctrica</mat-checkbox>
    </div>
    <div class="col-12 text-center my-3">
      <h5 class="weight-900 color-blue">PRUEBA DE SENSIBILIDAD PERIODONTAL</h5>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Percusión horizontal</mat-label>
        <input matInput (keyup)="onBlurMethod('PercuHorizontal')" formControlName="PercuHorizontal" type="text"
          maxlength="50">
        <mat-error *ngIf="historialForm.get('PercuHorizontal').hasError('required')">
          Las percusion es requerida
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Percusión vertical</mat-label>
        <input matInput (keyup)="onBlurMethod('PercuVertica')" formControlName="PercuVertica" type="text"
          maxlength="50">
        <mat-error *ngIf="historialForm.get('PercuVertica').hasError('required')">
          Las percusion es requerida
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input matInput (keyup)="onBlurMethod('ObservacionesSensibi')" formControlName="ObservacionesSensibi"
          type="text" maxlength="80">
        <mat-error *ngIf="historialForm.get('ObservacionesSensibi').hasError('required')">
          Las observaciones son requeridas
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 mb-3 text-center">
      <button *ngIf="!historialPaciente" class="mr-3" mat-raised-button color="primary">Guardar</button>
      <button *ngIf="historialPaciente&&historialForm.enabled" type="button" class="mr-3" mat-raised-button
        color="primary" (click)="updateHistorial()">Actualizar</button>
    </div>
  </div>
</form>