<div class="auth-container">
    <div class="row auth-main">
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <div class="left-img"
                style="background-image: url(assets/images/pages/bg-01.png);background-color: #fff!important;">
            </div>
        </div>
        <div class="col-sm-6 auth-form-section">
            <div class="form-section">
                <div class="auth-wrapper">
                    <h2 class="welcome-msg weight-900 text-center">¡Gracias te hemos enviado un correo!</h2>
                    <h6 class="text-center">
                        Su correo de confimacion se ha enviado a {{email}}
                    </h6>
                    <h6>
                        ¿Este no es tu correo electrónico? Clic aquí para cambiarlo
                    </h6>
                    <div class="container-auth-form-btn mt-5">
                        <button mat-flat-button color="primary" class="auth-form-btn" (click)="reestablecer()">
                            Restablecer mi contraseña
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>