<section class="content">
  <div class="siprint row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        style="font-size: 30px; font-weight: bold;">Listado de plantillas de receta</span></div>
  </div>
  <div class="container-fluid noprint">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de Plantillas de Recetas</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Administrador</a>
            </li>
            <li class="breadcrumb-item active">Listado</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader">
                  <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                      <h2>
                        <strong>Listado de Plantillas de Recetas</strong>
                      </h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar" type="text" class="browser-default search-field"
                        (keyup)='filterDatatable($event)' aria-label="Search box">
                    </li>
                  </ul>
                  <ul class="header-buttons">
                    <li>
                      <button mat-mini-fab color="primary" (click)="iraGenerar2()" class="mr-10">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="getPlantillas('si')" class="mr-10">
                        <mat-icon class="col-white">refresh</mat-icon>
                      </button>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="exportToExcel()" class="mr-10">
                        <mat-icon class="col-white">call_made</mat-icon>
                      </button>
                    </li>
                    <li>
                      <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                        class="mr-10">
                        <mat-icon class="col-white">print</mat-icon>
                      </a>
                    </li>
                  </ul>
                </div>
                <ngx-datatable #table class="material" [rows]="plantillas" [scrollbarH]="true" [sortType]="'multi'"
                  [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay plantillas..'}">
                  <ngx-datatable-column name="Título Plantilla de Receta" [width]="130" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Titulo}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nota" [width]="130" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Notas}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Creada por" [width]="130" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.NombreUsuario}} {{row.Apellidos}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name=" Fecha Creación" [width]="130" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.FechaCreacion}}
                    </ng-template>
                  </ngx-datatable-column>
                  <!-- action buttons -->
                  <ngx-datatable-column name="Acciones" sortable="false" [width]="120" [sortable]="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>
                        <mat-icon title="Editar" class="grey-color mr-10 pointer"
                          (click)='editarPlantillaModal(row, editaPlantilla)'>mode_edit</mat-icon>
                        <mat-icon title="Eliminar" class="grey-color mr-10 pointer"
                          (click)="deletePlantilla(row.idPlantilla)">delete</mat-icon>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>

                <!-- Modal editar platilla -->
                <ng-template #editaPlantilla let-modal>
                  <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title">
                      <div class="modal-header ">
                        <div class="modal-about">
                          <div class="font-weight-bold p-t-10 font-17">
                            Modificar Plantilla de Receta</div>
                        </div>
                      </div>
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="cerrarmodal()">
                      <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="m-4" [formGroup]="plantillaForm"
                      (ngSubmit)="updatePlantilla(plantillaForm.getRawValue())">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Título Plantilla de Receta</mat-label>
                            <input matInput formControlName="Titulo" (keyup)="firstLetterUpperCase('Titulo')" required>
                            <mat-error *ngIf="plantillaForm.get('Titulo')?.hasError('required')">
                              El titulo es requerido
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Nota de recetas</mat-label>
                            <textarea type="text" matInput formControlName="Notas" rows="3"
                              (keyup)="firstLetterUpperCase('Notas')" required></textarea>
                            <mat-error *ngIf="plantillaForm.get('Notas')?.hasError('required')">
                              La nota es requerida
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <button class="mr-3" [disabled]="!plantillaForm.valid " mat-raised-button
                            color="primary">Guardar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla a exportar oculta -->
  <div class="siprint col-md-12 table-responsive" #epltable>
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th>
            <div class="col-md-12 text-left">
              <h6>Título Plantilla de Receta</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Nota</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Creada por</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Fecha Creación</h6>
            </div>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of plantillas">
          <td>
            <div>
              <span>{{data.Titulo}}</span>
            </div>
          </td>
          <td>
            <span>{{data.Notas}}</span>
          </td>
          <td>
            <span>{{data.NombreUsuario}} {{data.Apellidos}}</span>
          </td>
          <td>
            <span>{{data.FechaCreacion}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>