<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img"
        style="background-image: url(assets/images/pages/bg-01.png);background-color: #fff!important;">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h3 class="welcome-msg titulo cunia-family">Bienvenido a Sistema Odonto</h3>
          <p class="auth-signup-text xl-font text-muted weight-600">¿Necesitas una cuenta?<a
              routerLink="/authentication/signup" class="sign-up-link xl-font weight-600">Regístrate
            </a></p>
          <h2 class="login-title titulo weight-900">Iniciar sesión</h2>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Tipo de usuario</mat-label>
                  <mat-select required formControlName="tipoUsuario">
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="Doctor">Doctor</mat-option>
                    <mat-option value="Asistente">Asistente</mat-option>
                    <mat-option value="Paciente">Paciente</mat-option>
                  </mat-select>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngFor="let validacion of mensajes_validacion.tipoUsuario">
                    <mat-error class="error-message"
                      *ngIf="authForm.get('tipoUsuario').hasError(validacion.type) && (authForm.get('tipoUsuario').dirty || authForm.get('tipoUsuario').touched)">
                      {{validacion.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nombre de usuario</mat-label>
                  <input matInput type="email" formControlName="username" />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngFor="let validacion of mensajes_validacion.username">
                    <mat-error class="error-message"
                      *ngIf="authForm.get('username').hasError(validacion.type) && (authForm.get('username').dirty || authForm.get('username').touched)">
                      {{validacion.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngFor="let validacion of mensajes_validacion.password">
                    <mat-error class="error-message"
                      *ngIf="authForm.get('password').hasError(validacion.type) && (authForm.get('password').dirty || authForm.get('password').touched)">
                      {{validacion.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="error" class="alert alert-danger mb-0">{{error}}</div>
            <div class="d-flex justify-content-between align-items-center mb-5">
              <a class="txt1 xl-font weight-600" routerLink="/authentication/forgot-password">¿Olvidaste tu
                contraseña?</a>
            </div>
            <div class="container-auth-form-btn">
              <button mat-flat-button color="primary" class="auth-form-btn xl-button" [disabled]="!authForm.valid "
                type="submit">
                Entrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>