<section class="content">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
                src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                style="font-size: 30px; font-weight: bold;">Listado de convenios</span></div>
    </div>
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Listado de Convenios</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Listado</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de Convenios</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="iraGenerar2()" class="mr-10">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary"
                                                (click)="getConvenios('si');getDoctores();getSucursales();"
                                                class="mr-10">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="exportToExcel()"
                                                class="mr-10">
                                                <mat-icon class="col-white">call_made</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')"
                                                type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="dataconv" [scrollbarH]="true"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay convenios..'}">
                                    <!-- user image -->
                                    <ngx-datatable-column name="Convenio" [width]="170" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreConvenio}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="% Dto." [width]="40" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.Descuento}}%
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Sucursal" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div *ngIf="row.NombreSucursal === '' && row.NombreUsuario === ''">
                                                Convenio General
                                            </div>
                                            {{row.NombreSucursal}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Doctor / Doctora" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div *ngIf="row.NombreSucursal === '' && row.NombreUsuario === ''">
                                                Convenio General
                                            </div>
                                            {{row.NombreUsuario}} {{row.Apellidos}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estado" [width]="60" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div *ngIf="row.Status === '0'">
                                                Activo
                                            </div>
                                            <div *ngIf="row.Status === '1'">
                                                Inactivo
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Creación" [width]="80" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaCreacion}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actualización" [width]="80" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaMod}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acciones" [width]="170" [sortable]="false">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Editar" class="grey-color mr-10 pointer"
                                                    *ngIf="row.Status === '0'"
                                                    (click)="editarConvenioModal(row, editaConvenio)">mode_edit
                                                </mat-icon>
                                                <mat-icon title="Editar" class="grey-color mr-10 pointer"
                                                    *ngIf="row.Status === '1'">mode_edit
                                                </mat-icon>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    *ngIf="row.Status === '0'" (click)="modalCancelar(row, cancelaC)">
                                                    block</mat-icon>
                                                <mat-icon title="deshabilitar" *ngIf="row.Status === '1'"
                                                    class="grey-color mr-10 pointer"
                                                    (click)="deshabilitarConvenio(row)">
                                                    check_circle
                                                </mat-icon>
                                                <mat-icon title="Historial" class="grey-color mr-10 pointer"
                                                    (click)="modalHistorial(row, historialC)">
                                                    history</mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>

                                <!-- Modal editar convenio -->
                                <ng-template #editaConvenio let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title">
                                            <div class="modal-header ">
                                                <div class="modal-about">
                                                    <div class="font-weight-bold p-t-10 font-17">
                                                        {{nombreConvenio}}</div>
                                                </div>
                                            </div>
                                        </h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="cerrarmodal(convenioForm)">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="m-4" #FormGroupDirective [formGroup]="convenioForm">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Nombre del convenio a realizar</mat-label>
                                                        <input matInput formControlName="NombreConvenio" required
                                                            (keyup)="firstLetterUpperCase('NombreConvenio')" />
                                                        <mat-error
                                                            *ngIf="convenioForm.get('nombre')?.hasError('required')">
                                                            El nombre es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Porcentaje a descontar</mat-label>
                                                        <input type="number" min="0" max="100" matInput
                                                            formControlName="Descuento" required>
                                                        <mat-icon [inline]="true" matSuffix
                                                            style="font-weight: bold;font-size: 16px;">%</mat-icon>
                                                        <mat-error
                                                            *ngIf="convenioForm.get('Descuento')?.hasError('required')">
                                                            El descuento es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-select required formControlName="idDoctor">
                                                            <mat-option *ngFor="let doc of doctores"
                                                                value="{{doc.idUsuario}}">{{doc.NombreUsuario}}
                                                                {{doc.Apellidos}}</mat-option>
                                                        </mat-select>
                                                        <mat-label>
                                                            Selecciona un Doctor
                                                        </mat-label>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Dirección</mat-label>
                                                        <input matInput formControlName="direccion"
                                                            ngx-google-places-autocomplete [options]='options'
                                                            #placesRef="ngx-places"
                                                            (onAddressChange)="handleAddressChange($event)" required>
                                                        <mat-error
                                                            *ngIf="convenioForm.get('direccion')?.hasError('required')">
                                                            La direccion es requerida
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>
                                                            Sitio web
                                                        </mat-label>
                                                        <input matInput formControlName="sitio" required>
                                                        <mat-error
                                                            *ngIf="convenioForm.get('sitio')?.hasError('required')">
                                                            El sitio web es reuqerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <input matInput formControlName="email" required>
                                                        <mat-label>
                                                            Email
                                                        </mat-label>
                                                        <mat-error
                                                            *ngIf="convenioForm.get('email')?.hasError('required')">
                                                            El email web es reuqerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>
                                                            Teléfono
                                                        </mat-label>
                                                        <input matInput type="text"
                                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                            maxlength="10" formControlName="telefono" required>
                                                        <mat-error
                                                            *ngIf="convenioForm.get('telefono')?.hasError('required')">
                                                            El telefono es reuqerido
                                                        </mat-error>
                                                        <mat-error
                                                            *ngIf="convenioForm.get('telefono')?.hasError('minlength')">
                                                            El telefono debe ser minimo de 10 caracteres
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>
                                                            Selecciona una sucursal
                                                        </mat-label>
                                                        <mat-select formControlName="idSucursal">
                                                            <mat-option value="0" (click)="desactivaDoctor()">Convenio
                                                                general</mat-option>
                                                            <mat-option *ngFor="let suc of sucursales"
                                                                value="{{suc.idSucursal}}"
                                                                (click)="desactivaDoctor(suc.idSucursal)">
                                                                {{suc.NombreSucursal}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Notas del convenio</mat-label>
                                                        <textarea matInput formControlName="Notas"></textarea>
                                                        <mat-error
                                                            *ngIf="convenioForm.get('Notas')?.hasError('maxlength')">
                                                            Las notas deben ser maximo de 80 caracteres
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                    <button (click)="editarConvenio(convenioForm.getRawValue())"
                                                        class="mr-3" mat-raised-button
                                                        color="primary">Modificar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>

                                <!-- Modal cancelacion -->
                                <ng-template #cancelaC let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title">
                                            <div class="modal-header ">
                                                <div class="modal-about">
                                                    <div class="font-weight-bold p-t-10 font-17">
                                                        Cancelar convenio</div>
                                                </div>
                                            </div>
                                        </h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="cerrarmodal(CancelaForm)">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="m-4" #FormGroupDirective [formGroup]="CancelaForm">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-12">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Motivo de desactivación</mat-label>
                                                        <textarea matInput formControlName="motivo" required rows="4">
                              </textarea>
                                                        <mat-error
                                                            *ngIf="CancelaForm.get('motivo')?.hasError('required')">
                                                            El motivo es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div
                                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-center">
                                                    <button (click)="cancelConvenio(CancelaForm, 1)" class="mr-3"
                                                        mat-raised-button color="primary">Desactivar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>

                                <!-- Modal historial-->
                                <ng-template #historialC let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title">
                                            <div class="modal-header ">
                                                <div class="modal-about">
                                                    <div class="font-weight-bold p-t-10 font-17">
                                                        {{nombreConvenio}}
                                                    </div>
                                                </div>
                                            </div>
                                        </h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="cerrarmodalhistorial()">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ngx-datatable #table class="material" [rows]="historialconv"
                                            [columns]="columns" [sortType]="'multi'" [columnMode]="'force'"
                                            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10">
                                            <ngx-datatable-column name="Fecha Acción" [width]="130">
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    {{row.fecha}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Acción" [width]="130">
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    {{row.accion}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Motivo" [width]="130">
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    {{row.motivo}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Usuario" [width]="130">
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    {{row.NombreUsuario}} {{row.Apellidos}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla a exportar oculta -->
    <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Convenio</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>% Dto.</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-3">Sucursal</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Doctor / Doctora</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Estado</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Creación</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Actualización</h6>
                        </div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conv of dataconv">
                    <td>
                        <div>
                            <span>{{conv.NombreConvenio}}</span>
                        </div>
                    </td>
                    <td>
                        <span>{{conv.Descuento}}%</span>
                    </td>
                    <td>
                        <span>
                            <div *ngIf="conv.NombreSucursal === '' && conv.NombreUsuario === ''">
                                Convenio General
                            </div>
                            {{conv.NombreSucursal}}
                        </span>
                    </td>
                    <td>
                        <span>
                            <div *ngIf="conv.NombreSucursal === '' && conv.NombreUsuario === ''">
                                Convenio General
                            </div>
                            {{conv.NombreUsuario}} {{conv.Apellidos}}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="conv.Status === '0'">
                            Activo
                        </div>
                        <div *ngIf="conv.Status === '1'">
                            Inactivo
                        </div>
                    </td>
                    <td>
                        <span>{{conv.FechaCreacion}}</span>
                    </td>
                    <td>
                        <span>{{conv.FechaMod}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>