<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-01.png);background-color: #fff!important;">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section py-5">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg titulo cunia-family">Regístrate</h2>
          <p class="auth-signup-text text-muted xl-font weight-600">Ingrese sus datos para crear su cuenta</p>
          <form class="validate-form" [formGroup]="RegistroForm">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput id="nombre" formControlName="nombreUsuario"
                    (keyup)="firstWordUpercase('nombre')" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="RegistroForm.get('nombreUsuario').hasError('required')">
                    El Nombre es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Apellido(s)</mat-label>
                  <input matInput id="apellido" formControlName="apellido"
                    (keyup)="firstWordUpercase('apellido')" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="RegistroForm.get('apellido').hasError('required')">
                    El apellido es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Genero</mat-label>
                  <mat-select matInput formControlName="genero" required>
                    <mat-option value="Hombre">
                      Hombre
                    </mat-option>
                    <mat-option value="Mujer">
                      Mujer
                    </mat-option>
                    <mat-option value="Indistinto">
                      Indistinto
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput formControlName="correo" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error
                    *ngIf="RegistroForm.get('correo').hasError('required') || RegistroForm.get('correo').touched">
                    El Correo electrónico es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>País</mat-label>
                  <select matNativeControl [(ngModel)]="pais" [ngModelOptions]="{standalone: true}" name="p">
                    <ng-container *ngFor="let pai of paises">
                      <option value="{{ pai.id }}">
                        {{pai.paisnombre}}
                      </option>
                    </ng-container>
                  </select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <input matInput onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                    formControlName="telefono" required>
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="RegistroForm.get('telefono').hasError('required')">
                    El Teléfono es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Dirección</mat-label>
                  <input matInput formControlName="direccion" ngx-google-places-autocomplete [options]='options'
                    #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" required>
                  <mat-icon matSuffix>directions</mat-icon>
                  <mat-error *ngIf="RegistroForm.get('direccion').hasError('required')">
                    La dirección es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <mat-slide-toggle #toggle>
                Ver detalles de contraseña
              </mat-slide-toggle>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput formControlName="contra" [type]="hide ? 'password' : 'text'" #password required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <mat-password-strength #passwordComponent [password]="password.value">
                </mat-password-strength>
                <mat-error *ngIf="RegistroForm.get('contra').hasError('required')">
                  La contraseña es requerida
                </mat-error>
                <mat-password-strength-info *ngIf="toggle.checked" [passwordComponent]="passwordComponent"
                  lowerCaseCriteriaMsg="Contiene al menos un letra minúscula"
                  upperCaseCriteriaMsg="Contiene al menos un letra mayúscula"
                  digitsCriteriaMsg="Contiene al menos un número"
                  specialCharsCriteriaMsg="Contiene al menos un carácter especial"
                  minCharsCriteriaMsg="Contiene al menos 8 caracteres" [enableScoreInfo]="false">
                </mat-password-strength-info>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-checkbox formControlName="terminos" class="example-margin">
                  <a (click)="openModal(terminos)">
                    Terminos y condiciones
                  </a>
                </mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirmar contraseña</mat-label>
                  <input matInput formControlName="contraC" [type]="chide ? 'password' : 'text'" (keyup)="matchPass()" required>
                  <mat-icon matSuffix (click)="chide = !chide">
                    {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="RegistroForm.get('contraC').hasError('required')">
                      Confirmar contraseña es requerido
                    </mat-error>
                    <mat-error *ngIf="matchpass&&!verPagos">
                      Las contraseñas deben ser iguales
                    </mat-error>
                  </mat-form-field>
              </div>
            </div>
            <label class="font-weight-bold xl-font">Selecciona tu método de pago</label>
            <br>
            <div class="row" *ngIf="RegistroForm.valid">
              <div class="col-md-6 py-3">
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                <!-- <div id="roott">
                </div> -->
              </div>
              <div class="col-md-6 py-3">
                <button mat-flat-button class="btn btn_stripe" type="button" (click)="verFormCard()">
                  <img src="assets/images/stripe.png" class="stripe_img" alt="stripe logo">
                </button>
              </div>
              <div class="col-md-12 p-3" style="border:1px solid black;" *ngIf="showFormCard">
                <form novalidate [formGroup]="stripeTest">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre en la tarjeta</mat-label>
                    <input matInput formControlName="name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32" required>
                  </mat-form-field>
                  <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                  <button mat-flat-button color="primary" class="auth-form-btn mt-3" [disabled]="!stripeTest.valid"
                    type="button" (click)="createToken()">
                    Registrarse
                  </button>
                </form>
              </div>
            </div>
            <div class="flex-sb-m w-full p-b-20 pt-3">
              <div>
                <span>¿Ya tienes una cuenta?<a routerLink="/authentication/signin">
                    Iniciar Sesión
                  </a></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #terminos let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Terminos y condiciones</h4>
    <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam itaque cum asperiores quod corporis odio
      praesentium sed dignissimos et recusandae? Sint nam aut voluptate optio asperiores id ex corrupti illo.
      Voluptatum omnis aspernatur atque sit soluta cumque officiis earum, at eos eius officia optio vitae placeat
      sed neque quae laudantium, accusantium consectetur dolore nemo nihil praesentium porro voluptates fuga.
      Corporis!
      Distinctio obcaecati itaque quas optio nam impedit ratione unde, est iure corporis, odit modi id fugiat
      porro nemo facilis cumque necessitatibus qui temporibus. Odit velit enim unde atque deleniti ipsam.
      Numquam doloremque nostrum magni est maxime dolore repellendus debitis enim, autem blanditiis in magnam
      voluptatum aspernatur atque dolorem ad iusto ipsum soluta quasi quia, quos cupiditate! Eveniet accusamus
      ipsam repudiandae.
      Iure provident explicabo ipsam odit reiciendis quia fuga illo quae odio a, doloremque voluptas dolorem
      necessitatibus eius, dolores excepturi similique tempore repellendus? Consequatur minima ab voluptatem
      possimus accusamus blanditiis excepturi!
      Velit aliquam, vel amet optio, perspiciatis, alias repellat non voluptates atque harum cupiditate laboriosam
      neque rem. Ex, corporis dolor molestiae odio quae placeat totam? Modi voluptates laborum magnam tempore
      repellat.
      Omnis amet atque accusamus magnam. Doloribus ipsam aut accusamus. Vero labore harum velit reiciendis earum
      incidunt id modi natus, aut atque obcaecati dolorem consectetur repellat pariatur sequi unde possimus!
      Officiis!
      Vitae reprehenderit molestiae voluptatum commodi tempore earum veniam rem ut consectetur ullam. Ratione
      velit, similique illo aliquam sapiente non possimus perferendis voluptas quae placeat quibusdam ad
      voluptatibus dignissimos cupiditate illum.
      Itaque, quaerat? At tempore consectetur similique inventore deserunt numquam, laudantium ducimus dolorum
      aliquid dolor maiores iure neque culpa nobis enim soluta et eaque porro. Optio illo officia aspernatur sit
      nemo!
      Similique porro qui adipisci alias repellat laboriosam distinctio aliquam perferendis, quae excepturi
      sapiente ipsum nostrum deserunt, cum tenetur quo accusantium nemo cupiditate quis illo quisquam quia
      officiis natus laudantium. Quaerat.</p>
  </div>
</ng-template>