<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-01.png);background-color: #fff!important;">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg weight-900">Recuperar contraseña</h2>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="checkEmail(authForm.value)">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="p-t-20 p-b-15 weight-600">
                  A continuación, ingrese su correo electrónico
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                    El Correo electrónico es requerido
                  </mat-error>
                  <mat-error *ngIf="authForm.get('email').hasError('pattern')">
                    El Correo electrónico debe ser valido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                Restablecer mi contraseña
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1 weight-600">
                  Iniciar sesión
                </a>
              </div>
            </div>
            <div class="w-full p-t-25 text-center weight-600" style="font-size:12px">
              Contacto@odontosystem.com | Soporte@odontosystem.com
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
