<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Doctor</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#" onClick="return false;">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Citas</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <div class="m-b-25">
                                    <button mat-raised-button color="primary" (click)="abrirModal(nuevacita)">
                                        Crear Cita
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <div class="panel-body">
                                    <full-calendar [options]='calendarOptions'>
                                    </full-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Agregar cita Modal-->
<ng-template #nuevacita let-modal>
    <div class="modal-header editRowModal">
        <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header ">
                <img src="../../../../assets/images/user_default.png" class="img-modal" />
            </div>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal(nuevaCitaForm)">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button>
    </div>
    <div class="modal-body">
        <form class="register-form" [formGroup]="nuevaCitaForm" (ngSubmit)="guardarNuevaCita(nuevaCitaForm)">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Paciente</mat-label>
                        <mat-select formControlName="idPacientes" required>
                            <mat-option *ngFor="let paciente of pacientes" value="{{paciente.idPacientes}}"
                                (click)="patchValue(paciente)">
                                {{paciente.Nombre}} {{paciente.Apellido}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="nuevaCitaForm.get('idPacientes').hasError('required')">
                            El nombre del paciente es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Selecciona una fecha</mat-label>
                        <!-- <input matInput type="date" formControlName="fecha"> -->
                        <input [min]="fechaLimite" matInput [matDatepicker]="picker" formControlName="Fecha" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="nuevaCitaForm.get('Fecha').hasError('required')">
                            La Fecha es requerida
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Horario</mat-label>
                        <input matInput formControlName="Horario" type="time" required>
                        <mat-error *ngIf="nuevaCitaForm.get('Horario').hasError('required')">
                            El horario es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Motivo</mat-label>
                        <mat-select formControlName="Motivos" required>
                            <mat-option *ngFor="let motivo of motivos" value="{{motivo.idMotivo}}">
                                {{motivo.NombreMotivo}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="nuevaCitaForm.get('Motivos').hasError('required')">
                            El motivo es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Servicio</mat-label>
                        <mat-select formControlName="idServicios" required>
                            <mat-option *ngFor="let servicio of servicios" value="{{servicio.idServicios}}">
                                {{servicio.Nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="nuevaCitaForm.get('idServicios').hasError('required')">
                            El servicio es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Estatus de la cita</mat-label>
                        <mat-select formControlName="EstatusCita" required>
                            <mat-option value="Por confirmar">
                                No confirmado
                            </mat-option>
                            <mat-option value="Confirmado">
                                Confirmado
                            </mat-option>
                            <mat-option value="Hora Cancelada">
                                Hora Cancelada
                            </mat-option>
                            <mat-option value="Finalizada">
                                Atendido
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="nuevaCitaForm.get('EstatusCita').hasError('required')">
                            El estatus de la cita es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Observaciones</mat-label>
                        <textarea matInput formControlName="Observaciones"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="mr-3" [disabled]="!nuevaCitaForm.valid" mat-raised-button color="primary">
                        {{ modalInfo ? 'Actualizar' : 'Guardar'}}
                    </button>

                    <button *ngIf="modalInfo" type="button" style="margin-left: 10px;" mat-raised-button color="accent" (click)="deleteCita(nuevaCitaForm)">
                        Eliminar cita
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>