<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Reportes de pacientes</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Reportes</a>
            </li>
            <li class="breadcrumb-item active">Reportes de pacientes</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Reportes de pacientes</strong></h2>
          </div>
          <div class="body">
            <form>
              <div class="row" style="max-width:100%;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Tipo de Reportes</mat-label>
                    <mat-select [(ngModel)]="tipoReporte" [ngModelOptions]="{standalone: true}"
                      (selectionChange)="selectReport()" required>
                      <mat-option [value]="'1'">Listado de pacientes</mat-option>
                      <mat-option [value]="'2'">Listado de pacientes atendidos</mat-option>
                      <mat-option [value]="'5'">Listado de pacientes con cita no atendidos</mat-option>
                      <mat-option [value]="'7'">Listado de pacientes nunca atendidos</mat-option>
                      <mat-option [value]="'8'">Listado de pacientes sin tratamiento iniciado</mat-option>
                      <mat-option [value]="'11'">Cuenta corriente</mat-option>
                      <mat-option [value]="'13'">Pacientes atendidos sin historial</mat-option>
                      <mat-option [value]="'14'">Últimos agendamientos</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="row" style="max-width:100%;" *ngIf="tipoReporte === '12'">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-select [(ngModel)]="sucu" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let val of sucursales" [value]="val.idSucursal">{{val.NombreSucursal}}
                    </mat-option>
                  </mat-select>
                  <mat-label>Selecciona una sucursal</mat-label>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Doctor</mat-label>
                  <mat-select [(ngModel)]="doc" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let doctor of doctores" [value]="doctor.idUsuario">
                      {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Meses</mat-label>
                  <mat-select [(ngModel)]="meses" [ngModelOptions]="{standalone: true}" required>
                    <mat-option [value]="'3'">3 meses</mat-option>
                    <mat-option [value]="'6'">6 meses</mat-option>
                    <mat-option [value]="'12'">12 meses</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row" style="max-width:100%;">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row">
                  <button [disabled]="sucu === '' || doc === '' || meses === ''" *ngIf="tipoReporte==='12'"
                    mat-raised-button color="primary">Mostrar Reporte</button>
                </div>
              </div>
            </div>
            <div class="table-responsive siprint" #epltable>
              <button mat-mini-fab color="primary" (click)="exportToExcel()" class="mr-10">
                <mat-icon class="col-white">call_made</mat-icon>
              </button>
              <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit" class="mr-10">
                <mat-icon class="col-white">print</mat-icon>
              </a>
              <table class="table table-hover" *ngIf="!cuenta&&!citas">
                <thead>
                  <tr>
                    <th>Nombre(s)</th>
                    <th>Apellido(s)</th>
                    <th>Teléfono</th>
                    <th>Genero</th>
                    <th>Doctor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of pacientes">
                    <td>{{paciente.Nombre}}</td>
                    <td>{{paciente.Apellido}}</td>
                    <td>{{paciente.Celular}}</td>
                    <td>{{paciente.Genero}}</td>
                    <td>{{paciente.NombreUsuario}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-hover" *ngIf="cuenta">
                <thead>
                  <tr>
                    <th>Nombre(s)</th>
                    <th>Presupuesto</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Abonos</th>
                    <th>Saldo pendiente</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of pacientes">
                    <td>{{paciente.paciente}}</td>
                    <td>{{paciente.Nombre}}</td>
                    <td>{{paciente.Fecha}}</td>
                    <td>{{paciente.Total | number : '1.2-2'}}</td>
                    <td>{{paciente.pago | number : '1.2-2'}}</td>
                    <td>{{paciente.pendiente | number : '1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-hover" *ngIf="citas">
                <thead>
                  <tr>
                    <th>Paciente</th>
                    <th>Doctor</th>
                    <th>Motivo</th>
                    <th>Servicio</th>
                    <th>Estatus</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let paciente of pacientes">
                    <td>{{paciente.NombrePaciente}}</td>
                    <td>{{paciente.NombreUsuario}}</td>
                    <td>{{paciente.NombreMotivo}}</td>
                    <td>{{paciente.NombreServicio}}</td>
                    <td>{{paciente.EstatusCita}}</td>
                    <td>{{paciente.FechaCita}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>