<section class="content">
  <div class="siprint row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        style="font-size: 30px; font-weight: bold;">Listado de sucursales</span></div>
  </div>
  <div class="container-fluid noprint">
    <div class="block-header noprint">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de Sucursales</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Configuración</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Sucursales</a>
            </li>
            <li class="breadcrumb-item active">Listado de Sucursales</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader noprint">
                  <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                      <h2>
                        <strong>Listado de Sucursales</strong>
                      </h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar" type="text" class="browser-default search-field"
                        (keyup)='filterDatatable($event)' aria-label="Search box">
                    </li>
                  </ul>
                  <ul class="header-buttons" *ngIf="idClinica > 0">
                    <li>
                      <a mat-mini-fab color="primary" routerLink="/admin/configuracion/nueva-sucursal" class="mr-10">
                        <mat-icon class="col-white">add</mat-icon>
                      </a>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="getSucursales('si')" class="mr-10">
                        <mat-icon class="col-white">refresh</mat-icon>
                      </button>
                    </li>
                    <li>
                      <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                        class="mr-10">
                        <mat-icon class="col-white">print</mat-icon>
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <ngx-datatable #table class="material" [rows]="sucursales" [sortType]="'multi'" [scrollbarH]="true"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                    [messages]="{emptyMessage: 'No hay sucursales..'}">
                    <ngx-datatable-column name="Logo" [width]="40">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td class="table-img padding-0">
                          <img *ngIf="row.Logo !== ''" width="80"
                            src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Logo || 'user_default.png'}}"
                            class="img__table" />
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre" [width]="100">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.NombreSucursal}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Direccion" [width]="100">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Direccion}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Whatsapp" [width]="60">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Whatsapp}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Correo" [width]="100">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Correo.length>19 ? (row.Correo | slice:0:17) + '..' : row.Correo}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [width]="60">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>
                          <mat-icon class="grey-color mr-10 pointer" title="Editar Información"
                            (click)='editarSucursal(row, editModal)' *ngIf="row.Matriz === ''">edit</mat-icon>
                          <mat-icon class="grey-color pointer" title="Eliminar" (click)='eliminarSucu(row)'
                            *ngIf="row.Matriz === ''">delete</mat-icon>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #editModal let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="modal-header ">
          <img class="img-modal" src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{nameImagen}}" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
              Modificar Sucursal</div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarmodal(sucursalForm)">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="register-form" [formGroup]="sucursalForm" (ngSubmit)="preUpdate(sucursalForm.getRawValue())">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombre de sucursal</mat-label>
              <input matInput formControlName="NombreSucursal" (keyup)="firstLetterUpperCase('NombreSucursal')"
                required>
              <mat-error *ngIf="sucursalForm.get('NombreSucursal')?.hasError('required')">
                El nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Nombre corto</mat-label>
              <input type="text" matInput formControlName="Nombrecorto" (keyup)="firstLetterUpperCase('Nombrecorto')">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Dirección</mat-label>
              <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                (onAddressChange)="handleAddressChange($event)" formControlName="Direccion" required>
              <mat-error *ngIf="sucursalForm.get('Direccion')?.hasError('required')">
                La dirección es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Selecciona tu lada</mat-label>
              <mat-select formControlName="codTelefono" required>
                <mat-option *ngFor="let cod of codigos" value="{{cod.dial_code}}">
                  {{cod.name_es}}: {{cod.dial_code}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Telefono principal</mat-label>
              <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                matInput formControlName="Telefono">
              <mat-error *ngIf="sucursalForm.get('Telefono')?.hasError('minlength')">
                El telefono debe ser minimo de 10 números
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Selecciona tu lada</mat-label>
              <mat-select formControlName="codWhatsapp" required>
                <mat-option *ngFor="let cod of codigos" value="{{cod.dial_code}}">
                  {{cod.name_es}}: {{cod.dial_code}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Numero de Mensajeria</mat-label>
              <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                matInput formControlName="Whatsapp">
              <mat-error *ngIf="sucursalForm.get('Whatsapp')?.hasError('minlength')">
                El tel. de mensajeria debe ser minimo de 10 números
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Correo Electronico</mat-label>
              <input type="email" matInput formControlName="Correo">
              <mat-error *ngIf="sucursalForm.get('Correo')?.hasError('pattern')">
                Debe ingresar un correo valido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <span>*El logo debe ser en formato jpg, jpeg o png, no pesar más de 1MB. Medidas
              ideales:
              500 x 500</span>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>{{nameImagen}}</mat-label>
              <ngx-mat-file-input (change)="cargarImagen($event)" accept="image/*">
              </ngx-mat-file-input>
              <mat-icon matSuffix>cloud_upload</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <button class="mr-3" [disabled]="!sucursalForm.valid" mat-raised-button color="primary" type="submit">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <div class="col-md-12 table-responsive siprint" id="epltable" #epltable>
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th>
            <div class="col-md-12 text-left">
              <h6>Nombre</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Direccion</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6 class="ml-3">Whatsapp</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6 class="ml-12">Correo</h6>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sucu of sucursales">
          <td>
            <div>
              <span>{{sucu.NombreSucursal}}</span>
            </div>
          </td>
          <td>
            <span>{{sucu.Direccion}}</span>
          </td>
          <td>
            <span>{{sucu.Whatsapp}}</span>
          </td>
          <td>
            <span>{{sucu.Correo}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>