<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Nueva Sucursal</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Configuración</a>
                        </li>
                        <li class="breadcrumb-item active">Nueva Sucursal</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Nueva Sucursal</strong></h2>
                    </div>
                    <div class="body">
                        <form class="register-form" [formGroup]="sucursalForm"
                            (ngSubmit)="preUpdate(sucursalForm.getRawValue())">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre de sucursal</mat-label>
                                        <input matInput formControlName="NombreSucursal"
                                            (keyup)="firstLetterUpperCase('NombreSucursal')" required>
                                        <mat-error *ngIf="sucursalForm.get('NombreSucursal')?.hasError('required')">
                                            El nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Nombre corto</mat-label>
                                        <input type="text" matInput formControlName="Nombrecorto"
                                            (keyup)="firstLetterUpperCase('Nombrecorto')">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Dirección</mat-label>
                                        <input matInput ngx-google-places-autocomplete [options]='options'
                                            #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                                            formControlName="Direccion" required>
                                        <mat-error *ngIf="sucursalForm.get('Direccion')?.hasError('required')">
                                            La dirección es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Selecciona tu lada</mat-label>
                                        <mat-select formControlName="codTelefono" required>
                                            <mat-option *ngFor="let cod of codigos" value="{{cod.dial_code}}">
                                                {{cod.name_es}}: {{cod.dial_code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Telefono principal</mat-label>
                                        <input type="text"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="10" matInput formControlName="Telefono">
                                        <mat-error *ngIf="sucursalForm.get('Telefono')?.hasError('minlength')">
                                            El telefono debe ser minimo de 10 números
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Selecciona tu lada</mat-label>
                                        <mat-select formControlName="codWhatsapp" required>
                                            <mat-option *ngFor="let cod of codigos" value="{{cod.dial_code}}">
                                                {{cod.name_es}}: {{cod.dial_code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Numero de Mensajeria</mat-label>
                                        <input type="text"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="10" matInput formControlName="Whatsapp">
                                        <mat-error *ngIf="sucursalForm.get('Whatsapp')?.hasError('minlength')">
                                            El tel. de mensajeria debe ser minimo de 10 números
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Correo Electronico</mat-label>
                                        <input type="email" matInput formControlName="Correo">
                                        <mat-error *ngIf="sucursalForm.get('Correo')?.hasError('pattern')">
                                            Debe ingresar un correo valido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <span>*El logo debe ser en formato jpg, jpeg o png, no pesar más de 1MB. Medidas
                                        ideales:
                                        500 x 500</span>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Logo de sucursal</mat-label>
                                        <ngx-mat-file-input (change)="cargarImagen($event)" accept="image/*">
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>cloud_upload</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="mr-3" [disabled]="!sucursalForm.valid" mat-raised-button
                                        color="primary" type="submit">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>