<div class="auth-container bg__white">
    <div class="row auth-main">
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
            </div>
        </div>
        <div class="col-sm-6 auth-form-section">
            <div class="form-section">
                <div class="auth-wrapper">
                    <div class="text-center mb-5">
                        <h4>Crear contraseña para:</h4>
                        <h3 class="welcome-msg">Ususario@gmail.com</h3>
                    </div>
                    <form class="validate-form" [formGroup]="restablecerForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-slide-toggle #toggle>Ver detalles de contraseña</mat-slide-toggle>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Contraseña</mat-label>
                                    <mat-pass-toggle-visibility #toggleVisbility matSuffix></mat-pass-toggle-visibility>
                                    <input formControlName="contra" matInput #password [type]="toggleVisbility.type"
                                        required>
                                </mat-form-field>
                                <mat-password-strength #passwordComponent [password]="password.value">
                                </mat-password-strength>
                                <mat-password-strength-info *ngIf="toggle.checked"
                                    [passwordComponent]="passwordComponent"
                                    lowerCaseCriteriaMsg="Contiene al menos un letra minúscula"
                                    upperCaseCriteriaMsg="Contiene al menos un letra mayúscula"
                                    digitsCriteriaMsg="Contiene al menos un número"
                                    specialCharsCriteriaMsg="Contiene al menos un caracter especial"
                                    minCharsCriteriaMsg="Contiene al menos 8 caracteres" [enableScoreInfo]="false">
                                </mat-password-strength-info>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Confirmar contraseña</mat-label>
                                    <input matInput formControlName="contrac" [type]="chide ? 'password' : 'text'"
                                        required (change)="validarpass()">
                                    <mat-icon matSuffix (click)="chide = !chide">
                                        {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngFor="let validacion of mensajes_validacion.contrac">
                                        <mat-error class="error-message"
                                            *ngIf="restablecerForm.get('contrac').hasError(validacion.type) && (restablecerForm.get('contrac').dirty || restablecerForm.get('contrac').touched)">
                                            {{validacion.message}}</mat-error>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="container-auth-form-btn mt-5">
                            <button mat-flat-button color="primary" class="auth-form-btn"
                                [disabled]="!restablecerForm.valid " type="submit">
                                Crear contraseña
                            </button>
                        </div>
                        <div class="w-full p-t-25 text-center">
                            <div>
                                <a routerLink="/authentication/signin" class="txt1">
                                    Iniciar sesión?
                                </a>
                            </div>
                        </div>
                    </form><span style="color:red;">Todos los campos con * son obligatorios</span>
                </div>
            </div>
        </div>

    </div>
</div>