<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Perfil administrador</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i>Home</a>
                        </li>
                        <!-- <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Perfil</a>
                        </li> -->
                        <li class="breadcrumb-item active">Perfil</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">
                                    {{user.NombreUsuario}} {{user?.Apellidos?.length > 13 ? (user.Apellidos |
                                    slice:0:10) + '..' : user.Apellidos}}
                                </div>
                                <div class="name-center">
                                    {{user.Tipo_usuario}}
                                </div>
                            </div>
                            <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{user.Imagen}}"
                                class="user-img">
                            <p>
                                {{user.Correo}}
                            </p>
                            <div>
                                <span class="phone">
                                    <i class="material-icons">phone</i>
                                    {{user.Celular}}
                                </span>
                            </div>
                            <div>
                                <button mat-raised-button [color]="user.statusSubscripcion!=='pagado'?'primary':'warn'"
                                    (click)="cancelSuscription()">
                                    {{user.statusSubscripcion!=='pagado'?'Reanudar':'Cancelar'}} suscripción
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">
                                    settings
                                </mat-icon>
                                Editar
                            </ng-template>
                            <div class="header">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <h2>
                                        <strong>
                                            Cambiar contraseña
                                        </strong>
                                    </h2>
                                </div>
                            </div>
                            <div class="body">
                                <form *ngIf="passwordForm" [formGroup]="passwordForm"
                                    (ngSubmit)="updatePassword(passwordForm.value)">
                                    <div class="example-container">
                                        <div class="row">
                                            <mat-slide-toggle #toggle>
                                                Ver detalles de contraseña
                                            </mat-slide-toggle>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>
                                                        Contraseña
                                                    </mat-label>
                                                    <mat-pass-toggle-visibility #toggleVisbility matSuffix>
                                                    </mat-pass-toggle-visibility>
                                                    <input matInput formControlName="password" matInput #password
                                                        [type]="toggleVisbility.type" required>
                                                </mat-form-field>
                                                <mat-password-strength #passwordComponent [password]="password.value">
                                                </mat-password-strength>
                                                <mat-error
                                                    *ngIf="passwordForm.get('password').hasError('required') && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
                                                    La contraseña es requerida
                                                </mat-error>
                                                <mat-password-strength-info *ngIf="toggle.checked"
                                                    [passwordComponent]="passwordComponent"
                                                    lowerCaseCriteriaMsg="Contiene al menos un letra minúscula"
                                                    upperCaseCriteriaMsg="Contiene al menos un letra mayúscula"
                                                    digitsCriteriaMsg="Contiene al menos un número"
                                                    specialCharsCriteriaMsg="Contiene al menos un carácter especial"
                                                    minCharsCriteriaMsg="Contiene al menos 8 caracteres"
                                                    [enableScoreInfo]="false">
                                                </mat-password-strength-info>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>
                                                        Confirmar contraseña
                                                    </mat-label>
                                                    <input matInput [type]="hide2 ? 'text' : 'password'"
                                                        formControlName="cpassword" required>
                                                    <a class="show-pwd-icon" onClick="return false;" matSuffix
                                                        (click)="changeView2()" [attr.aria-label]="'Hide password'"
                                                        [attr.aria-pressed]="hide2">
                                                        <mat-icon>
                                                            {{hide2 ? 'visibility' : 'visibility_off'}}
                                                        </mat-icon>
                                                    </a>
                                                    <mat-error
                                                        *ngIf="passwordForm.get('cpassword').hasError('required') && passwordForm.get('cpassword').touched">
                                                        La contraseña es requerida
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="passwordForm.get('cpassword').hasError('minlength') && passwordForm.get('cpassword').touched">
                                                        La contraseña debe contener minimo 8 caracteres
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button mat-raised-button color="primary"
                                                    [disabled]="!passwordForm.valid">
                                                    ACTUALIZAR
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="header">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-2">
                                    <h2>
                                        <strong>
                                            Información
                                        </strong>
                                    </h2>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2 text-center">
                                    <button mat-raised-button color="primary" (click)="activarFormulario()">
                                        Editar
                                    </button>
                                </div>
                            </div>
                            <div class="body">
                                <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="preUpdate(userForm.value)">
                                    <div class="example-container">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>
                                                        Nombre
                                                    </mat-label>
                                                    <input matInput id="name" (keyup)="firstWordUpercase('name')"
                                                        formControlName="nombre"
                                                        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32"
                                                        required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>
                                                        Apellidos
                                                    </mat-label>
                                                    <input matInput id="lasName" (keyup)="firstWordUpercase('lasName')"
                                                        formControlName="apellido"
                                                        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32"
                                                        required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>
                                                        Dirección
                                                    </mat-label>
                                                    <input matInput formControlName="Direccion"
                                                        ngx-google-places-autocomplete [options]='options'
                                                        #placesRef="ngx-places"
                                                        (onAddressChange)="handleAddressChange($event)" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>
                                                        Correo eléctronico
                                                    </mat-label>
                                                    <input matInput formControlName="Correo" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Imagen de perfil</mat-label>
                                                    <ngx-mat-file-input formControlName="img"
                                                        (change)="cargarImagen($event.target.files[0])"
                                                        (click)="onInputClick($event)" accept="image/*">
                                                    </ngx-mat-file-input>
                                                    <mat-icon matSuffix>cloud_upload</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
                                                <button [disabled]="!userForm.valid " mat-raised-button type="submit"
                                                    color="primary">MODIFICAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">
                                    description
                                </mat-icon>
                                Facturación
                            </ng-template>
                            <div class="header">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <h2>
                                        <strong>
                                            Ingrese sus datos fiscales
                                        </strong>
                                    </h2>
                                </div>
                            </div>
                            <div class="body">
                                <form [formGroup]="facturarForm">
                                    <div class="example-container">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Nombre(s)</mat-label>
                                                    <input matInput formControlName="nombre" required>
                                                    <mat-icon matSuffix>
                                                        account_circle
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('nombre').hasError('required')">
                                                        El nombre es requerido
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Apellidos</mat-label>
                                                    <input matInput formControlName="apellido">
                                                    <mat-icon matSuffix>
                                                        account_circle
                                                    </mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Correo electrónico</mat-label>
                                                    <input matInput formControlName="email" required>
                                                    <mat-icon matSuffix>
                                                        email
                                                    </mat-icon>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('email').hasError('required') && (facturarForm.get('email').dirty || facturarForm.get('email').touched)">
                                                        El correo electrónico es requerido
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('email').hasError('pattern') && (facturarForm.get('email').dirty || facturarForm.get('email').touched)">
                                                        El ingresa un correo electrónico valido
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Teléfono</mat-label>
                                                    <input
                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                        maxlength="10" minlength="10" matInput
                                                        formControlName="telefono" required>
                                                    <mat-icon matSuffix>
                                                        phone_enabled
                                                    </mat-icon>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('telefono').hasError('required') && (facturarForm.get('telefono').dirty || facturarForm.get('telefono').touched)">
                                                        El teléfono es requerido
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('telefono').hasError('minlength') && (facturarForm.get('telefono').dirty || facturarForm.get('telefono').touched)">
                                                        El teléfono debe de ser de 10 digitos
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('telefono').hasError('maxlength') && (facturarForm.get('telefono').dirty || facturarForm.get('telefono').touched)">
                                                        El teléfono debe de ser de 10 digitos
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Razón social</mat-label>
                                                    <input id="razons" matInput formControlName="razons"
                                                        (keyup)="firstLetterUppercase('razons')" required>
                                                    <mat-icon matSuffix>
                                                        domain
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('razons').hasError('required')">
                                                        La razón social es requerida
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>RFC</mat-label>
                                                    <input matInput formControlName="rfc" required maxlength="13"
                                                        minlength="12">
                                                    <mat-icon matSuffix>
                                                        domain
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('rfc').hasError('required')">
                                                        El RFC es requerido
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('rfc').hasError('minlength') && (facturarForm.get('rfc').dirty || facturarForm.get('rfc').touched)">
                                                        El RFC debe tener minimo 12 digitos
                                                    </mat-error>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('rfc').hasError('maxlength') && (facturarForm.get('rfc').dirty || facturarForm.get('rfc').touched)">
                                                        El RFC debe tener maximo 13 digitos
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>
                                                        Dirección
                                                    </mat-label>
                                                    <input matInput ngx-google-places-autocomplete [options]='options'
                                                        #placesRef="ngx-places"
                                                        (onAddressChange)="handleAddressChange2($event)" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Calle</mat-label>
                                                    <input id="calle" matInput formControlName="calle"
                                                        (keyup)="firstLetterUppercase('calle')" required>
                                                    <mat-icon matSuffix>
                                                        room
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('calle').hasError('required')">
                                                        La calle es requerida
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Número exterior</mat-label>
                                                    <input matInput formControlName="numero_exterior"
                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                        required>
                                                    <mat-icon matSuffix>
                                                        home_work
                                                    </mat-icon>
                                                    <mat-error
                                                        *ngIf="facturarForm.get('numero_exterior').hasError('required')">
                                                        El número exterior es requerido
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Número interior</mat-label>
                                                    <input matInput formControlName="numero_interior"
                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                        required>
                                                    <mat-icon matSuffix>
                                                        home_work
                                                    </mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Código postal</mat-label>
                                                    <input matInput formControlName="codpos"
                                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                        required>
                                                    <mat-icon matSuffix>
                                                        assistant_direction
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('codpos').hasError('required')">
                                                        El Código postal es requerido
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Colonia</mat-label>
                                                    <input id="colonia" matInput formControlName="colonia"
                                                        (keyup)="firstLetterUppercase('colonia')" required>
                                                    <mat-icon matSuffix>
                                                        assistant_direction
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('colonia').hasError('required')">
                                                        La Colonia es requerida
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Estado</mat-label>
                                                    <input matInput formControlName="estado" required>
                                                    <mat-icon matSuffix>
                                                        assistant_direction
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('estado').hasError('required')">
                                                        El estado es requerido
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Ciudad</mat-label>
                                                    <input matInput formControlName="ciudad" required>
                                                    <mat-icon matSuffix>
                                                        assistant_direction
                                                    </mat-icon>
                                                    <mat-error *ngIf="facturarForm.get('ciudad').hasError('required')">
                                                        La ciudad es requerida
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button mat-raised-button color="primary"
                                                    *ngIf="(!facturarForm.valid&&facturarForm.get('uid').value === '') || user.idFactura!==''"
                                                    (click)="clienteFactura(facturarForm.value)">
                                                    {{user?.idFactura!=='' ? 'Actualizar' :'Registrar'}}
                                                </button>
                                                <button mat-raised-button color="primary"
                                                    *ngIf="(facturarForm.valid&&facturarForm.get('uid').value === '') || user.idFactura!==''"
                                                    (click)="clienteFactura(facturarForm.value)">
                                                    {{user?.idFactura!=='' ? 'Actualizar' :'Registrar'}}
                                                </button>
                                                <button mat-raised-button type="button" color="primary"
                                                    *ngIf="facturarForm.valid&&facturarForm.get('uid').value !== ''&&user.idFactura===''"
                                                    (click)="generarFactura(facturarForm.value)">
                                                    {{'Generar Factura'}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">
                                    description
                                </mat-icon>
                                Recibos
                            </ng-template>
                            <div class="header">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <h2>
                                        <strong>
                                            Historial de facturas
                                        </strong>
                                    </h2>
                                </div>
                            </div>
                            <div class="body">
                                <span>Factura Actual</span>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">idFactura</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="user.idFactura !== ''">
                                            <td>{{user.idFactura}}</td>
                                            <td>
                                                <a class="btn tblActnBtn h-auto" (click)="downloadFactura(user)">
                                                    Descargar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                                <span>Facturas anteriores</span>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">idFactura</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let factura of historialFacturas">
                                            <td>{{(factura.fecha_update * 1000) | date}}</td>
                                            <td>{{factura.idFactura}}</td>
                                            <td>
                                                <a class="btn tblActnBtn h-auto" (click)="downloadFactura(factura)">
                                                    Descargar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">
                                    description
                                </mat-icon>
                                Plan
                            </ng-template>
                            <div class="header">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <h2>
                                        <strong>
                                            Información de plan
                                        </strong>
                                    </h2>
                                </div>
                            </div>
                            <div class="body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 px-1">
                                            <div class="pricingTable greenColor">
                                                <div class="pricingTable-header">
                                                    <i class="material-icons">local_mall</i>
                                                    <div class="price-value"> $20.00
                                                        <span class="month">per month</span>
                                                    </div>
                                                </div>
                                                <h3 class="heading">Business</h3>
                                                <div class="pricing-content">
                                                    <ul>
                                                        <li>
                                                            <b>60GB</b> Disk Space
                                                        </li>
                                                        <li>
                                                            <b>60</b> Email Accounts
                                                        </li>
                                                        <li>
                                                            <b>60GB</b> Monthly Bandwidth
                                                        </li>
                                                        <li>
                                                            <b>15</b> subdomains
                                                        </li>
                                                        <li>
                                                            <b>20</b> Domains
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pricingTable-signup">
                                                    <a href="#">sign up</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 px-1">
                                            <div class="pricingTable blueColor">
                                                <div class="pricingTable-header">
                                                    <i class="material-icons">spa</i>
                                                    <div class="price-value"> $30.00
                                                        <span class="month">per month</span>
                                                    </div>
                                                </div>
                                                <h3 class="heading">PREMIUM</h3>
                                                <div class="pricing-content">
                                                    <ul>
                                                        <li>
                                                            <b>70GB</b> Disk Space
                                                        </li>
                                                        <li>
                                                            <b>70</b> Email Accounts
                                                        </li>
                                                        <li>
                                                            <b>70GB</b> Monthly Bandwidth
                                                        </li>
                                                        <li>
                                                            <b>20</b> subdomains
                                                        </li>
                                                        <li>
                                                            <b>25</b> Domains
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pricingTable-signup">
                                                    <a href="#">sign up</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 px-1">
                                            <div class="pricingTable redColor">
                                                <div class="pricingTable-header">
                                                    <i class="material-icons">filter_vintage</i>
                                                    <div class="price-value"> $40.00
                                                        <span class="month">per month</span>
                                                    </div>
                                                </div>
                                                <h3 class="heading">EXTRA</h3>
                                                <div class="pricing-content">
                                                    <ul>
                                                        <li>
                                                            <b>80GB</b> Disk Space
                                                        </li>
                                                        <li>
                                                            <b>80</b> Email Accounts
                                                        </li>
                                                        <li>
                                                            <b>80GB</b> Monthly Bandwidth
                                                        </li>
                                                        <li>
                                                            <b>20</b> subdomains
                                                        </li>
                                                        <li>
                                                            <b>35</b> Domains
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pricingTable-signup">
                                                    <a href="#">sign up</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>