<section class="content">
  <div class="siprint row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        style="font-size: 30px; font-weight: bold;">Listado de tratamientos</span></div>
  </div>
  <div class="container-fluid noprint">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de tratamientos</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Administrador</a>
            </li>
            <li class="breadcrumb-item active">Listado</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader">
                  <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                      <h2>
                        <strong>Listado de tratamientos</strong>
                      </h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar" type="text" class="browser-default search-field"
                        (keyup)='filterDatatable($event)' aria-label="Search box">
                    </li>
                  </ul>
                  <ul class="header-buttons">
                    <li>
                      <button mat-mini-fab color="primary" (click)="goToAddCategoria()" class="mr-10">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="getCategorias('si')" class="mr-10">
                        <mat-icon class="col-white">refresh</mat-icon>
                      </button>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="exportToExcel()" class="mr-10">
                        <mat-icon class="col-white">call_made</mat-icon>
                      </button>
                    </li>
                    <li>
                      <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                        class="mr-10">
                        <mat-icon class="col-white">print</mat-icon>
                      </a>
                    </li>
                  </ul>
                </div>
                <ngx-datatable #table class="material" [rows]="categorias" [scrollbarH]="true" [sortType]="'multi'"
                  [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay tratamientos..'}">
                  <!-- user image -->
                  <ngx-datatable-column name="Nombre del tratamiento" [width]="200" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Nombre}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Sucursal" [width]="250" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.NombreSucursal}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Estatus" [width]="60" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <label *ngIf="row.Deshabilitado ==='0'">Inactivo</label>
                      <label *ngIf="row.Deshabilitado ==='1'">Activo</label>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones" sortable="false" [width]="100" [sortable]="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>
                        <mat-icon title="Editar" class="grey-color mr-10 pointer"
                          (click)="editCategoriaModal(row, editarcat)">mode_edit</mat-icon>
                        <mat-icon title="Eliminar" class="grey-color mr-10 pointer"
                          (click)="checkIncludeService(row.idCategorias)">delete</mat-icon>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>

                <!-- Edit Record Modal Window -->
                <ng-template #editarcat let-modal>
                  <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title">
                      <div class="modal-header ">
                        <div class="modal-about">
                          <div class="font-weight-bold p-t-10 font-17">
                            Modificar tratamiento</div>
                        </div>
                      </div>
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                      <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="m-4" #FormGroupDirective [formGroup]="categoriaForm"
                      (ngSubmit)="updateCategoria(categoriaForm.getRawValue())">
                      <div class="row" style="margin-top: 50px;">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Nombre de tratamiento</mat-label>
                            <input matInput formControlName="Nombre" required (keyup)="firstLetterUppercase('Nombre')">
                            <mat-error *ngIf="categoriaForm.get('Nombre')?.hasError('required')">
                              El nombre es requerido
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>
                              Seleccione una Sucursal
                            </mat-label>
                            <mat-select required formControlName="idSucursal">
                              <mat-option *ngFor="let suc of sucursales" value="{{suc.idSucursal}}">
                                {{suc.NombreSucursal}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="categoriaForm.get('idSucursal')?.hasError('required')">
                              La sucursal es requerida
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <mat-slide-toggle formControlName="Deshabilitado">Deshabilitar/Habilitar</mat-slide-toggle>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <button class="mr-3" [disabled]="!categoriaForm.valid " mat-raised-button
                            color="primary">Modificar</button>
                          <button #reset type="reset" mat-button style="opacity: 0;">Cancelar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabla a exportar oculta -->
  <div class="col-md-12 table-responsive siprint" #epltable>
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th>
            <div class="col-md-12 text-left">
              <h6>Nombre de la categoría</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Sucursal</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Estatus</h6>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of categorias">
          <td>
            <div>
              <span>{{cat.Nombre}}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{cat.NombreSucursal}}</span>
            </div>
          </td>
          <td>
            <label *ngIf="cat.Deshabilitado ==='1'">Activo</label>
            <label *ngIf="cat.Deshabilitado ==='0'">Inactivo</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>