<section class="content colorCheck">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Tratamiento</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Administrador</a>
            </li>
            <li class="breadcrumb-item active">Agregar Tratamiento</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2 style="line-height: 18px;"><strong>Nuevo tratamiento</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" #FormGroupDirective [formGroup]="categoriaForm" (ngSubmit)="checkExist(categoriaForm.getRawValue())">
              <div class="row" style="margin-top: 50px;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre del tratamiento</mat-label>
                    <input matInput formControlName="Nombre" required (keyup)="firstLetterUppercase('Nombre')">
                    <mat-error *ngIf="categoriaForm.get('Nombre')?.hasError('required')">
                      El nombre es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>
                      Seleccione una Sucursal
                    </mat-label>
                    <mat-select required formControlName="idSucursal">
                      <mat-option *ngFor="let suc of sucursales" value="{{suc.idSucursal}}">{{suc.NombreSucursal}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="categoriaForm.get('idSucursal')?.hasError('required')">
                      La sucursal es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>
                      Seleccione un convenio
                    </mat-label>
                    <mat-select formControlName="idConvenio">
                      <mat-option *ngFor="let con of convenios" value="{{con.id}}">{{con.NombreConvenio}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-slide-toggle formControlName="Deshabilitado">Deshabilitar/Habilitar</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="mr-3" [disabled]="!categoriaForm.valid " mat-raised-button
                    color="primary">Guardar</button>
                  <button #reset type="reset" mat-button style="opacity: 0;">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>