<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="ngxTableHeader">
        <ul class="header-buttons-left ml-0 mb-0">
          <li class="dropdown">
          </li>
          <li class="dropdown m-l-20">
            <label for="search-input"><i class="material-icons search-icon">search</i></label>
            <input placeholder="Buscar" type="text" class="browser-default search-field"
              (keyup)="filterDatatable($event)" aria-label="Search box" />
          </li>
        </ul>
      </div>
      <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [messages]="{emptyMessage: 'No hay recetas..'}">
        <ngx-datatable-column name="Fecha" [width]="146">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.fecha}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descripcion" [width]="146">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.descripcion}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Doctor" [width]="146">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.descripcion}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Acciones" sortable="false" [width]="146">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>
              <i class="material-icons grey-color mr-10 pointer"
                (click)="editRow(row, rowIndex, editRecord)">mode_edit</i>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <!-- Add Record Modal Window -->
      <ng-template #addRecord let-modal>
        <div class="modal-header editRowModal">
          <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header">
              <div class="modal-about">
                <div class="font-weight-bold p-t-10 font-17">
                  Nueva receta
                </div>
              </div>
            </div>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">
          <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
            <div class="input-field col s12 d-none">
              <input formControlName="idRecetas" class="form-control" type="hidden" />
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="Fecha" required />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="register.get('Fecha').hasError('required')">
                    La Fecha es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Descripcion</mat-label>
                  <input matInput formControlName="Descripcion" required />
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="register.get('Descripcion').hasError('required')">
                    La descripción es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <button class="mr-3" [disabled]="!register.valid" mat-raised-button color="primary">
                  Guardar
                </button>
                <button type="button" mat-button data-dismiss="modal">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>

      <!-- Edit Record Modal Window -->
      <ng-template #editRecord let-modal>
        <div class="modal-header editRowModal">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
            <div class="input-field col s12 d-none">
              <input formControlName="idRecetas" class="form-control" type="hidden" />
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="Fecha" required />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="register.get('Fecha').hasError('required')">
                    La Fecha es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Descripcion</mat-label>
                  <input matInput formControlName="Descripcion" required />
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="register.get('Descripcion').hasError('required')">
                    La descripción es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="modal-footer">
              <div class="button-demo">
                <button mat-raised-button type="submit" color="primary">
                  Guardar
                </button>
                <button mat-button type="button" (click)="modal.close()">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>