<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Detalle pacientes</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Pacientes</a>
              </li>
              <li class="breadcrumb-item active">Ficha de paciente</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Your content goes here  -->
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12 noprint">
          <div class="card" *ngFor="let info of infopaciente">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark">
                  <div class="user-name">{{info.Nombre}} {{info.Apellido}}</div>
                  <div class="name-center">Corregir mordida</div>
                </div>
                <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{info.Imagen}}" class="user-img" alt="">
                <p style="margin-bottom:0px!important;"><strong>DOCTOR/A DE CABECERA</strong></p>
                <p style="margin-bottom:0px!important;">{{info.NombreUsuario}}</p>
                <p style="margin-bottom:0px!important;"><strong>DATOS DE CONTACTO</strong></p>
                <p *ngIf="info.Direccion !== '' || info.Direccion !== null">
                  {{info.Direccion}}
                </p>
                <p *ngIf="info.Direccion === '' || info.Direccion === null">
                  Dirección no definida
                </p>
                <p class="phone" style="margin-bottom:0px!important;"
                  *ngIf="info.Celular !== '' || info.Celular !== null">
                  <i class="material-icons">phone</i>{{info.Celular}}
                </p>
                <p class="phone" style="margin-bottom:0px!important;"
                  *ngIf="info.Celular === '' || info.Celular === null">
                  Sin numero</p>
                <p style="margin-bottom:0px!important;"><strong>SUCURSAL</strong></p>
                <p style="margin-bottom:0px!important;"><strong>OBSERVACIONES</strong></p>
                <p style="margin-bottom:0px!important;">
                  {{info.Observaciones}}
                </p>
                <div class="row">
                  <div class="col-12 d-flex" style="justify-content: space-evenly;">
                    <button type="button" mat-mini-fab color="primary" class="mx-2"
                      [routerLink]="['/admin/agenda/nueva-cita']">
                      <i class="material-icons col-white">perm_contact_calendar</i>
                    </button>
                    <button type="button" mat-mini-fab color="primary">
                      <i class="material-icons col-white">whatsapp</i>
                    </button>
                    <button type="button" mat-mini-fab color="primary">
                      <i class="material-icons col-white">email</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header">
          </div>
          <div class="body m-0 p-0">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="ngxTableHeader" style="min-width: 100%!important;">
                          <ul class="header-buttons-left ml-0 mb-0">
                            <li class="dropdown">
                              <h2>
                                <strong>Ultimas visitas</strong>
                              </h2>
                            </li>
                          </ul>
                        </div>
                        <ngx-datatable class="material" [rows]="citaspacientetablafinalizadas" [scrollbarH]="false"
                          [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                          rowHeight="auto" [limit]="5" [messages]="{emptyMessage: 'No hay videollamadas..'}">
                          <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <td (click)="detallecita(row,'2')">{{row.NombreMotivo}}</td>
                            </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Estatus" [width]="120" [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <td (click)="detallecita(row,'2')">{{row.EstatusCita}}</td>
                            </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <td (click)="detallecita(row,'2')">{{row.FechaCita}}</td>
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                          <div class="panel-body">
                              <div id="jitsi-iframe" class="item-center"></div>

                              <div class="item-center">
                                  <span>Controles de videollamada</span>
                              </div>
                              <div class="item-center">
                                  <span>&nbsp;&nbsp;</span>
                                  <i (click)="executeCommand('toggleAudio')" class="fas fa-2x grey-color" [ngClass]="isAudioMuted ? 'fa-microphone-slash' : 'fa-microphone'" aria-hidden="true" title="Mute / Unmute"></i>
                                  <i (click)="executeCommand('hangup')" class="fas fa-phone-slash fa-2x red-color" aria-hidden="true" title="Leave"></i>
                                  <i (click)="executeCommand('toggleVideo')" class="fas fa-2x grey-color" [ngClass]="isVideoMuted ? 'fa-video-slash' : 'fa-video'" aria-hidden="true" title="Start / Stop camera"></i>
                                  <i (click)="executeCommand('toggleShareScreen')" class="fas fa-film fa-2x grey-color" aria-hidden="true" title="Share your screen"></i>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>