<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Perfil paciente</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Paciente</a>
                        </li>
                        <li class="breadcrumb-item active">Perfil paciente</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 noprint">
                <div class="card" *ngFor="let info of infopaciente">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header gradient-bg">
                                <div class="user-name">{{info.Nombre}} {{info.Apellido}}</div>
                                <!-- <div class="name-center">Corregir mordida</div> -->
                            </div>
                            <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{info.Imagen}}"
                                class="user-img" alt="">
                            <p style="margin-bottom:0px!important;"><strong>DOCTOR/A DE CABECERA</strong></p>
                            <p style="margin-bottom:0px!important;">{{(info.NombreUsuario + ' ' + info.Apellidos) ||
                                '...'}}</p>
                            <p style="margin-bottom:0px!important;"><strong>DATOS DE CONTACTO</strong></p>
                            <p *ngIf="info.Direccion !== '' || info.Direccion !== null">
                                {{(info.Direccion.length > 25) ? (info.Direccion | slice:0:25) + '...' :
                                info.Direccion}}
                            </p>
                            <p *ngIf="info.Direccion === '' || info.Direccion === null">
                                Dirección no definida
                            </p>
                            <p class="phone" style="margin-bottom:0px!important;"
                                *ngIf="info.Celular !== '' && info.Celular !== null">
                                <i class="material-icons">phone</i>{{info.Celular}}
                            </p>
                            <p class="phone" style="margin-bottom:0px!important;"
                                *ngIf="info.Celular === '' || info.Celular === null"><i
                                    class="material-icons">phone</i>Sin numero
                            </p>
                            <p style="margin-bottom:0px!important;"><strong>SUCURSAL</strong></p>
                            <p>{{info.NombreSucursal || '...'}}</p>
                            <p style="margin-bottom:0px!important;"><strong>OBSERVACIONES</strong></p>
                            <p style="margin-bottom:0px!important;">
                                {{info.Observaciones || '...'}}
                            </p>
                            <div class="row">
                                <div class="col-12 d-flex" style="justify-content: space-evenly;">
                                    <button type="button" mat-mini-fab color="primary" class="mx-2"
                                        [routerLink]="['/admin/agenda/nueva-cita']">
                                        <i class="material-icons col-white">perm_contact_calendar</i>
                                    </button>
                                    <button type="button" mat-mini-fab color="primary">
                                        <a href="https://wa.me/52{{info.Celular}}?text=Te%20escribimos%20desde%20la%20plataforma%20de%20Odonto%20System:"
                                            data-action="share/whatsapp/share" target="_blank">
                                            <i class="material-icons col-white">whatsapp</i>
                                        </a>
                                    </button>
                                    <button type="button" mat-mini-fab color="primary"
                                        routerLink="/admin/email/crear-email">
                                        <i class="material-icons col-white">email</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body m-0 p-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>Historial de Citas</h2>
                                    </div>
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Año</mat-label>
                                        <mat-select [(ngModel)]="yearselect" (selectionChange)="datos()">
                                            <mat-option *ngFor="let year of arreglodeyear" value="{{year}}">
                                                {{year}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="body">
                                        <div style="height: 400px">
                                            <canvas style="height: 100%;width: 100%;" id="canvas">{{chart}}</canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="body m-0 p-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="ngxTableHeader" style="min-width: 100%!important;">
                                                    <ul class="header-buttons-left ml-0 mb-0">
                                                        <li class="dropdown">
                                                            <h2>
                                                                <strong>Proximas visitas</strong>
                                                            </h2>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ngx-datatable class="material" [rows]="citaspacientetablaproximas"
                                                    [scrollbarH]="false" [sortType]="'multi'" [columnMode]="'force'"
                                                    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5"
                                                    [messages]="{emptyMessage: 'No hay visitas..'}">
                                                    <ngx-datatable-column name="Motivo" [width]="100"
                                                        [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'3')">{{row.NombreMotivo}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Estatus" [width]="120"
                                                        [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'3')">{{row.EstatusCita}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'3')">{{row.FechaCita}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="ngxTableHeader" style="min-width: 100%!important;">
                                                    <ul class="header-buttons-left ml-0 mb-0">
                                                        <li class="dropdown">
                                                            <h2>
                                                                <strong>Ultimas visitas</strong>
                                                            </h2>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ngx-datatable class="material" [rows]="citaspacientetablaultimas"
                                                    [scrollbarH]="false" [sortType]="'multi'" [columnMode]="'force'"
                                                    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5"
                                                    [messages]="{emptyMessage: 'No hay visitas..'}">
                                                    <ngx-datatable-column name="Motivo" [width]="100"
                                                        [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'2')">{{row.NombreMotivo}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Estatus" [width]="120"
                                                        [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'2')">{{row.EstatusCita}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'2')">{{row.FechaCita}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="ngxTableHeader" style="min-width: 100%!important;">
                                                    <ul class="header-buttons-left ml-0 mb-0">
                                                        <li class="dropdown">
                                                            <h2>
                                                                <strong>Citas canceladas o citas sin realizarse</strong>
                                                            </h2>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ngx-datatable class="material" [rows]="citaspacientetablafinalizadas"
                                                    [scrollbarH]="false" [sortType]="'multi'" [columnMode]="'force'"
                                                    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5"
                                                    [messages]="{emptyMessage: 'No hay visitas..'}">
                                                    <ngx-datatable-column name="Motivo" [width]="100"
                                                        [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'1')">{{row.NombreMotivo}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Estatus" [width]="120"
                                                        [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'1')">{{row.EstatusCita}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <td (click)="detallecita(row,'1')">{{row.FechaCita}}</td>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>