<section class="content colorCheck">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Detalle Orden</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Adminstrador</a>
                        </li>
                        <li class="breadcrumb-item active">Detalle Orden</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Detalle Orden</strong></h2>
                    </div>
                    <div class="body">
                        <form class="register-form" [formGroup]="ordenForm">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width " appearance="outline">
                                        <mat-label>Sucursal</mat-label>
                                        <mat-select formControlName="sucursal" required>
                                            <mat-option *ngFor="let sucursal of sucursales" value="{{sucursal.idSucursal}}">
                                                {{sucursal.NombreSucursal}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="ordenForm.get('sucursal').hasError('required')  && ordenForm.get('sucursal').touched">
                                            La sucursal es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width " appearance="outline">
                                        <mat-label>Centro Radiológico</mat-label>
                                        <mat-select formControlName="centroRadiologico" required>
                                            <mat-option *ngFor="let centro of centros" value="{{centro.idCentro}}">
                                                {{centro.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="ordenForm.get('centroRadiologico').hasError('required') && ordenForm.get('centroRadiologico').touched">
                                            El centro radiologico es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Exámenes Digitales 2D
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-6 pl-5">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Rx Retroalveolar</mat-label>
                                            <input matInput formControlName="rxRetroalveolar" required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6 pl-5 flex-center">
                                        <mat-checkbox formControlName="rxRetroalveolarTotal" class="example-margin pl-5">
                                            Rx Retroalveolar Total</mat-checkbox>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                        <mat-form-field class="example-full-width " appearance="outline">
                                            <mat-label>Rx Bite-wing</mat-label>
                                            <mat-select formControlName="rxBiteWing">
                                                <mat-option value="Unilateral Derecha">
                                                    Unilateral Derecha
                                                </mat-option>
                                                <mat-option value="Unilateral Izquierda">
                                                    Unilateral Izquierda
                                                </mat-option>
                                                <mat-option value="Bilateral">Bilateral</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                        <mat-form-field class="example-full-width " appearance="outline">
                                            <mat-label>Rx Oclusal</mat-label>
                                            <mat-select formControlName="rxOclusal">
                                                <mat-option value="Superior">
                                                    Superior
                                                </mat-option>
                                                <mat-option value="Inferior">
                                                    Inferior
                                                </mat-option>
                                                <mat-option value="Superior e inferior">
                                                    Superior e inferior
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="rxPanoramica" class="example-margin pl-5">
                                            Rx Panorámica
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="rxteleradiografiaLateral" class="example-margin pl-5">
                                            Rx Teleradiografía Lateral
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="rxTeleradiografiaFrontal" class="example-margin pl-5">
                                            Rx Teleradiografía Frontal
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="rxDigitaldeMano" class="example-margin pl-5">
                                            Rx Digital de Mano
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Tomografía Computarizada Cone Beam
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="maxilarSuperior" class="example-margin pl-5">
                                            Maxilar Superior</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="maxilarInferior" class="example-margin pl-5">
                                            Maxilar Inferior</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="bimaxilar" class="example-margin pl-5">
                                            Bimaxilar</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="craneoCompleto" class="example-margin pl-5">
                                            craneoCompleto</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="ATMBocaCerrada" class="example-margin pl-5">
                                            ATM Boca Cerrada</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="ATMBocaAbierta" class="example-margin pl-5">
                                            ATM Boca Abierta</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5 flex-center">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Zona</mat-label>
                                            <input matInput formControlName="zona" placeholder="Zona de Estudio" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                        <mat-form-field class="example-full-width " appearance="outline">
                                            <mat-label>Estudio Especialidad</mat-label>
                                            <mat-select formControlName="especialidad">
                                                <mat-option value="Endodoncia">Endodoncia</mat-option>
                                                <mat-option value="Cirugia">Cirugía</mat-option>
                                                <mat-option value="Implantes">Implantes</mat-option>
                                                <mat-option value="Via">Vía</mat-option>
                                                <mat-option value="Periodoncia">Periodoncia</mat-option>
                                                <mat-option value="Ortodoncia">Ortodoncia</mat-option>
                                                <mat-option value="Otros">Otros</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Análisis Cefalométrico
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="rickets" class="example-margin pl-5">
                                            Rickets</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="roth" class="example-margin pl-5">
                                            Roth</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="jarabak" class="example-margin pl-5">
                                            Jarabak</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="frontal" class="example-margin pl-5">
                                            Frontal</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="tejidosBlandos" class="example-margin pl-5">
                                            Tejidos Blandos</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-checkbox formControlName="conversionCefalome" class="example-margin pl-5">
                                            Conversión Cefalomé (RC-OC)</mat-checkbox>
                                    </div>
                                    <div class="col-6 pl-5">
                                        <mat-form-field class="example-full-width " appearance="outline">
                                            <mat-label>VTO</mat-label>
                                            <mat-select formControlName="VTO">
                                                <mat-option value="2 años">
                                                    2 años
                                                </mat-option>
                                                <mat-option value="4 años">
                                                    4 años
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Registros
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-12 pl-5">
                                        <mat-form-field class="example-full-width " appearance="outline">
                                            <mat-label>Modelos</mat-label>
                                            <mat-select formControlName="modelos">
                                                <mat-option value="Maxilar Articulados">
                                                    Maxilar Articulados
                                                </mat-option>
                                                <mat-option value="Mandíbula">
                                                    Mandíbula
                                                </mat-option>
                                                <mat-option value="Escaneados 3D">
                                                    Escaneados 3D
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6 mt-4 pl-5">
                                        <mat-form-field class="example-full-width " appearance="outline">
                                            <mat-label>Fotografías</mat-label>
                                            <mat-select formControlName="fotografias">
                                                <mat-option value="extra">
                                                    Extra
                                                </mat-option>
                                                <mat-option value="intra">
                                                    Intra
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6 mt-4 pl-5">
                                        <h6>Eje</h6>
                                        <mat-checkbox formControlName="eje" class="example-margin pl-5">
                                            Eje real de bisagra clínico</mat-checkbox>
                                    </div>
                                    <div class="col-6 mt-4 pl-5 flex-center">
                                        <mat-checkbox formControlName="holta" class="example-margin pl-5">
                                            Holta</mat-checkbox>
                                    </div>
                                    <div class="col-6 mt-4 pl-5 flex-center">
                                        <mat-checkbox formControlName="video" class="example-margin pl-5">
                                            Video</mat-checkbox>
                                    </div>
                                    <div class="col-6 mt-4 pl-5 flex-center">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Articulados</mat-label>
                                            <input matInput formControlName="articulados" required placeholder="Articulador" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Forma de entrega
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                        <mat-form-field class="example-full-width " appearance="outline">
                                            <mat-label>Forma de entrega</mat-label>
                                            <mat-select formControlName="formaEntrga">
                                                <mat-option value="CD">
                                                    CD
                                                </mat-option>
                                                <mat-option value="Correo electrónico">
                                                    Correo electrónico
                                                </mat-option>
                                                <mat-option value="Impreso">
                                                    Impreso
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                                            <mat-label>Diagnóstico y Observaciones</mat-label>
                                            <textarea matInput formControlName="observaciones"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
