<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Detalle pacientes</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Pacientes</a>
            </li>
            <li class="breadcrumb-item active">Ficha de paciente</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12 noprint">
        <div class="card" *ngFor="let info of infopaciente">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header gradient-bg">
                <div class="user-name">{{info.Nombre}} {{info.Apellido}}</div>
                <!-- <div class="name-center">Corregir mordida</div> -->
              </div>
              <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{info.Imagen}}" class="user-img" alt="">
              <p style="margin-bottom:0px!important;"><strong>DOCTOR/A DE CABECERA</strong></p>
              <p style="margin-bottom:0px!important;">{{(info.NombreUsuario + ' ' + info.Apellidos) || '...'}}</p>
              <p style="margin-bottom:0px!important;"><strong>DATOS DE CONTACTO</strong></p>
              <p *ngIf="info.Direccion !== '' || info.Direccion !== null">
                {{(info.Direccion.length > 25) ? (info.Direccion | slice:0:25) + '...' : info.Direccion}}
              </p>
              <p *ngIf="info.Direccion === '' || info.Direccion === null">
                Dirección no definida
              </p>
              <p class="phone" style="margin-bottom:0px!important;"
                *ngIf="info.Celular !== '' && info.Celular !== null">
                <i class="material-icons">phone</i>{{info.Celular}}
              </p>
              <p class="phone" style="margin-bottom:0px!important;"
                *ngIf="info.Celular === '' || info.Celular === null"><i class="material-icons">phone</i>Sin numero
              </p>
              <p style="margin-bottom:0px!important;"><strong>SUCURSAL</strong></p>
              <p>{{info.NombreSucursal || '...'}}</p>
              <p style="margin-bottom:0px!important;"><strong>OBSERVACIONES</strong></p>
              <p style="margin-bottom:0px!important;">
                {{info.Observaciones || '...'}}
              </p>
              <div class="row">
                <div class="col-12 d-flex" style="justify-content: space-evenly;">
                  <button type="button" mat-mini-fab color="primary" class="mx-2"
                    [routerLink]="['/admin/agenda/nueva-cita']">
                    <i class="material-icons col-white">perm_contact_calendar</i>
                  </button>
                  <button type="button" mat-mini-fab color="primary">
                    <a href="https://wa.me/52{{info.Celular}}?text=Te%20escribimos%20desde%20la%20plataforma%20de%20Odonto%20System:"
                      data-action="share/whatsapp/share" target="_blank">
                      <i class="material-icons col-white">whatsapp</i>
                    </a>
                  </button>
                  <button type="button" mat-mini-fab color="primary" routerLink="/admin/email/crear-email">
                    <i class="material-icons col-white">email</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header">
        </div>
        <div class="body m-0 p-0">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                  <h2>Historial de Citas</h2>
                </div>
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Año</mat-label>
                  <mat-select [(ngModel)]="yearselect" (selectionChange)="datos()">
                    <mat-option *ngFor="let year of arreglodeyear" value="{{year}}">
                      {{year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="body">
                  <div style="height: 400px">
                    <canvas style="height: 100%;width: 100%;" id="canvas">{{chart}}</canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="ngxTableHeader" style="min-width: 100%!important;">
                        <ul class="header-buttons-left ml-0 mb-0">
                          <li class="dropdown">
                            <h2>
                              <strong>Proximas visitas</strong>
                            </h2>
                          </li>
                        </ul>
                      </div>
                      <ngx-datatable class="material" [rows]="citaspacientetablaproximas" [scrollbarH]="false"
                        [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        rowHeight="auto" [limit]="5" [messages]="{emptyMessage: 'No hay visitas..'}">
                        <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'3')">{{row.NombreMotivo}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Estatus" [width]="120" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'3')">{{row.EstatusCita}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'3')">{{row.FechaCita}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="ngxTableHeader" style="min-width: 100%!important;">
                        <ul class="header-buttons-left ml-0 mb-0">
                          <li class="dropdown">
                            <h2>
                              <strong>Ultimas visitas</strong>
                            </h2>
                          </li>
                        </ul>
                      </div>
                      <ngx-datatable class="material" [rows]="citaspacientetablaultimas" [scrollbarH]="false"
                        [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        rowHeight="auto" [limit]="5" [messages]="{emptyMessage: 'No hay visitas..'}">
                        <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'2')">{{row.NombreMotivo}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Estatus" [width]="120" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'2')">{{row.EstatusCita}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'2')">{{row.FechaCita}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="ngxTableHeader" style="min-width: 100%!important;">
                        <ul class="header-buttons-left ml-0 mb-0">
                          <li class="dropdown">
                            <h2>
                              <strong>Citas canceladas o citas sin realizarse</strong>
                            </h2>
                          </li>
                        </ul>
                      </div>
                      <ngx-datatable class="material" [rows]="citaspacientetablafinalizadas" [scrollbarH]="false"
                        [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        rowHeight="auto" [limit]="5" [messages]="{emptyMessage: 'No hay visitas..'}">
                        <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'1')">{{row.NombreMotivo}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Estatus" [width]="120" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'1')">{{row.EstatusCita}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <td (click)="detallecita(row,'1')">{{row.FechaCita}}</td>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group [(selectedIndex)]="tabs">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(0)">face</mat-icon>
                <span (click)="vistaactual(0)">Datos personales</span>
              </ng-template>
              <app-datos-personales></app-datos-personales>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(1)">assignment</mat-icon>
                <span (click)="vistaactual(1)">Historial Clinico</span>
              </ng-template>
              <app-historial-clinico></app-historial-clinico>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(2)">sentiment_very_satisfied</mat-icon>
                <span (click)="vistaactual(2)">Odontograma</span>
              </ng-template>
              <app-examen-odonto></app-examen-odonto>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(3)">monetization_on</mat-icon>
                <span (click)="vistaactual(3)">Presupuestos</span>
              </ng-template>
              <app-presupuesto></app-presupuesto>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(4)">analytics</mat-icon>
                <span (click)="vistaactual(4)">Evoluciones</span>
              </ng-template>
              <app-evoluciones></app-evoluciones>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(5)">assignment_ind</mat-icon>
                <span (click)="vistaactual(5)">Plan de tratamientos</span>
              </ng-template>
              <app-plan-tratamiento></app-plan-tratamiento>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(6)">photo</mat-icon>
                <span (click)="vistaactual(6)">Imágenes</span>
              </ng-template>
              <app-fotos></app-fotos>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(7)">description</mat-icon>
                <span (click)="vistaactual(7)">Documentos</span>
              </ng-template>
              <app-documentos></app-documentos>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(8)">arrow_circle_up</mat-icon>
                <span (click)="vistaactual(8)">Dcumentación</span>
              </ng-template>
              <app-documentacion></app-documentacion>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(9)">receipt</mat-icon>
                <span (click)="vistaactual(9)">
                  Facturación
                </span>
              </ng-template>
              <app-facturacion></app-facturacion>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon mr-2" (click)="vistaactual(10)">history</mat-icon>
                <span (click)="vistaactual(10)">
                  Facturas Anteriores
                </span>
              </ng-template>
              <app-facturas></app-facturas>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #nuevacita let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="modal-header ">
        <img *ngIf="valor === '0'" src="../../../../assets/images/user_default.png" class="img-modal" />
        <img *ngIf="valor === '1'"
          src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{infocita[0].ImagenPaciente}}"
          class="img-modal" />
        <img *ngIf="valor === '2'"
          src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{infocita[0].ImagenPaciente}}"
          class="img-modal" />
        <div class="modal-about">
          <div class="font-weight-bold p-t-10 font-17">
            Detalle de cita
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrarmodal(NuevaCitaForm)">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="register-form" [formGroup]="NuevaCitaForm" (ngSubmit)="guardarNuevaCita(NuevaCitaForm)">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Paciente</mat-label>
            <mat-select formControlName="paciente" (selectionChange)="obtenernombrepaciente($event)" required>
              <mat-option *ngFor="let paciente of pacientes" value="{{paciente.idPacientes}}">
                {{paciente.Nombre}} {{paciente.Apellido}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="NuevaCitaForm.get('paciente').hasError('required')">
              El nombre del paciente es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Doctor</mat-label>
            <mat-select formControlName="doctor" (selectionChange)="obtenernombredoctor($event)" required>
              <mat-option *ngFor="let doctor of doctores" value="{{doctor.idUsuario}}">
                {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="NuevaCitaForm.get('doctor').hasError('required')">
              Nombre del doctor es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Selecciona una fecha</mat-label>
            <!-- <input matInput type="date" formControlName="fecha"> -->
            <input [min]="fechaLimite" matInput [matDatepicker]="picker" formControlName="fecha" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="NuevaCitaForm.get('fecha').hasError('required')">
              La Fecha es requerida
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Horario</mat-label>
            <input (input)="ValidarHorario(NuevaCitaForm)" matInput formControlName="horario" type="time" required>
            <mat-error *ngIf="NuevaCitaForm.get('horario').hasError('required')">
              El horario es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Motivo</mat-label>
            <mat-select formControlName="motivo" (selectionChange)="obtenernombremotivo($event)" required>
              <mat-option *ngFor="let motivo of motivosconsulta" value="{{motivo.idMotivo}}"
                (click)="otromotivo(false)">
                {{motivo.NombreMotivo}}
              </mat-option>
              <mat-option value="Otro motivo de consulta de cita" (click)="otromotivo(true)">
                (+)Otro motivo de consulta de cita
              </mat-option>
            </mat-select>
            <mat-error *ngIf="NuevaCitaForm.get('servicio').hasError('required')">
              El motivo es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Servicio</mat-label>
            <mat-select formControlName="servicio" (selectionChange)="obtenernombreservicio($event)" required>
              <mat-option *ngFor="let servicio of servicios" value="{{servicio.idServicios}}">
                {{servicio.Nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="NuevaCitaForm.get('servicio').hasError('required')">
              El servicio es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" *ngIf="motivootro">
          <mat-form-field class="example-full-width mb-3" appearance="outline" *ngIf="motivootro">
            <mat-label>Otro motivo de consulta de cita</mat-label>
            <input matInput id="motivocita" formControlName="motivoo" (keyup)="FirstUppercaseLetter('motivocita')"
              required>
            <mat-error *ngIf="NuevaCitaForm.get('motivoo').hasError('required')">
              El otro motivo es requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width mb-3" appearance="outline" *ngIf="!motivootro">
            <mat-label>Otro motivo de consulta de cita</mat-label>
            <input matInput id="motivocita" formControlName="motivoo" (keyup)="FirstUppercaseLetter('motivocita')">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Estatus de la cita</mat-label>
            <mat-select formControlName="estatus" required>
              <mat-option value="Por confirmar">
                No confirmado
              </mat-option>
              <mat-option value="Confirmado">
                Confirmado
              </mat-option>
              <mat-option value="Hora Cancelada">
                Hora Cancelada
              </mat-option>
              <mat-option value="Finalizada">
                Atendido
              </mat-option>
            </mat-select>
            <mat-error *ngIf="NuevaCitaForm.get('servicio').hasError('required')">
              El estatus de la cita es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput id="obseervaciones" formControlName="observaciones"
              (keyup)="FirstUppercaseLetter('obseervaciones')"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="valor === '3'">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
          <mat-slide-toggle (change)="onToggle($event)">Enviar por SMS</mat-slide-toggle>
        </div>
      </div>
    </form>
  </div>
</ng-template>