<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Examenes de radiología</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Pacientes</a>
                        </li>
                        <li class="breadcrumb-item active">Examenes de radiología</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Examenes de radiología</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)="filterDatatable($event)" aria-label="Search box" />
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="data" [sortType]="'multi'"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                                    [messages]="{emptyMessage: 'No hay ordenes..'}">
                                    <ngx-datatable-column [width]="100" name="Fecha" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.fecha}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="100" name="Sucursal" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreSucursal}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="100" name="Centro Radiologico" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.nombre}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="100" name="Observaciones" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.observaciones}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

