<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Detalle doctor</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Doctor</a>
                        </li>
                        <li class="breadcrumb-item active">detalle doctor</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{doctorInfo?.NombreUsuario}}</div>
                                <div class="name-center">{{doctorInfo?.Apellidos}}</div>
                            </div>
                            <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{doctorInfo?.Imagen || 'user_default.png'}}"
                                class="user-img" alt="">
                            <div>
                                <span class="phone">
                                    <i class="material-icons">phone</i>{{doctorInfo?.Celular}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                                Detalle doctor
                            </ng-template>
                            <div class="header">
                                <h2>
                                    <strong>Detalle del</strong> doctor
                                </h2>
                            </div>
                            <div class="body">
                                <div class="example-container">
                                    <form class="m-4" [formGroup]="roomForm">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Nombre o nombres</mat-label>
                                                    <input matInput formControlName="NombreUsuario" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Apellidos</mat-label>
                                                    <input matInput formControlName="Apellidos">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Tipo de usuario</mat-label>
                                                    <input matInput formControlName="Tipo_usuario">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>RFC</mat-label>
                                                    <input matInput formControlName="RFC">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Dirección Completa </mat-label>
                                                    <input matInput formControlName="Direccion">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Celular</mat-label>
                                                    <input matInput formControlName="Celular" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Dirección de correo electrónico</mat-label>
                                                    <input matInput formControlName="Correo" required>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Selecciona una fecha de nacimiento</mat-label>
                                                    <input matInput [matDatepicker]="picker" formControlName="FechaNac">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Edad</mat-label>
                                                    <input matInput formControlName="Edad">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                                <mat-form-field class="example-full-width " appearance="outline">
                                                    <mat-label>Grupo Sanguíneo</mat-label>
                                                    <input matInput formControlName="GSanguineo">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Genero</mat-label>
                                                    <input matInput formControlName="Genero">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Estado Civil</mat-label>
                                                    <input matInput formControlName="EstadoCivil">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Título</mat-label>
                                                    <input matInput formControlName="Titulo">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Especialidad</mat-label>
                                                    <input matInput formControlName="Especialidad">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                                <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                    <mat-label>Ced- Profesional</mat-label>
                                                    <input matInput formControlName="Cedula">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>