<br>
<div class="row" class="m-0">
  <div class="col-md-12">
    <div class="ngxTableHeader" style="border-color: #fff;background-color: #fff;">
      <ul class="header-buttons-left ml-0 mb-0">
        <li class="dropdown">
          <h2 class="weight-900 color-blue" style="font-size:18px!important;">Datos personales del Paciente</h2>
        </li>
      </ul>
      <ul class="header-buttons">
        <li>
          <button type="button" mat-mini-fab color="primary" *ngIf="disabled === true" (click)="activarform()" class="mr-10">
            <mat-icon class="col-white">create</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="primary" style="background: #ff000063;" *ngIf="disabled !== true"
            (click)="desactivarform()" class="mr-10">
            <mat-icon class="col-white">create</mat-icon>
          </button>
        </li>
        <li>
          <a href="javascript:window.print('epltable')" type="submit"  mat-mini-fab color="primary" class="mr-10">
            <mat-icon class="col-white">print</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<form *ngIf="form" class="m-4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Nombre del Paciente</mat-label>
        <input matInput id="nombrepaci" formControlName="Nombre" (keyup)="FirstUppercaseLetter('nombrepaci')" required>
        <mat-error *ngIf="patientForm.get('Nombre').hasError('required')">
          El nombre(s) es obligatorio
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="Apellido" id="apellidopaci" (keyup)="FirstUppercaseLetter('apellidopaci')"
          required>
        <mat-error *ngIf="patientForm.get('Apellido').hasError('required')">
          Los Apellidos son obligatorios
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>RFC</mat-label>
        <input matInput formControlName="Rfc" maxlength="13" id="rfc" (keyup)="convertirletraamayuscula()">
        <mat-error *ngIf="patientForm.get('Rfc').hasError('maxLength')">
          El RFC no debe tener mas de 13 caracteres
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Selecciona el Convenio</mat-label>
        <mat-select formControlName="Convenio">
          <mat-option *ngFor="let convenio of convenios" [value]="convenio.id">
            {{convenio.NombreConvenio}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="Direccion" ngx-google-places-autocomplete [options]='options'
          #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" required>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Selecciona Doctor</mat-label>
        <mat-select formControlName="Doctor">
          <mat-option *ngFor="let doc of docs" [value]="doc.idUsuario">
            {{doc.NombreUsuario}} {{doc.Apellidos}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="Celular" maxlength="10"
          onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        <mat-error *ngIf="patientForm.get('Celular').hasError('required')">
          El Celular es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="Correo" type="email">
        <mat-error *ngIf="patientForm.get('Correo').hasError('email') && patientForm.get('Correo').touched">
          Introduzca un Correo valido
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="FechaNac" id="fechanac"
          (dateChange)="calcularedad($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Edad</mat-label>
        <input id="edadpa" matInput formControlName="Edad" [readonly]="true">
        <mat-error *ngIf="patientForm.get('Edad').hasError('required')">
          La Edad es requerida
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
      <mat-form-field class="example-full-width " appearance="outline">
        <mat-label>Selecciona tu grupo sanguíneo</mat-label>
        <mat-select formControlName="GrupoSanguineo">
          <mat-option [value]="'A+'">
            A+
          </mat-option>
          <mat-option [value]="'A-'">
            A-
          </mat-option>
          <mat-option [value]="'B+'">
            B+
          </mat-option>
          <mat-option [value]="'B-'">
            B-
          </mat-option>
          <mat-option [value]="'O+'">
            O+
          </mat-option>
          <mat-option [value]="'O-'">
            O-
          </mat-option>
          <mat-option [value]="'AB+'">
            AB+
          </mat-option>
          <mat-option [value]="'AB-'">
            AB-
          </mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('GrupoSanguineo').hasError('required')">
          El grupo sanguineo es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Selecciona tu género</mat-label>
        <mat-select formControlName="Genero">
          <mat-option value="Masculino">
            Masculino
          </mat-option>
          <mat-option value="Femenino">
            Femenino
          </mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('Genero').hasError('required')">
          El genero es requerido
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Selecciona tu estado civil</mat-label>
        <mat-select formControlName="EstadoCivil">
          <mat-option value="Soltero/a">
            Soltero/a
          </mat-option>
          <mat-option value="Casado/a">
            Casado/a
          </mat-option>
          <mat-option value="Divorciado/a">
            Divorciado/a
          </mat-option>
          <mat-option value="Viudo/a">
            Viudo/a
          </mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('EstadoCivil').hasError('required')">
          El estado civil es requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Selecciona una sucursal</mat-label>
        <mat-select formControlName="sucursal" required>
          <mat-option *ngFor="let suc of sucursales" [value]="suc.idSucursal">
            {{suc.NombreSucursal}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Ocupación</mat-label>
        <input matInput type="text" formControlName="Ocupacion" id="ocupa" (keyup)="FirstUppercaseLetter('ocupa')">
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>¿Cómo te enteraste de nosotros?</mat-label>
        <mat-select formControlName="Encontraste">
          <mat-option value="Periodico">
            Periódico
          </mat-option>
          <mat-option value="Redes Sociales">
            Redes Sociales
          </mat-option>
          <mat-option value="Motor de Busqueda">
            Motor de Búsqueda
          </mat-option>
          <mat-option value="Recomendacion">
            Recomendación de un amigo/familiar
          </mat-option>
          <mat-option value="Otro">
            Otro
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
      <h4 class="weight-900 color-blue" style="font-size:18px!important;">Familiar Registrado</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Nombre del familiar</mat-label>
        <mat-select formControlName="NombreFami">
          <mat-option value="Sin Familiar Registrado">
            Sin Familiar Registrado
          </mat-option>
          <mat-option *ngFor="let paciente of familiaRegistrado" [value]="paciente.idPacientes">
            {{paciente.Nombre}} {{paciente.Apellido}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('NombreFami').hasError('required')">
          Debe elegir un Nombre
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Parentesco</mat-label>
        <input matInput formControlName="Parentesco" type="text" id="parentescofam"
          (keyup)="FirstUppercaseLetter('parentescofam')">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Nombre a contactar</mat-label>
        <input matInput type="text" formControlName="Parentesco_emergencia" id="nomcontacto"
          (keyup)="FirstUppercaseLetter('nomcontacto')">
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="Tel_Emergencia" maxlength="10"
          onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        <mat-error *ngIf="patientForm.get('Tel_Emergencia').hasError('required')">
          El teléfono es requerido
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Responsable de pago</mat-label>
        <input matInput formControlName="Responsable_Pago" id="respago" (keyup)="FirstUppercaseLetter('respago')">
      </mat-form-field>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width mb-3" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <textarea matInput maxlength="80" formControlName="Observaciones" id="obs"
          (keyup)="FirstUppercaseLetter('obs')"></textarea>
      </mat-form-field>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label *ngIf="patientForm.get('imagen').value!==''">{{patientForm.get('imagen').value}}</mat-label>
        <mat-label *ngIf="patientForm.get('imagen').value===''">Imagen del paciente</mat-label>
        <ngx-mat-file-input formControlName="imagen" id="foto" multiple accept="image/*"
          (change)="guardarImgenEnVariable($event.target.files[0])">
        </ngx-mat-file-input>
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 mb-3 text-center">
    <button type="button" class="mr-3" [disabled]="!patientForm.valid " mat-raised-button color="primary"
      (click)="actualizarPaciente()">Modificar</button>
  </div>
</form>

<div class="col-md-12 table-responsive siprint" id="epltable" #epltable>
  <div style="padding-bottom: 10px;padding-top: 10px;">
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead class="thead-white">
      <tr>
        <th>
          <div class="col-md-12 text-left">
            <h6>Nombre</h6>
          </div>
        </th>
        <th>
          <!--motivo cita-->
          <div class="col-md-12 text-left">
            <h6>RFC</h6>
          </div>
        </th>
        <th>
          <!--sucursal cita-->
          <div class="col-md-12 text-left">
            <h6 class="ml-3">Convenio</h6>
          </div>
        </th>
        <th>
          <!--check-in cita-->
          <div class="col-md-12 text-left">
            <h6 class="ml-12">Dirección</h6>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div>
            <span></span>
          </div>
        </td>
        <td>
          <span>saas</span>
        </td>
        <td>
          <span>asdasd</span>
        </td>
        <td>
          <span>dsds</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>