<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Documentación</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Paciente</a>
                        </li>
                        <li class="breadcrumb-item active">Documentación</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Documentación</strong>
                                            </h2>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row mb-3" *ngFor="let doc of arreglodocumentos; let i = index">
                                    <div class="col-1 py-3">
                                        <span class="mr-3 img-icon text-primary"
                                            *ngIf="saberquetipodearchivoes(doc.Nombre) === 'word'">
                                            <i class="far fa-file-word"></i>
                                        </span>

                                        <span class="mr-3 img-icon text-danger"
                                            *ngIf="saberquetipodearchivoes(doc.Nombre) === 'powerpoint'"
                                            style="background-color: #ef620e21 !important;color: #ef610e !important;">
                                            <i class="far fa-file-powerpoint"></i>
                                        </span>

                                        <span class="mr-3 img-icon text-success"
                                            *ngIf="saberquetipodearchivoes(doc.Nombre) === 'excel'">
                                            <i class="far fa-file-excel"></i>
                                        </span>

                                        <span class="mr-3 img-icon text-danger"
                                            *ngIf="saberquetipodearchivoes(doc.Nombre) === 'pdf'">
                                            <i class="far fa-file-pdf"></i>
                                        </span>

                                        <span class="mr-3 img-icon text-info"
                                            *ngIf="saberquetipodearchivoes(doc.Nombre) === 'archivo'">
                                            <i class="far fa-file-archive"></i>
                                        </span>
                                    </div>
                                    <div class="col-7 d-flex py-3">
                                        <h5 class="font-16">{{doc.Nombre}}</h5>
                                    </div>
                                    <div class="col-4 py-3">
                                        <div class="media-cta"
                                            style="display: flex;align-items: center;justify-content: center;">
                                            <i class="far fa-trash-alt"
                                                (click)="eliminardocumento(doc.Nombre,doc.idFoto)"
                                                style="margin-right: 10px;font-size:20px;"></i>
                                            <a href="https://projectsbyanimatiomx.com/phps/odonto/fotospaciente/{{doc.Nombre}}"
                                                target="_blank"
                                                style="margin-right:10px;display: flex;align-items: center;justify-content: center;">
                                                <i class="far fa-arrow-alt-circle-down" style="font-size:20px;"></i>
                                            </a>
                                            <span class="material-icons-outlined" (click)="compartir(shareModal,doc)">
                                                share
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Compartir Modal Window -->
<ng-template #shareModal let-modal>
    <div class="modal-header editRowModal">
        <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header ">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-10">
                        <h2 class="txt-morado">
                            Compartir
                        </h2>
                    </div>
                </div>
            </div>
        </h4>
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-slide-toggle (change)="onToggle($event)">Agregar numero telefonico</mat-slide-toggle>
            </div>
        </div>
        <div class="row" *ngIf="ifNumero">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Numero de teléfono</mat-label>
                    <input matInput [(ngModel)]="numero" type="text"
                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10" minlength="10">
                    <mat-icon matSuffix>phone_enabled</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <a *ngIf="numero === ''" href="https://api.whatsapp.com/" data-action="share/whatsapp/share"
                target="_blank">
                <span class="material-icons-outlined">
                    whatsapp
                </span>
            </a>
            <a *ngIf="numero !== ''" href="https://wa.me/52{{numero}}?text={{datos}}" data-action="share/whatsapp/share"
                target="_blank">
                <span class="material-icons-outlined">
                    whatsapp
                </span>
            </a>
        </div>
    </div>
</ng-template>