<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Citas</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Citas</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-sm-12 px-3">
                <div class="m-b-25">
                  <button mat-raised-button color="primary" (click)="funcionnuevacita()">Crear Cita</button>
                </div>
                <p>Estados</p>
                <div class="filter-container">
                  <ul>
                    <li *ngFor="let filter of filters">
                      <div class="row">
                        <div class="col-md-10">
                          <mat-radio-button [checked]="filter.checked" [value]="filter.value" color="primary"
                            (change)="changeCategory($event, filter)">
                            {{filter.value}}
                          </mat-radio-button>
                        </div>
                        <div class="col-md-2">
                          <span [class]="filter.class">.</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <p>Doctores</p>
                <div class="filter-container">
                  <ul>
                    <li>
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Selecciona</mat-label>
                        <mat-select (selectionChange)="changeDoc($event)" required>
                          <mat-option value="Todos">
                            Todos
                          </mat-option>
                          <mat-option *ngFor="let filter of doctores" [value]="filter.idUsuario">
                            {{filter.NombreUsuario}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </li>
                  </ul>
                </div>
                <p>Visitas</p>
                <div class="filter-container">
                  <ul>
                    <li>
                      <mat-radio-button value="primera" color="primary">
                        Primera visita
                      </mat-radio-button>
                    </li>
                    <li>
                      <mat-radio-button value="seguimiento" color="primary">
                        Seguimiento
                      </mat-radio-button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-10 col-sm-12">
                <div class="panel-body">
                  <full-calendar [options]='calendarOptions'>
                  </full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Record Modal Window -->
  <ng-template #nuevacita let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="modal-header ">
          <img *ngIf="valor === '0'" src="../../../../assets/images/user_default.png" class="img-modal" />
          <img *ngIf="valor === '1'"
            src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{infocita[0].ImagenPaciente}}" class="img-modal"
            (click)="iravista(infocita[0].idPacientes,'0')" style="cursor: pointer;" />
          <img *ngIf="valor === '2'"
            src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{infocita[0].ImagenPaciente}}" class="img-modal"
            (click)="iravista(infocita[0].idPacientes,'0')" style="cursor: pointer;" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17" *ngIf="valor === '0'">
              Nueva Cita</div>
            <div class="font-weight-bold p-t-10 font-17" *ngIf="valor === '1'">
              Editar Cita</div>
            <div class="font-weight-bold p-t-10 font-17" *ngIf="valor === '2'">
              Informacion de Cita</div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarmodal(NuevaCitaForm)">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="register-form" [formGroup]="NuevaCitaForm" (ngSubmit)="guardarNuevaCita(NuevaCitaForm)">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Paciente</mat-label>
              <mat-select formControlName="paciente" (selectionChange)="obtenernombrepaciente($event)" required>
                <mat-option *ngFor="let paciente of pacientes" value="{{paciente.idPacientes}}" (click)="patchValue(paciente)">
                  {{paciente.Nombre}} {{paciente.Apellido}}
                </mat-option>
                <mat-option (click)="cerrarmodal1();abrirModalNuevoPaciente(addPaciente)">
                  (+)Agegar nuevo paciente
                </mat-option>
              </mat-select>
              <mat-error *ngIf="NuevaCitaForm.get('paciente').hasError('required')">
                El nombre del paciente es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Doctor</mat-label>
              <mat-select formControlName="doctor" (selectionChange)="obtenernombredoctor($event)" required>
                <mat-option *ngFor="let doctor of doctores" value="{{doctor.idUsuario}}">
                  {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="NuevaCitaForm.get('doctor').hasError('required')">
                Nombre del doctor es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Selecciona una fecha</mat-label>
              <!-- <input matInput type="date" formControlName="fecha"> -->
              <input [min]="fechaLimite" matInput [matDatepicker]="picker" [readonly]="valor === '2'"
                formControlName="fecha" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="NuevaCitaForm.get('fecha').hasError('required')">
                La Fecha es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Horario</mat-label>
              <input (input)="ValidarHorario(NuevaCitaForm)" matInput formControlName="horario" type="time"
                [readonly]="valor === '2'" required>
              <mat-error *ngIf="NuevaCitaForm.get('horario').hasError('required')">
                El horario es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Motivo</mat-label>
              <mat-select formControlName="motivo" [readonly]="valor === '1' || valor === '2'"
                (selectionChange)="obtenernombremotivo($event)" required>
                <mat-option *ngFor="let motivo of motivosconsulta" value="{{motivo.idMotivo}}"
                  (click)="otromotivo(false)">
                  {{motivo.NombreMotivo}}
                </mat-option>
                <mat-option value="Otro motivo de consulta de cita" (click)="otromotivo(true)">
                  (+)Otro motivo de consulta de cita
                </mat-option>
              </mat-select>
              <mat-error *ngIf="NuevaCitaForm.get('servicio').hasError('required')">
                El motivo es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Servicio</mat-label>
              <mat-select formControlName="servicio" [readonly]="valor === '1' || valor === '2'"
                (selectionChange)="obtenernombreservicio($event)" required>
                <mat-option *ngFor="let servicio of servicios" value="{{servicio.idServicios}}">
                  {{servicio.Nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="NuevaCitaForm.get('servicio').hasError('required')">
                El servicio es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" *ngIf="motivootro">
            <mat-form-field class="example-full-width mb-3" appearance="outline" *ngIf="motivootro">
              <mat-label>Otro motivo de consulta de cita</mat-label>
              <input matInput id="motivocita" formControlName="motivoo" (keyup)="FirstUppercaseLetter('motivocita')"
                [readonly]="valor === '2'" required>
              <mat-error *ngIf="NuevaCitaForm.get('motivoo').hasError('required')">
                El otro motivo es requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline" *ngIf="!motivootro">
              <mat-label>Otro motivo de consulta de cita</mat-label>
              <input matInput id="motivocita" formControlName="motivoo" (keyup)="FirstUppercaseLetter('motivocita')"
                [readonly]="valor === '1' || valor === '2'">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Estatus de la cita</mat-label>
              <mat-select formControlName="estatus" [readonly]="valor === '2'" required>
                <mat-option value="Por confirmar">
                  No confirmado
                </mat-option>
                <mat-option value="Confirmado">
                  Confirmado
                </mat-option>
                <mat-option value="Hora Cancelada" *ngIf="valor === '1'">
                  Hora Cancelada
                </mat-option>
                <mat-option value="Finalizada" *ngIf="valor === '1'">
                  Atendido
                </mat-option>
              </mat-select>
              <mat-error *ngIf="NuevaCitaForm.get('servicio').hasError('required')">
                El estatus de la cita es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Observaciones</mat-label>
              <textarea matInput id="obseervaciones" formControlName="observaciones"
                (keyup)="FirstUppercaseLetter('obseervaciones')" [readonly]="valor === '2'"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="valor === '0'">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-slide-toggle (change)="toggleRecordatorio($event)">RECORDATORIOS</mat-slide-toggle>
          </div>
          <div class="row" *ngIf="recordaatorios">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Teléfono móvil</mat-label>
                <input matInput formControlName="telefonoMovil" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10">
                <mat-error *ngIf="NuevaCitaForm.get('telefonoMovil').hasError('minlength')">
                  El numero celular debe ser minimo de 10 caracteres
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="NuevaCitaForm.get('email').hasError('pattern')">
                  Debe ser un email valido
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="valor === '1'">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-slide-toggle (change)="onToggle($event)">Enviar por SMS</mat-slide-toggle>
          </div>
        </div>
        <div class="row" *ngIf="valor === '0'">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <button class="mr-3" [disabled]="!NuevaCitaForm.valid " mat-raised-button color="primary"
              *ngIf="valor === '0'">Guardar</button>
          </div>
        </div>
        <div class="row" *ngIf="valor === '1'">
          <div class="d-flex justify-content-around lbl-alert mb-3 mt-3">
            <div>
              <button mat-raised-button class="mr-3" color="primary" type="button" [disabled]="!NuevaCitaForm.valid"
                *ngIf="valor === '1'" (click)="guardarNuevaCita(NuevaCitaForm)">Modificar Cita</button>
            </div>
            <div>
              <button mat-raised-button class="mr-3" color="accent" type="button"
                (click)="eliminarcita(NuevaCitaForm)">Eliminar Cita</button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="valor === '2'">
          <div class="d-flex justify-content-around lbl-alert mb-3 mt-3">
            <div>
              <button mat-raised-button class="mr-3" color="accent" type="button"
                (click)="eliminarcita(NuevaCitaForm)">Eliminar Cita</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- Add Record Modal Window -->
  <ng-template #addPaciente let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="modal-header">
          <img src="assets/images/user/user1.jpg" class="img-modal" />
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
              Nuevo paciente
            </div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close"
        (click)="cerrarmodal(nuevoPacienteForm);funcionnuevacita()">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="register-form" [formGroup]="nuevoPacienteForm"
        (ngSubmit)="nuevoPaciente(nuevoPacienteForm);cerrarmodal(nuevoPacienteForm);funcionnuevacita(nuevacita)">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input id="pacientname" matInput formControlName="nombre" (keyup)="FirstUppercaseLetter('pacientname')" />
              <mat-error *ngIf="nuevoPacienteForm.get('nombre').hasError('required')">
                El nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input id="pacientlastname" matInput formControlName="apellido"
                (keyup)="FirstUppercaseLetter('pacientlastname')" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Correo eléctronico</mat-label>
              <input matInput formControlName="correo" />
              <mat-error
                *ngIf="nuevoPacienteForm.controls['correo'].dirty || nuevoPacienteForm.controls['correo'].touched">
                Debe ser un correo valido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Doctor</mat-label>
              <mat-select formControlName="doctor">
                <mat-option *ngFor="let doctor of doctores" value="{{doctor.idUsuario}}">
                  {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Telefono</mat-label>
              <input matInput formControlName="telefono" type="text"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10" />
              <mat-error *ngIf="nuevoPacienteForm.get('telefono').hasError('required')">
                El telefono es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Selecciona el convenio</mat-label>
              <mat-select formControlName="convenio">
                <mat-option *ngFor="let convenio of convenios" [value]="convenio.id">
                  {{convenio.NombreConvenio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <button class="mr-3" [disabled]="!nuevoPacienteForm.valid" mat-raised-button color="primary">
              Guardar
            </button>
            <button type="button" mat-button data-dismiss="modal"
              (click)="cerrarmodal(nuevoPacienteForm);funcionnuevacita()">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

</section>