<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <div class="card-icon shadow-primary bg-purple m-3">
                <i class="material-icons align-middle">face</i>
              </div>
            </div>
            <div class="col-12 text-center">
              <h5>Total de pacientes</h5>
            </div>
            <div class="col-12 text-center">
              <h3> {{pacientes?.length}}</h3>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChartData" [labels]="cardChartLabel"
              [options]="cardChart" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <div class="card-icon shadow-primary bg-orange m-3">
                <i class="material-icons align-middle">vaccines</i>
              </div>
            </div>
            <div class="col-12 text-center">
              <h5>Total de doctores</h5>
            </div>
            <div class="col-12 text-center">
              <h3> {{doctores?.length}}</h3>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChartData1" [labels]="cardChartLabel"
              [options]="cardChart" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <div class="card-icon shadow-primary bg-green m-3">
                <i class="material-icons align-middle">person_add</i>
              </div>
            </div>
            <div class="col-12 text-center">
              <h5>Total de nuevos pacientes</h5>
            </div>
            <div class="col-12 text-center">
              <h3>{{pacientesNuevos?.length || "0"}}</h3>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChartData2" [labels]="cardChartLabel"
              [options]="cardChart" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <div class="card-icon shadow-primary bg-blue m-3">
                <i class="material-icons align-middle">paid</i>
              </div>
            </div>
            <div class="col-12 text-center">
              <h5>Ingresos del mes</h5>
            </div>
            <div class="col-12 text-center">
              <h3>${{gananciasMes}}.00</h3>
            </div>
          </div>
          <div class="card-chart">
            <canvas baseChart [chartType]="'line'" [datasets]="cardChartData3" [labels]="cardChartLabel"
              [options]="cardChart" [legend]="true">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Citas del {{anio}}</h2>
          </div>
          <div class="body">
            <div style="text-align:center;height: 400px">
              <div echarts [options]="donut_chart" class="echart-height"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Edades de pacientes</h2>
          </div>
          <div class="body">
            <div style="text-align:center;height: 400px">
              <apx-chart [series]="edadesOptions.series" [chart]="edadesOptions.chart"
                [dataLabels]="edadesOptions.dataLabels" [plotOptions]="edadesOptions.plotOptions"
                [yaxis]="edadesOptions.yaxis" [legend]="edadesOptions.legend" [fill]="edadesOptions.fill"
                [stroke]="edadesOptions.stroke" [tooltip]="edadesOptions.tooltip" [xaxis]="edadesOptions.xaxis">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Nuevos pacientes del {{anio}}</h2>
          </div>
          <div class="body">
            <div style="text-align:center;height: 400px">
              <canvas baseChart [datasets]="bubbleChartData" [options]="bubbleChartOptions" [legend]="bubbleChartLegend"
                [chartType]="bubbleChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Total de pacientes por mes</h2>
          </div>
          <div class="body">
            <div style="text-align:center;height: 400px">
              <ngx-charts-bar-horizontal [scheme]="colorScheme" [results]="single" [gradient]="true" [xAxis]="true"
                [yAxis]="true" [legend]="true" [legendPosition]="'right'" [showXAxisLabel]="true"
                [showYAxisLabel]="true" [xAxisLabel]="'Meses'">
              </ngx-charts-bar-horizontal>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>¿Cómo se enteró sobre el consultorio?</h2>
          </div>
          <div class="body">
            <div style="text-align:center;height: 400px">
              <ngx-charts-bar-vertical [scheme]="colorScheme2" [results]="single2" [gradient]="true" [xAxis]="true"
                [yAxis]="true" [legend]="true" [legendPosition]="'right'" [showXAxisLabel]="true"
                [showYAxisLabel]="true">
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Encuesta de satisfacción</h2>
          </div>
          <div class="body">
            <div style="text-align:center;height: 400px">
              <apx-chart [series]="radarChartOptions.series" [chart]="radarChartOptions.chart"
                [title]="radarChartOptions.title">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>ngx-gauge
            </h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <h5 class="text-center">Full</h5>
                <ngx-gauge [value]="gaugeValue" [size]="gaugeSize" [type]="guageType1" [thick]="guageThick"
                  class="guage-chart-center">
                  <ngx-gauge-append>
                    <span class="font-15">'km/hr'</span>
                  </ngx-gauge-append>
                  <ngx-gauge-label>
                    'Speed'
                  </ngx-gauge-label>
                  <ngx-gauge-value>
                    {{gaugeValue}}
                  </ngx-gauge-value>
                </ngx-gauge>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <h5 class="text-center">Semi</h5>
                <ngx-gauge [value]="gaugeValue" [size]="gaugeSize" [type]="guageType2" [thick]="guageThick"
                  class="guage-chart-center">
                  <ngx-gauge-append>
                    <span class="font-15">'km/hr'</span>
                  </ngx-gauge-append>
                  <ngx-gauge-label>
                    'Speed'
                  </ngx-gauge-label>
                  <ngx-gauge-value>
                    {{gaugeValue}}
                  </ngx-gauge-value>
                </ngx-gauge>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <h5 class="text-center">Arch</h5>
                <ngx-gauge [value]="gaugeValue" [size]="gaugeSize" [type]="guageType3" [thick]="guageThick"
                  class="guage-chart-center">
                  <ngx-gauge-append>
                    <span class="font-15">'km/hr'</span>
                  </ngx-gauge-append>
                  <ngx-gauge-label>
                    'Speed'
                  </ngx-gauge-label>
                  <ngx-gauge-value>
                    {{gaugeValue}}
                  </ngx-gauge-value>
                </ngx-gauge>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row clearfix">
      <div class="col-12">
        <div class="card">
          <div class="header">
            <h2>
              Listado de doctores</h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Sucursal </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doctor of doctores">
                    <td class="table-img">
                      <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{doctor.Imagen}}" alt="">
                    </td>
                    <td>{{doctor.NombreUsuario}}</td>
                    <td>{{doctor.Apellidos}}</td>
                    <td>{{doctor.Celular}}</td>
                    <td><a href="mailto:test@gmail.com">{{doctor.Correo}}</a></td>
                    <td>{{doctor.NombreSucursal}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #modalpago let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="modal-header ">
        <div class="modal-about">
          <div class="font-weight-bold p-t-10 font-17">
          </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="progress shadow-style mb-3">
      <div class="progress-bar l-bg-orange width-per-74" role="progressbar" aria-valuenow="74" aria-valuemin="0"
        aria-valuemax="100">
        Recordatorio 3 dias antes
      </div>
    </div>
    <h3 class="my-3 text-center">Su pago está pendiente</h3>
    <p *ngIf="mensaje === 'pendiente'">
      Su pago está pendiente puede seguir utilizando el sistema, si en los próximos 2 días no se ve reflejado su
      pago se
      le
      negara el acceso al sistema - Todo el sistema de Odonto System. Es gratis durante los próximos 5 días. (Dejar
      el
      mismo
      diseño que muestro en imagen). Te recordaremos un día antes de que termine la prueba gratis. Cancela antes de
      la
      fecha y no se cobrará nada.
    </p>
    <p *ngIf="mensaje === 'no pagado'">
      No se ah podido realizar el cobro, no podra usar el sistema!, si ya efectuo el pago click en el boton para
      consultar su
      estatus o comuniquese con el admin del sistema.
    </p>
    <p *ngIf="mensaje === 'suscripcion cancelada'">
      Su suscripción fue cancelada, no podra usar el sistema!, si ya efectuo el pago click en el boton para
      consultar o
      puede
      reanudar su suscripción.
    </p>
    <p *ngIf="mensaje === 'cobro expirado'">
      El cobro de la factura actual no pudo realizarse, si en los proximos 2 dias no se ve reflejado se le negara el
      acceso!,
      si ya efectuo el pago click en el boton para consultar o comuniquese con el Admin del sistema
    </p>
    <div class="row mt-3">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 text-center">
        <button class="text-center" mat-raised-button color="primary" (click)="modal.dismiss()">
          Activar/Desactivar
        </button>
      </div>
    </div>
  </div>
</ng-template>