<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="ngxTableHeader">
        <ul class="header-buttons-left ml-0 mb-0">
          <li class="dropdown">
          </li>
          <li class="dropdown m-l-20">
            <label for="search-input"><i class="material-icons search-icon">search</i></label>
            <input placeholder="Buscar" type="text" class="browser-default search-field" aria-label="Search box" />
          </li>
        </ul>
        <ul class="header-buttons m-r-20">
          <li>
            <div class="icon-button-demo">
              <button mat-mini-fab color="primary" (click)="getPresupuestos('si')">
                <mat-icon class="col-white">refresh</mat-icon>
              </button>
              <button mat-mini-fab color="primary">
                <mat-icon class="col-white">print</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <h2>Listado de Evoluciones</h2>
            </div>
            <div class="body">
              <mat-accordion>
                <mat-expansion-panel *ngFor="let presup of Presupuestos">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong>
                        {{presup.Nombre}}
                      </strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      {{presup.Fecha}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <!-- Basic Table -->
                  <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="body table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Diente</th>
                              <th>Superficie</th>
                              <th>servicio</th>
                              <th>Subtotal</th>
                              <th>Descuento</th>
                              <th>Total</th>
                              <th>Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let presupuesto of PresupuestosServ; let i=index">
                              <tr *ngIf="presup.idPresupuestos===presupuesto.idPresupuesto">
                                <th>{{presupuesto.Diente}}</th>
                                <td>{{presupuesto.Superficie}}</td>
                                <td>{{presupuesto.nombre}}</td>
                                <td>{{presupuesto.Subtotal}}</td>
                                <td>{{presupuesto.Descuento}}%</td>
                                <td>{{presupuesto.Total}}</td>
                                <td class="text-center">
                                  <mat-label>Estatus</mat-label>
                                  <mat-select name="estatus" value="{{presupuesto.Estatus}}">
                                    <mat-option value="Planificado"
                                      (click)="cambiarstatus('Planificado',presupuesto.idPresupuestoService)">
                                      Planificado
                                    </mat-option>
                                    <mat-option value="En curso"
                                      (click)="cambiarstatus('En curso',presupuesto.idPresupuestoService)">
                                      En curso
                                    </mat-option>
                                    <mat-option value="Completado"
                                      (click)="cambiarstatus('Completado',presupuesto.idPresupuestoService)">
                                      Completado
                                    </mat-option>
                                  </mat-select>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>