<div class="container-fluid">
    <div class="row py-3">
        {{especialidad}}
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 d-flex justify-content-center">
            <div style="width:380px;height:456px;position: relative;">
                <div *ngFor="let mandibula of mandibulas" class="{{mandibula.class}}"
                    (click)="cambiarMandibula(mandibula)"></div>
                <img src="{{urlImg}}" alt="mandibula" class="imgMandibula">
                <img *ngFor="let diente of dientes" src="{{diente.urlimg}}" alt="{{diente.class}}"
                    class="{{diente.class}}">
                <img *ngFor="let especialidad of arregloespecialidad" src="{{especialidad.urlimg}}" alt="{{especialidad.class}}"
                    class="{{especialidad.class}}">
                <img *ngFor="let puente of puente_de_implentes" src="{{puente.urlimg}}" alt="{{puente.class}}"
                    class="{{puente.class}}">
                <img *ngFor="let dentadura of dentadura_postiza_completa" src="{{dentadura.urlimg}}" alt="{{dentadura.class}}"
                    class="{{dentadura.class}}">
                <img *ngFor="let dentadura of dentaduras_parciales_con_puente" src="{{dentadura.urlimg}}" alt="{{dentadura.class}}"
                    class="{{dentadura.class}}">
                <img *ngFor="let dentadura of sobredentadura_sobre_barras" src="{{dentadura.urlimg}}" alt="{{dentadura.class}}"
                    class="{{dentadura.class}}">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12" style="overflow-y:scroll;max-height: 400px;">
            <div class="row clearfix mt-2 px-3" *ngFor="let esp of especialidades">
                <button type="button" class="btn btn-outline-primary" style="white-space:pre-wrap;"
                    (click)="selectEsp(esp)">{{esp.nombre}}
                </button>
            </div>
        </div>
    </div>
    <div class="row py-3" *ngIf="especialidad !== ''">
        <button *ngFor="let num of mandibula" type="button" class="col mx-2 btn btn-outline-primary"
            (click)="selectTooth(num)">
            {{num}}
        </button>
    </div>
    <button type="button" class="col mx-2 btn btn-outline-primary" *ngIf="arregloespecialidad.length > 0" (click)="limpiarcuadrante()">Reiniciar</button>
    <!-- <div class="row py-3" *ngIf="especialidad === 'Puente'">
        <button *ngFor="let num of mandibula" type="button" class="col mx-2 btn btn-outline-primary"
            (click)="selectTooth(num)">
            {{num}}
        </button>
    </div> -->

    <div class="row">
        <div class="col-sm-12">
            <div class="ngxTableHeader">
                <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                        <h2>
                            <strong>Listado de Odontogramas</strong>
                        </h2>
                    </li>
                    <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar" type="text"
                            class="browser-default search-field" aria-label="Search box">
                    </li>
                </ul>
                <ul class="header-buttons">
                    <li>
                        <button mat-mini-fab color="primary" class="mr-10">
                            <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                    </li>
                    <li>
                        <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                            class="mr-10">
                            <mat-icon class="col-white">print</mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <ngx-datatable #table class="material" [rows]="data" [scrollbarH]="true"
                [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [limit]="10" [messages]="{emptyMessage: 'No hay odontogramas..'}">
                <!-- user image -->
                <ngx-datatable-column name="Nombre tratamiento" [width]="120" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Nombre}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha" [width]="120" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Apellido}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Convenio" [width]="100" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Celular}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Situación" [width]="80" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Genero}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Estatus" [width]="120" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.NombreUsuario}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>

</div>