<section class="content">
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">
                                Listado de citas
                            </h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="">
                                <i class="fas fa-home"></i>Home
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">
                                Pacientes
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            Listado de citas
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Citas por confirmar</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" class="mr-10" (click)="getAllCitas('si')">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="" type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="porConfirmar" [scrollbarH]="true"
                                    [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                    [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay citas..'}">
                                    <ngx-datatable-column name="Imagen" [width]="40">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img *ngIf="row.Logo !== ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Imagen}}"
                                                    class="img__table" />
                                                <img *ngIf="row.Logo === ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/user_default.png"
                                                    class="img__table" />
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Paciente" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombrePaciente}} {{row.Apellido}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Doctor" [width]="120" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreUsuario}} {{row.Apellidos}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreMotivo}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Servicio" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreServicio}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estatus" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.EstatusCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="100"
                                        [sortable]="false">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    (click)="modalDetalle(row,detalleCita)">subject</mat-icon>
                                                <mat-icon title="Historial" class="grey-color mr-10 pointer"
                                                    (click)="modalHistory(historialCitas,row)">history</mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                                <div class="ngxTableHeader mt-5">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Citas confirmadas</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" class="mr-10" (click)="getAllCitas('si')">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="" type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="confirmadas" [scrollbarH]="true"
                                    [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                    [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay citas..'}">
                                    <ngx-datatable-column name="Imagen" [width]="40">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img *ngIf="row.Logo !== ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Imagen}}"
                                                    class="img__table" />
                                                <img *ngIf="row.Logo === ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/user_default.png"
                                                    class="img__table" />
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Paciente" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombrePaciente}} {{row.Apellido}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Doctor" [width]="120" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreUsuario}} {{row.Apellidos}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreMotivo}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Servicio" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreServicio}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estatus" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.EstatusCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="100"
                                        [sortable]="false">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    (click)="modalDetalle(row,detalleCita)">subject</mat-icon>
                                                <mat-icon title="Historial" class="grey-color mr-10 pointer"
                                                    (click)="modalHistory(historialCitas,row)">history
                                                </mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                                <div class="ngxTableHeader mt-5">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Citas hora cancelada</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" class="mr-10" (click)="getAllCitas('si')">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="" type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="horaCancelada" [scrollbarH]="true"
                                    [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                    [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay citas..'}">
                                    <ngx-datatable-column name="Imagen" [width]="40">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img *ngIf="row.Logo !== ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Imagen}}"
                                                    class="img__table" />
                                                <img *ngIf="row.Logo === ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/user_default.png"
                                                    class="img__table" />
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Paciente" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombrePaciente}} {{row.Apellido}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Doctor" [width]="120" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreUsuario}} {{row.Apellidos}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreMotivo}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Servicio" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreServicio}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estatus" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.EstatusCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="100"
                                        [sortable]="false">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    (click)="modalDetalle(row,detalleCita)">subject</mat-icon>
                                                <mat-icon title="Historial" class="grey-color mr-10 pointer"
                                                    (click)="modalHistory(historialCitas,row)">history
                                                </mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                                <div class="ngxTableHeader mt-5">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Citas finalizadas</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" class="mr-10" (click)="getAllCitas('si')">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="" type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="finalizada" [scrollbarH]="true"
                                    [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                    [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay citas..'}">
                                    <ngx-datatable-column name="Imagen" [width]="40">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img *ngIf="row.Logo !== ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Imagen}}"
                                                    class="img__table" />
                                                <img *ngIf="row.Logo === ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/user_default.png"
                                                    class="img__table" />
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Paciente" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombrePaciente}} {{row.Apellido}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Doctor" [width]="120" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreUsuario}} {{row.Apellidos}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreMotivo}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Servicio" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreServicio}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estatus" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.EstatusCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actions" sortable="false" [width]="100"
                                        [sortable]="false">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    (click)="modalDetalle(row,detalleCita)">subject</mat-icon>
                                                <mat-icon title="Historial" class="grey-color mr-10 pointer"
                                                    (click)="modalHistory(historialCitas,row)">history
                                                </mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                                <ng-template #detalleCita let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title">
                                        </h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="register-form" [formGroup]="NuevaCitaForm">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Paciente</mat-label>
                                                        <mat-select formControlName="paciente" required>
                                                            <mat-option *ngFor="let paciente of pacientes"
                                                                value="{{paciente.idPacientes}}">
                                                                {{paciente.Nombre}} {{paciente.Apellido}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Doctor</mat-label>
                                                        <mat-select formControlName="doctor" required>
                                                            <mat-option *ngFor="let doctor of doctores"
                                                                value="{{doctor.idUsuario}}">
                                                                {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Selecciona una fecha</mat-label>
                                                        <input matInput formControlName="fecha" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Horario</mat-label>
                                                        <input matInput formControlName="horario" type="time" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Motivo</mat-label>
                                                        <mat-select formControlName="motivo" required>
                                                            <mat-option *ngFor="let motivo of motivosconsulta"
                                                                value="{{motivo.idMotivo}}" (click)="otromotivo(false)">
                                                                {{motivo.NombreMotivo}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Servicio</mat-label>
                                                        <mat-select formControlName="servicio" required>
                                                            <mat-option *ngFor="let servicio of servicios"
                                                                value="{{servicio.idServicios}}">
                                                                {{servicio.Nombre}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Estatus de la cita</mat-label>
                                                        <mat-select formControlName="estatus" required>
                                                            <mat-option value="Por confirmar">
                                                                Por confirmar
                                                            </mat-option>
                                                            <mat-option value="Confirmado">
                                                                Confirmado
                                                            </mat-option>
                                                            <mat-option value="Hora Cancelada" *ngIf="valor === '1'">
                                                                Hora Cancelada
                                                            </mat-option>
                                                            <mat-option value="Finalizada" *ngIf="valor === '1'">
                                                                Finalizada
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Observaciones</mat-label>
                                                        <textarea matInput formControlName="observaciones"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>
                                <ng-template #historialCitas let-modal>
                                    <div class="modal-header editRowModal">
                                        <img *ngIf="cita.Logo !== ''"
                                            src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{cita.Imagen}}"
                                            style="width:50px;height:50px;border-radius: 50%;" />
                                        <img *ngIf="cita.Logo === ''"
                                            src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/user_default.png"
                                            style="width:50px;height:50px;border-radius: 50%;" />
                                        <h4>
                                            {{cita.NombrePaciente}} {{cita.Apellido}}
                                        </h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Motivo</th>
                                                    <th scope="col">Detalle</th>
                                                    <th scope="col">Fecha</th>
                                                    <th scope="col">Hora</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of historialcita">
                                                    <td>{{item.Id_usuario}}</td>
                                                    <td>{{item.motivo}}</td>
                                                    <td>{{item.detalle}}</td>
                                                    <td>{{item.Fecha}}</td>
                                                    <td>{{item.Hora}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>