<section class="content">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6">
            <!-- <img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <span style="font-size: 30px; font-weight: bold;">Listado de laboratorios</span>
        </div>
    </div>
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Listado de laboratorios</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Listado de laboratorios</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de laboratorios</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)="filterDatatable($event)" aria-label="Search box" />
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <a mat-mini-fab color="primary"
                                                routerLink="/admin/administrador/laboratorio/nuevo-laboratorio"
                                                class="mr-10">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </a>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="getLaboratorio('si')"
                                                class="mr-10">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')"
                                                type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="laboratorios" [columns]="columns"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    rowHeight="auto" [limit]="10" [scrollbarH]="true" [scrollbarV]="false"
                                    [messages]="{emptyMessage: 'No hay laboratorios..'}">
                                    <ngx-datatable-column name="Nombre" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td style="cursor: pointer;" (click)="goToDetail(row.idLaboratorio)">
                                                {{row.Nombre}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Teléfono" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td style="cursor: pointer;" (click)="goToDetail(row.idLaboratorio)">
                                                {{row.Telefono}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Email" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td style="cursor: pointer;" (click)="goToDetail(row.idLaboratorio)">
                                                {{row.Correo}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Trabajos" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td style="cursor: pointer;" (click)="goToDetail(row.idLaboratorio)">
                                                {{row.ProtesisFijaUnitaria === '1' ? 'Protesis fija unitaria,' : ''}}
                                                {{row.ProtesisFijaPlural === '1' ? 'Protesis fija plural,' : ''}}
                                                {{row.OperatoriaIndirecta === '1' ? 'Operatoria indirecta,' : ''}}
                                                {{row.Planos === '1' ? 'Planos,' : ''}}
                                                {{row.ProtesisRemovible === '1' ? 'Protesis removible,' : ''}}
                                                {{row.Ortodoncia === '1' ? 'Ortodoncia,' : ''}}
                                                {{row.Otros === '1' ? 'Otros' : ''}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Dirección" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td style="cursor: pointer;" (click)="goToDetail(row.idLaboratorio)">
                                                {{row.Direccion}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Observaciones" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td style="cursor: pointer;" (click)="goToDetail(row.idLaboratorio)">
                                                {{row.Observaciones}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acciones" sortable="false" [width]="100">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Editar" class="grey-color mr-10 pointer"
                                                    (click)="editModal(row,addRecord2)">
                                                    mode_edit</mat-icon>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    (click)="deleteLab(row.idLaboratorio)">delete</mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>

                                <!-- modal editar laboratorio -->
                                <ng-template #addRecord2 let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title2">
                                            <div class="modal-header">
                                                <div class="modal-about">
                                                    <div class="font-weight-bold p-t-10 font-17">
                                                        Editar Laboratorio
                                                    </div>
                                                </div>
                                            </div>
                                        </h4>
                                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="register-form" [formGroup]="laboratorio"
                                            (ngSubmit)="guardarLaboratorio(laboratorio.value)">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Nombre del laboratorio</mat-label>
                                                        <input matInput id="namelab" formControlName="Nombre"
                                                            (keyup)="FirstUppercaseLetter('namelab')" />
                                                        <mat-error
                                                            *ngIf="laboratorio.get('Nombre').hasError('required') && laboratorio.get('Nombre').touched">
                                                            El Nombre es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Teléfono</mat-label>
                                                        <input matInput formControlName="Telefono" type="text"
                                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                            maxlength="10" />
                                                        <mat-error
                                                            *ngIf="laboratorio.get('Telefono').hasError('required') && laboratorio.get('Telefono').touched">
                                                            La Teléfono es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Correo electrónico</mat-label>
                                                        <input matInput type="email" formControlName="Correo" />
                                                        <mat-error
                                                            *ngIf="laboratorio.get('Correo').hasError('required') && laboratorio.get('Correo').touched">
                                                            El Correo electrónico es requerido
                                                        </mat-error>
                                                        <mat-error
                                                            *ngIf="laboratorio.get('Correo').hasError('pattern') && laboratorio.get('Correo').touched">
                                                            El Correo electrónico debe ser valido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Dirección</mat-label>
                                                        <input matInput formControlName="Direccion"
                                                            ngx-google-places-autocomplete [options]='options'
                                                            #placesRef="ngx-places"
                                                            (onAddressChange)="handleAddressChange($event)" />
                                                        <mat-error
                                                            *ngIf="laboratorio.get('Direccion').hasError('required') && laboratorio.get('Direccion').touched">
                                                            La Dirección es requerida
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h6>Tipos de Trabajo</h6>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <mat-checkbox class="example-margin pl-5"
                                                        formControlName="ProtesisFijaUnitaria">
                                                        Prótesis Fija Unitaria</mat-checkbox>
                                                </div>
                                                <div class="col-6">
                                                    <mat-checkbox class="example-margin pl-5"
                                                        formControlName="ProtesisFijaPlural">
                                                        Prótesis Fija Plural</mat-checkbox>
                                                </div>
                                                <div class="col-6">
                                                    <mat-checkbox class="example-margin pl-5"
                                                        formControlName="OperatoriaIndirecta">
                                                        Operatoria Indirecta</mat-checkbox>
                                                </div>
                                                <div class="col-6">
                                                    <mat-checkbox class="example-margin pl-5" formControlName="Planos">
                                                        Planos</mat-checkbox>
                                                </div>
                                                <div class="col-6">
                                                    <mat-checkbox class="example-margin pl-5"
                                                        formControlName="ProtesisRemovible">
                                                        Prótesis Removible</mat-checkbox>
                                                </div>
                                                <div class="col-6">
                                                    <mat-checkbox class="example-margin pl-5"
                                                        formControlName="Ortodoncia">
                                                        Ortodoncia</mat-checkbox>
                                                </div>
                                                <div class="col-6">
                                                    <mat-checkbox class="example-margin pl-5" formControlName="Otros">
                                                        Otros (Encerados, Provisorios, etc.)</mat-checkbox>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Observaciones</mat-label>
                                                        <textarea matInput id="obserlab" formControlName="Observaciones"
                                                            (keyup)="FirstUppercaseLetter('obserlab')"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <button [disabled]="!laboratorio.valid" type="submit" class="mr-3"
                                                        mat-raised-button color="primary">
                                                        Guardar
                                                    </button>
                                                    <button type="button" mat-button data-dismiss="modal"
                                                        (click)="closeModal()">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla a exportar oculta -->
    <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Nombre</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Teléfono</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Correo</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Trabajos</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Dirección</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Observaciones</h6>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lab of laboratorios">
                    <td>
                        <div>
                            <span>{{lab.Nombre}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.Telefono}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.Correo}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>
                                {{lab.ProtesisFijaUnitaria === '1' ? 'Protesis fija unitaria,' : ''}}
                                {{lab.ProtesisFijaPlural === '1' ? 'Protesis fija plural,' : ''}}
                                {{lab.OperatoriaIndirecta === '1' ? 'Operatoria indirecta,' : ''}}
                                {{lab.Planos === '1' ? 'Planos,' : ''}}
                                {{lab.ProtesisRemovible === '1' ? 'Protesis removible,' : ''}}
                                {{lab.Ortodoncia === '1' ? 'Ortodoncia,' : ''}}
                                {{lab.Otros === '1' ? 'Otros' : ''}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.Direccion}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.Observaciones}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>