<section class="content colorCheck">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Servicio</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Agregar Servicio</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2 style="line-height: 18px;"><strong>Nuevo Servicio</strong></h2>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="servicioForm"
                            (ngSubmit)="agregarServicio(servicioForm.getRawValue())">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre de Servicio</mat-label>
                                        <input matInput formControlName="Nombre"
                                            (keyup)="firstLetterUpperCase('Nombre')" required>
                                        <mat-error *ngIf="servicioForm.get('Nombre')?.hasError('required')">
                                            El nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Categoría</mat-label>
                                        <mat-select formControlName="idCategorias" required>
                                            <mat-option *ngFor="let categ of categorias" [value]="categ.idCategorias">
                                                {{categ.Nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="servicioForm.get('idCategorias')?.hasError('required')">
                                            La categoria es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Descripción del servicio</mat-label>
                                        <textarea matInput formControlName="Descripcion" rows="3"
                                            (keyup)="firstLetterUpperCase('Descripcion')"></textarea>
                                        <mat-error *ngIf="servicioForm.get('Descripcion')?.hasError('maxlength')">
                                            La descripcion debe ser maximo de 250 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Costo del servicio</mat-label>
                                        <input matInput formControlName="Costo" type="number" min="0" required>
                                        <mat-icon [inline]="true" matSuffix style="font-weight: bold;font-size: 20px;">$
                                        </mat-icon>
                                        <mat-error *ngIf="servicioForm.get('Costo')?.hasError('required')">
                                            El costo es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-slide-toggle formControlName="Deshabilitar">Habilitar Servicio
                                    </mat-slide-toggle>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" type="submit" [disabled]="!servicioForm.valid"
                                        mat-raised-button color="primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>