<br>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            Nueva Receta
        </ng-template>
        <app-nueva-receta></app-nueva-receta>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Radiología
        </ng-template>
        <app-radiologia></app-radiologia>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Laboratorio
        </ng-template>
        <app-laboratorio></app-laboratorio>
    </mat-tab>
</mat-tab-group>