<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Pacientes</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Pacientes</a>
            </li>
            <li class="breadcrumb-item active">Ficha pacientes</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="col-sm-12 px-0">
              <div class="ngxTableHeader">
                <ul class="header-buttons-left ml-0 mb-0">
                  <li class="dropdown">
                    <h2><strong>Buscar Paciente</strong></h2>
                  </li>
                  <li class="dropdown m-l-20">
                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                    <input placeholder="Buscar" type="text" class="browser-default search-field" aria-label="Search box"
                      (keyup)='filtrobuscar($event)'>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-4" *ngFor="let perfil of pacientes1">
                <div class="card border-apply" style="height: 550px;">
                  <div class="m-b-20">
                    <div class="contact-grid">
                      <div class="profile-header gradient-bg">
                        <div class="user-name">{{perfil.Nombre}} {{perfil.Apellido}}</div>
                        <div class="name-center" *ngIf="perfil.Ocupacion === '' || perfil.Ocupacion === null">Ocupación
                          no definida</div>
                        <div class="name-center" *ngIf="perfil.Ocupacion !== '' || perfil.Ocupacion !== null">
                          {{perfil.Ocupacion}}</div>
                      </div>
                      <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{perfil.Imagen}}"
                        class="user-img" alt="">
                      <p style="margin-bottom:0px!important;"><strong>DOCTOR/A DE CABECERA</strong></p>
                      <p style="margin-bottom:0px!important;">
                        {{(perfil.NombreUsuario + ' ' + perfil.Apellidos) || 'Doctor no definido'}}</p>
                      <p style="margin-bottom:0px!important;"><strong>DATOS DE CONTACTO</strong></p>
                      <p *ngIf="perfil.Direccion !== '' || perfil.Direccion !== null">
                        {{(perfil.Direccion.length > 25) ? (perfil.Direccion | slice:0:25) + '...' : perfil.Direccion}}
                      </p>
                      <p *ngIf="perfil.Direccion === '' || perfil.Direccion === null">
                        Dirección no definida
                      </p>
                      <p class="phone" style="margin-bottom:0px!important;"
                        *ngIf="perfil.Celular !== '' && perfil.Celular !== null">
                        <i class="material-icons">phone</i>{{perfil.Celular}}
                      </p>
                      <p class="phone" style="margin-bottom:0px!important;"
                        *ngIf="perfil.Celular === '' || perfil.Celular === null">
                        <i class="material-icons">phone</i>
                        Sin numero
                      </p>
                      <p style="margin-bottom:0px!important;"><strong>SUCURSAL</strong></p>
                      <p>{{perfil.NombreSucursal || 'Sin sucursal'}}</p>
                      <p style="margin-bottom:0px!important;"><strong>OBSERVACIONES</strong></p>
                      <p style="margin-bottom:0px!important;">
                        {{perfil.Observaciones || 'Sin observaciones'}}
                      </p>
                      <div class="profile-userbuttons">
                        <button mat-flat-button color="primary" (click)="iravista(perfil.idPacientes)">
                          Ver más
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>