<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel-body">
                        <div id="jitsi-iframe" class="item-center"></div>

                        <div class="item-center">
                            <span>Controles de videollamada</span>
                        </div>
                        <div class="item-center">
                            <span>&nbsp;&nbsp;</span>
                            <i (click)="executeCommand('toggleAudio')" class="fas size-3rem grey-color" [ngClass]="isAudioMuted ? 'fa-microphone-slash' : 'fa-microphone'" aria-hidden="true" title="Mute / Unmute"></i>
                            <i (click)="executeCommand('hangup')" class="fas fa-phone-slash size-3rem red-color" aria-hidden="true" title="Leave"></i>
                            <i (click)="executeCommand('toggleVideo')" class="fas size-3rem grey-color" [ngClass]="isVideoMuted ? 'fa-video-slash' : 'fa-video'" aria-hidden="true" title="Start / Stop camera"></i>
                            <i (click)="executeCommand('toggleShareScreen')" class="fas fa-film size-3rem grey-color" aria-hidden="true" title="Share your screen"></i>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>