<section class="content">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
                src="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 30px; font-weight: bold;">Listado de
                docotores</span></div>
    </div>
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Listado de docotores</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Doctor</a>
                        </li>
                        <li class="breadcrumb-item active">Listado</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de docotores</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="getDoctores('si')"
                                                class="mr-10">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')"
                                                type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="exportToExcel()"
                                                class="mr-10">
                                                <mat-icon class="col-white">call_made</mat-icon>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="doctores" [sortType]="'multi'"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                                    [limit]="10" [messages]="{emptyMessage: 'No hay doctores..'}">
                                    <!-- user image -->
                                    <ngx-datatable-column name="img" [width]="30" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="table-img padding-0 pointer" routerLink="/doctor/equipo/detalle-doctor/{{row.idUsuario}}">
                                                <img width="40"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Imagen || 'user_default.png'}}" />
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Nombre Completo" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/doctor/equipo/detalle-doctor/{{row.idUsuario}}">
                                                {{row.NombreUsuario}} {{row.Apellidos}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Celular" [width]="50" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/doctor/equipo/detalle-doctor/{{row.idUsuario}}">
                                                {{row.Celular}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Correo" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/doctor/equipo/detalle-doctor/{{row.idUsuario}}">
                                                {{row.Correo.length>17 ? (row.Correo | slice:0:15) + '..' : row.Correo}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Sucursal" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/doctor/equipo/detalle-doctor/{{row.idUsuario}}">
                                                {{row.NombreSucursal}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Genero" [width]="30" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/doctor/equipo/detalle-doctor/{{row.idUsuario}}">
                                                {{row.Genero}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla a exportar oculta -->
    <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Nombre Completo</h6>
                        </div>
                    </th>
                    <th>
                        <!--motivo cita-->
                        <div class="col-md-12 text-left">
                            <h6>Direccion</h6>
                        </div>
                    </th>
                    <th>
                        <!--sucursal cita-->
                        <div class="col-md-12 text-left">
                            <h6 class="ml-3">Celular</h6>
                        </div>
                    </th>
                    <th>
                        <!--check-in cita-->
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Correo</h6>
                        </div>
                    </th>
                    <th>
                        <!--check-in cita-->
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Especialidad</h6>
                        </div>
                    </th>
                    <th>
                        <!--check-in cita-->
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Genero</h6>
                        </div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of doctores">
                    <td>
                        <div>
                            <span>{{user.NombreUsuario}} {{user.Apellidos}}</span>
                        </div>
                    </td>
                    <td>
                        <span>{{user.Direccion}}</span>
                    </td>
                    <td>
                        <span>{{user.Celular}}</span>
                    </td>
                    <td>
                        <span>{{user.Correo}}</span>
                    </td>
                    <td>
                        <span>{{user.Especialidad}}</span>
                    </td>
                    <td>
                        <span>{{user.Genero}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>