* {
    padding: 0;
    margin: 0;
}
body, html {
    transition: all 0.5s;
    background-color: #ecf0f4;
    font-family: "fort", sans-serif;
    font-style: normal;
    height: 100%;
}
td {
    height: 30px;
    vertical-align: bottom;
    padding: 5px;
}
th {
  height: 30px;
  vertical-align: bottom;
  padding: 5px;
}
table, th, td {
  border: 1px solid;
}
thead {
    border-bottom: 1px solid;
}
.container-print{
  border: 1px solid red;
  height: 100%;
  border-collapse: collapse;
  display: flex;
  position: relative;
}
.table-print{
  border-collapse: collapse;
  width: 100%;
}
.text-left-print{
    text-align: left!important;
}
.head-print{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer-print{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 50px;
    padding-top: 200px;
    display: flex;
    justify-content: space-between;

}
.col-6-print{
    display: block;
    align-items: center;
    justify-content: center;
}
.img-print{
  width: 200px;
  height: inherit;
}
.title-print{
  font-weight: 900;
  font-size: 18px;
}
.span-print{
  font-size: 13px;
  font-weight: 600;
}
.h6-print{
    font-size: 15px;
    font-weight: 600;
    color: grey;
}
.text-footer-print{
  text-align: end;
}
.footer-img-print{
    width: 100%;
    object-fit: contain;
}