<section class="content">
  <div class="siprint row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        style="font-size: 30px; font-weight: bold;">Listado de motivos</span></div>
  </div>
  <div class="container-fluid noprint">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de Motivos de Consulta</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Administrador</a>
            </li>
            <li class="breadcrumb-item active">Listado</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader" style="min-width: 800px!important;">
                  <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                      <h2>
                        <strong>Listado de Motivos de Consulta</strong>
                      </h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar" type="text" class="browser-default search-field"
                        (keyup)='filterDatatable($event)' aria-label="Search box">
                    </li>
                  </ul>
                  <ul class="header-buttons" *ngIf="idClinica > 0">
                    <li>
                      <a mat-mini-fab color="primary" class="mr-10"
                        routerLink="/admin/administrador/motivo/nuevo-motivo">
                        <mat-icon class="col-white">add</mat-icon>
                      </a>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="getMotivos('si')" class="mr-10">
                        <mat-icon class="col-white">refresh</mat-icon>
                      </button>
                    </li>
                    <li>
                      <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                        class="mr-10">
                        <mat-icon class="col-white">print</mat-icon>
                      </a>
                    </li>
                  </ul>
                </div>
                <ngx-datatable #table class="material" [rows]="motivos" [sortType]="'multi'" [columnMode]="'force'"
                  [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay motivos..'}">
                  <ngx-datatable-column name="Motivo de consulta" [width]="130">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.NombreMotivo}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Tiempo de Consulta" [width]="130">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Tiempo}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Mostrar en agenda" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.MostrarAgenda}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones" sortable="false" [width]="120">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span *ngIf="row.idClinica !== '0' && row.idMotivo !== 0">
                        <mat-icon title="Editar" class="grey-color mr-10 pointer"
                          (click)='editMotivoModal(row, editmotivo)'>mode_edit</mat-icon>
                        <mat-icon title="Eliminar" class="grey-color mr-10 pointer" (click)='eliminarMotivo(row)'>delete
                        </mat-icon>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>

                <!-- Add Record Modal Window -->
                <ng-template #editmotivo let-modal>
                  <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title">
                      <div class="modal-header ">
                        <div class="modal-about">
                          <div class="font-weight-bold p-t-10 font-17">
                            Modificar Motivo de Consulta
                          </div>
                        </div>
                      </div>
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="cerrarmodal()">
                      <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="register-form" [formGroup]="motivoForm"
                      (ngSubmit)="updateMotivo(motivoForm.getRawValue())">
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Motivo de Consulta</mat-label>
                            <textarea matInput formControlName="NombreMotivo"
                              (keyup)="firstLetterUpperCase('NombreMotivo')" rows="3" required></textarea>
                            <mat-error *ngIf="motivoForm.get('NombreMotivo')?.hasError('required')">
                              El nommbre del motivo es requerido
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Tiempo Motivo de Consulta (en minutos)</mat-label>
                            <input matInput formControlName="Tiempo" type="number" min="1" max="100" step="1" required>
                            <mat-error *ngIf="motivoForm.get('Tiempo')?.hasError('required')">
                              El tiempo del motivo es requerido
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                          <mat-slide-toggle formControlName="MostrarAgenda">Mostrar en agenda</mat-slide-toggle>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                          <button class="mr-3" [disabled]="!motivoForm.valid" mat-raised-button
                            color="primary">Modificar</button>
                          <button type="button" mat-button (click)="cerrarmodal()">Cancelar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla a exportar oculta -->
  <div class="col-md-12 table-responsive siprint" #epltable>
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th>
            <div class="col-md-12 text-left">
              <h6>Motivo de consulta</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Tiempo</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6 class="ml-3">Mostrar</h6>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let motivo of motivos">
          <td>
            <div>
              <span>{{motivo.NombreMotivo}}</span>
            </div>
          </td>
          <td>
            <span>{{motivo.Tiempo}} Minutos</span>
          </td>
          <td>
            <span>{{motivo.MostrarAgenda}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>