<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="ngxTableHeader">
        <ul class="header-buttons-left ml-0 mb-0">
          <li class="dropdown">
            <h2>
              <strong>Listado</strong>
            </h2>
          </li>
          <li class="dropdown m-l-20">
            <label for="search-input"><i class="material-icons search-icon">search</i></label>
            <input placeholder="Buscar" type="text" class="browser-default search-field"
              (keyup)="filterDatatable($event)" aria-label="Search box" />
          </li>
        </ul>
        <ul class="header-buttons m-r-20">
          <li>
            <div class="icon-button-demo">
              <button mat-mini-fab color="primary">
                <mat-icon class="col-white">add</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="10" [messages]="{emptyMessage: 'No hay recetas..'}">
        <ngx-datatable-column name="Fecha" [width]="130"></ngx-datatable-column>
        <ngx-datatable-column name="Descripcion" [width]="130"></ngx-datatable-column>
        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
        </ngx-datatable-column>
        <!-- action buttons -->
        <ngx-datatable-column name="Actions" sortable="false" [width]="120">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>
              <button class="btn tblActnBtn h-auto" (click)="editRow(row, rowIndex, editRecord)">
                <i class="material-icons">mode_edit</i>
              </button>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <!-- Edit Record Modal Window -->
      <ng-template #editRecord let-modal>
        <div class="modal-header editRowModal">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
            <div class="input-field col s12 d-none">
              <input formControlName="idRecetas" class="form-control" type="hidden" />
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="Fecha" required />
                  <mat-error *ngIf="register.get('Fecha').hasError('required')">
                    La Fecha es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Descripcion</mat-label>
                  <input matInput formControlName="Descripcion" required />
                  <mat-error *ngIf="register.get('Descripcion').hasError('required')">
                    La descripción es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="modal-footer">
              <div class="button-demo">
                <button mat-raised-button type="submit" color="primary">
                  Guardar
                </button>
                <button mat-button type="button" (click)="modal.close()">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>