<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Agregar Paciente</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Pacientes</a>
                        </li>
                        <li class="breadcrumb-item active">Agregar</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <form class="m-4" [formGroup]="patientForm" (ngSubmit)="preSave(patientForm.getRawValue())">
                            <div class="row">
                                <h5 class="color-blue"><strong>Información del paciente</strong></h5>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre del Paciente</mat-label>
                                        <input matInput id="nombreP" formControlName="nombre"
                                            (keyup)="firstWordUpercase('nombreP')"
                                            onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32"
                                            required>
                                        <mat-error *ngIf="patientForm.get('nombre')?.hasError('required')">
                                            El nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Apellidos del Paciente</mat-label>
                                        <input matInput id="apellidoP" formControlName="apellido"
                                            (keyup)="firstWordUpercase('apellidoP')"
                                            onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32"
                                            required>
                                        <mat-error *ngIf="patientForm.get('apellido')?.hasError('required')">
                                            El apellido es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Composición del RFC para personas físicas y personas morales
                                        </mat-label>
                                        <input id="rfc" type="text" maxlength="13" matInput formControlName="rfc"
                                            (ngModelChange)="toUpperCaseAll('rfc')">
                                        <mat-error *ngIf="patientForm.get('rfc')?.hasError('minlength')">
                                            El rfc debe ser minimo de 12 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Selecciona el Convenio</mat-label>
                                        <mat-select formControlName="convenio">
                                            <mat-option *ngFor="let convenio of conveniosclinica" [value]="convenio.id">
                                                {{convenio.NombreConvenio}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Dirección</mat-label>
                                        <input matInput ngx-google-places-autocomplete [options]='options'
                                            #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Dr/Dra.</mat-label>
                                        <mat-select formControlName="doctor">
                                            <mat-option *ngFor="let doc of docs" [value]="doc.idUsuario">
                                                {{doc.NombreUsuario}} {{doc.Apellidos}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Celular</mat-label>
                                        <input type="text"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="10" matInput formControlName="celular">
                                        <mat-error *ngIf="patientForm.get('celular')?.hasError('minlength')">
                                            El telefono debe ser minimo de 10 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Correo Electrónico</mat-label>
                                        <input matInput formControlName="correo">
                                        <mat-error *ngIf="patientForm.get('correo')?.hasError('pattern')">
                                            Debe ser un correo valido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Fecha de Nacimiento</mat-label>
                                        <input matInput [matDatepicker]="picker" (dateChange)="calcularedad($event)">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Edad</mat-label>
                                        <input matInput formControlName="edad">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Selecciona el grupo sanguíneo</mat-label>
                                        <mat-select formControlName="gruposanguineo">
                                            <mat-option [value]="'A+'">
                                                A+
                                            </mat-option>
                                            <mat-option [value]="'A-'">
                                                A-
                                            </mat-option>
                                            <mat-option [value]="'B+'">
                                                B+
                                            </mat-option>
                                            <mat-option [value]="'B-'">
                                                B-
                                            </mat-option>
                                            <mat-option [value]="'O+'">
                                                O+
                                            </mat-option>
                                            <mat-option [value]="'O-'">
                                                O-
                                            </mat-option>
                                            <mat-option [value]="'AB+'">
                                                AB+
                                            </mat-option>
                                            <mat-option [value]="'AB-'">
                                                AB-
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Género </mat-label>
                                        <mat-select formControlName="genero">
                                            <mat-option value="Masculino">
                                                Masculino
                                            </mat-option>
                                            <mat-option value="Femenino">
                                                Femenino
                                            </mat-option>
                                            <mat-option value="Indistinto">
                                                Indistinto
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Selecciona tu estado civil</mat-label>
                                        <mat-select formControlName="estadocivil">
                                            <mat-option value="Soltero/a">
                                                Soltero/a
                                            </mat-option>
                                            <mat-option value="Casado/a">
                                                Casado/a
                                            </mat-option>
                                            <mat-option value="Divorciado/a">
                                                Divorciado/a
                                            </mat-option>
                                            <mat-option value="Viudo/a">
                                                Viudo/a
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Selecciona una sucursal</mat-label>
                                        <mat-select formControlName="sucursal">
                                            <mat-option *ngFor="let suc of sucursales" [value]="suc.idSucursal">
                                                {{suc.NombreSucursal}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="patientForm.get('sucursal')?.hasError('required')">
                                            La sucursal es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <ng-autocomplete [data]="data" [searchKeyword]="keyword"
                                        [itemTemplate]="itemTemplate" placeholder="Ocupación"
                                        (selected)='selectEvent($event)' [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.name"></a>
                                    </ng-template>

                                    <ng-template #notFoundTemplate let-notFound>
                                        <p>Sin resultados</p>
                                    </ng-template>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>¿Cómo te enteraste de nosotros?</mat-label>
                                        <mat-select formControlName="encontraste">
                                            <mat-option value="Periodico">
                                                Periódico
                                            </mat-option>
                                            <mat-option value="Redes Sociales">
                                                Redes Sociales
                                            </mat-option>
                                            <mat-option value="Motor de Busqueda">
                                                Motor de Búsqueda
                                            </mat-option>
                                            <mat-option value="Recomendacion">
                                                Recomendación de un amigo/familiar
                                            </mat-option>
                                            <mat-option value="Otro">
                                                Otro
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="patientForm.get('encontraste')?.hasError('required')">
                                            Como nos encontraste es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="color-blue"><strong>Responsable adicionales</strong></h5>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Familiar Registrado</mat-label>
                                        <mat-select formControlName="familiarregistrado"
                                            (selectionChange)="selectFam($event)">
                                            <mat-option value="Sin Familiar Registrado">
                                                Sin Familiar Registrado
                                            </mat-option>
                                            <mat-option *ngFor="let paciente of pacientes"
                                                [value]="paciente.idPacientes">
                                                {{paciente.Nombre}} {{paciente.Apellido}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Parentesco</mat-label>
                                        <input id="parentescofam" matInput formControlName="parentescodefamiliar"
                                            (ngModelChange)="firstLetterUpperCase('parentescofam')">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre contacto de emergencia</mat-label>
                                        <input id="nomcontacto" matInput formControlName="nombreemergencia"
                                            (ngModelChange)="firstLetterUpperCase('nomcontacto')">
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Teléfono</mat-label>
                                        <input type="text"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="10" matInput formControlName="telefonoemergencia">
                                        <mat-error *ngIf="patientForm.get('telefonoemergencia')?.hasError('minlength')">
                                            El telefono debe ser minimo de 10 numeros
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Parentesco contacto de emergencia</mat-label>
                                        <input matInput id="parencontacto" formControlName="parentescoemergencia"
                                            (ngModelChange)="firstLetterUpperCase('parencontacto')">
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Responsable de Pago</mat-label>
                                        <input matInput id="respago" formControlName="responsabledepago"
                                            (ngModelChange)="firstLetterUpperCase('respago')">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="color-blue"><strong>Notas</strong></h5>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nota de convenio</mat-label>
                                        <textarea id="notac" matInput formControlName="notaconvenio"
                                            (ngModelChange)="firstLetterUpperCase('notac')"></textarea>
                                        <mat-error *ngIf="patientForm.get('notaconvenio')?.hasError('maxlength')">
                                            La nota debe ser maximo de 250 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <textarea id="obs" matInput formControlName="observaciones" rows="2"
                                            (ngModelChange)="firstLetterUpperCase('obs')"></textarea>
                                        <mat-error *ngIf="patientForm.get('notaconvenio')?.hasError('maxlength')">
                                            Las observaciones deben ser maximo de 80 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Foto del paciente</mat-label>
                                        <ngx-mat-file-input (change)="cargarImagen($event)" accept="image/*">
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>cloud_upload</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <h6 class="color-blue weight-900">Acepta que sea contactado por</h6>
                                </div>
                                <div class="col pl-5">
                                    <mat-checkbox class="example-margin" formControlName="sms"
                                        (change)="checkSms($event)">
                                        sms
                                    </mat-checkbox>
                                </div>
                                <div class="col pl-5">
                                    <mat-checkbox class="example-margin" formControlName="email"
                                        (change)="checkMail($event)">
                                        Email
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" *ngIf="idClinica > 0">
                                    <button class="mr-3" [disabled]="!patientForm.valid" mat-raised-button
                                        color="primary">Guardar</button>
                                    <button type="button" mat-button
                                        [routerLink]="['/admin/paciente/listado-pacinte']">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>