<section class="content">
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">
                                Listado de solicitudes
                            </h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="">
                                <i class="fas fa-home"></i>Home
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">
                                Videollamadas
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            Listado de solicitudes
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de solicitudes</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" class="mr-10">
                                                <mat-icon class="col-white" (click)="solicitudes('si')">refresh
                                                </mat-icon>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="data" [scrollbarH]="true"
                                    [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                    [footerHeight]="50" rowHeight="auto" [limit]="10"
                                    [messages]="{emptyMessage: 'No hay solicitudes de videollamadas..'}">
                                    <ngx-datatable-column name="Imagen" [width]="40">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="table-img padding-0">
                                                <img *ngIf="row.Logo !== ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.ImagenPaciente}}"
                                                    class="img__table" />
                                                <img *ngIf="row.Logo === ''" width="80"
                                                    src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/user_default.png"
                                                    class="img__table" />
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Paciente" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombrePaciente}} {{row.Apellido}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Doctor" [width]="120" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreUsuario}} {{row.Apellidos}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Motivo" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            Videollamada
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Hora" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.Horario}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estatus" [width]="120" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.EstatusCita}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <!-- action buttons -->
                                    <ngx-datatable-column name="Acciones" sortable="false" [width]="100"
                                        [sortable]="false">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    (click)="modalDetalle(row,detalleCita)">subject</mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>

                                <!--Modal detalle de cita -->
                                <ng-template #detalleCita let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title">
                                            <div class="modal-header ">
                                                <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{infocita[0].ImagenPaciente}}"
                                                    class="img-modal" />
                                                <div class="modal-about">
                                                    <div class="font-weight-bold p-t-10 font-17">
                                                        <h2 class="txt-morado">
                                                            Información de solicitud
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="register-form" [formGroup]="NuevaCitaForm">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Paciente</mat-label>
                                                        <mat-select formControlName="paciente" required>
                                                            <mat-option *ngFor="let paciente of pacientes"
                                                                value="{{paciente.idPacientes}}">
                                                                {{paciente.Nombre}} {{paciente.Apellido}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Doctor</mat-label>
                                                        <mat-select formControlName="doctor" required>
                                                            <mat-option *ngFor="let doctor of doctores"
                                                                value="{{doctor.idUsuario}}">
                                                                {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Fecha solicitada</mat-label>
                                                        <input matInput formControlName="fecha" required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Hora solicitada</mat-label>
                                                        <input matInput formControlName="horario" type="time" required>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Motivo</mat-label>
                                                        <input matInput formControlName="motivo" value="Videollamada"
                                                            required>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                    <mat-form-field class="example-full-width mb-3"
                                                        appearance="outline">
                                                        <mat-label>Observaciones</mat-label>
                                                        <textarea matInput formControlName="observaciones"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="d-flex justify-content-around lbl-alert mb-3 mt-3">
                                                    <div>
                                                        <button mat-raised-button class="mr-3" color="primary"
                                                            type="button" [disabled]="!NuevaCitaForm.valid"
                                                            (click)="modificarcita(NuevaCitaForm,'Confirmado')">Aceptar
                                                            Solicitud</button>
                                                    </div>
                                                    <div>
                                                        <button mat-raised-button class="mr-3" color="accent"
                                                            type="button"
                                                            (click)="modificarcita(NuevaCitaForm,'Hora Cancelanda')">Cancelar
                                                            Solicitud</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>