<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Examenes de laboratorio</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Pacientes</a>
                        </li>
                        <li class="breadcrumb-item active">Examenes de laboratorio</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 noprint">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Examenes de laboratorio</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)="filterDatatable($event)" aria-label="Search box" />
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="data" [sortType]="'multi'"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                                    [scrollbarH]="true" [scrollbarV]="false" [messages]="{emptyMessage: 'No hay ordenes..'}">
                                    <ngx-datatable-column name="Nombre" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreOrden}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.Fecha}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Laboratorio" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.Nombre}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Dr." [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.doctor}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                            <!-- Tabla a exportar oculta -->
                            <div class="col-md-12 table-responsive siprint" #epltable>
                                <div style="padding-bottom: 10px;padding-top: 10px;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered">
                                    <thead class="thead-white">
                                        <tr>
                                            <th>
                                                <div class="col-md-12 text-left">
                                                    <h6>Nombre</h6>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="col-md-12 text-left">
                                                    <h6>Fecha</h6>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="col-md-12 text-left">
                                                    <h6>Laboratorio</h6>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="col-md-12 text-left">
                                                    <h6>Dr.</h6>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let lab of laboratorios">
                                            <td>
                                                <div>
                                                    <span>{{lab.NombreOrden}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <span>{{lab.Fecha}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <span>{{lab.Nombre}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <span>{{lab.doctor}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
