<section class="content colorCheck">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Detalle Orden</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Adminstrador</a>
                        </li>
                        <li class="breadcrumb-item active">Detalle Orden</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Detalle Orden</strong></h2>
                    </div>
                    <div class="body">
                        <form class="register-form" [formGroup]="register">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput formControlName="NombreOrden"/>
                                        <mat-error *ngIf="register.get('NombreOrden').hasError('required')">
                                            El nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Sucursal</mat-label>
                                        <mat-select formControlName="idSucursal">
                                            <ng-container>
                                                <mat-option *ngFor="let suc of sucursales" value="{{suc.idSucursal}}">
                                                    {{suc.NombreSucursal}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <mat-error *ngIf="register.get('idSucursal').hasError('required')">
                                            La Sucursal es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width " appearance="outline">
                                        <mat-label>Laboratorio</mat-label>
                                        <mat-select formControlName="idLaboratorio">
                                            <mat-option *ngFor="let lab of laboratorios" value="{{lab.idLaboratorio}}">
                                                {{lab.Nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="register.get('idLaboratorio').hasError('required')">
                                            El Laboratorio es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Selecciona un Doctor</mat-label>
                                        <mat-select formControlName="idDoctor">
                                            <mat-option *ngFor="let doc of doctores" value="{{doc.idUsuario}}">
                                                {{doc.NombreUsuario}}&nbsp;{{doc.Apellidos}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="register.get('idDoctor').hasError('required')">
                                            El Doctor es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>