<section class="content colorCheck">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Laboratorio</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Adminstrador</a>
                        </li>
                        <li class="breadcrumb-item active">Nuevo Laboratorio</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Nuevo Laboratorio</strong></h2>
                    </div>
                    <div class="body">
                        <form class="register-form" [formGroup]="laboratorio" (ngSubmit)="guardarLaboratorio(laboratorio)">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre del laboratorio</mat-label>
                                        <input matInput id="namelab" formControlName="Nombre" (keyup)="FirstUppercaseLetter('namelab')" />
                                        <mat-error *ngIf="laboratorio.get('Nombre').hasError('required') && laboratorio.get('Nombre').touched">
                                            El Nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Teléfono</mat-label>
                                        <input matInput formControlName="Telefono" type="text"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10" />
                                        <mat-error
                                            *ngIf="laboratorio.get('Telefono').hasError('required') && laboratorio.get('Telefono').touched">
                                            La Teléfono es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Correo electrónico</mat-label>
                                        <input matInput type="email" formControlName="Correo" />
                                        <mat-error *ngIf="laboratorio.get('Correo').hasError('required') && laboratorio.get('Correo').touched">
                                            El Correo electrónico es requerido
                                        </mat-error>
                                        <mat-error *ngIf="laboratorio.get('Correo').hasError('pattern') && laboratorio.get('Correo').touched">
                                            El Correo electrónico debe ser valido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Dirección</mat-label>
                                        <input matInput formControlName="Direccion" ngx-google-places-autocomplete [options]='options'
                                            #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
                                        <mat-error
                                            *ngIf="laboratorio.get('Direccion').hasError('required') && laboratorio.get('Direccion').touched">
                                            La Dirección es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <h6>Tipos de Trabajo</h6>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <mat-checkbox class="example-margin pl-5" formControlName="ProtesisFijaUnitaria">
                                        Prótesis Fija Unitaria</mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox class="example-margin pl-5" formControlName="ProtesisFijaPlural">
                                        Prótesis Fija Plural</mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox class="example-margin pl-5" formControlName="OperatoriaIndirecta">
                                        Operatoria Indirecta</mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox class="example-margin pl-5" formControlName="Planos">
                                        Planos</mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox class="example-margin pl-5" formControlName="ProtesisRemovible">
                                        Prótesis Removible</mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox class="example-margin pl-5" formControlName="Ortodoncia">
                                        Ortodoncia</mat-checkbox>
                                </div>
                                <div class="col-6">
                                    <mat-checkbox class="example-margin pl-5" formControlName="Otros">
                                        Otros (Encerados, Provisorios, etc.)</mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <textarea matInput id="obserlab" formControlName="Observaciones"
                                            (keyup)="FirstUppercaseLetter('obserlab')"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button [disabled]="!laboratorio.valid" class="mr-3" mat-raised-button color="primary">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>