<br>
<div class="row m-2">
  <div class="col-md-12">
    <div class="ngxTableHeader">
      <ul class="header-buttons-left ml-0 mb-0">
        <li class="dropdown">
          <h2>
            <strong>Imágenes</strong>
          </h2>
        </li>
      </ul>
      <div class="row" style="width:100%;">
        <div class="col-md-2"></div>
        <div class="col-md-9"><span>Sube todas las fotografías que desees. Arrastra y suéltalas
            aquí, o selecciónalas a partir una carpeta. Formatos aceptados: jpg, jpeg, png, gif</span></div>
      </div>
      <ul class="header-buttons m-r-20">
        <li>
          <div class="icon-button-demo">
            <input style="display: none;" accept="image/png,image/jpeg,image/jpg,image/gif" type="file"
              (change)="Subirimagen($event,$event.target.files, $event)" #file>
            <button type="button" mat-mini-fab color="primary" (click)="file.click()">
              <mat-icon class="col-white">cloud_upload</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row m-2">
  <div class="col-4 my-4" style="position: relative;" *ngFor="let img of arregloimagenes; let i = index">
    <button class="btn tblActnBtn h-auto" style="position:absolute;top:0px;right:10px;"
      (click)="eliminarfoto(img.Nombre,img.idFoto)">
      <i class="material-icons" style="color: red;">delete</i>
    </button>
      <img style="max-width:100%;" src="https://projectsbyanimatiomx.com/phps/odonto/fotospaciente/{{img.Nombre}}" (click)="showLightbox(i)" />
  </div>
  <ng-image-fullscreen-view [images]="arregloimagenes" [imageIndex]="currentIndex" [show]="showFlag"
    (close)="closeEventHandler()"></ng-image-fullscreen-view>
</div>