<br>
<div class="container-fluid">
  <div class="siprint row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        style="font-size: 30px; font-weight: bold;">Listado de presupuetos</span></div>
  </div>
  <div class="row noprint">
    <div class="col-sm-12">
      <div class="ngxTableHeader">
        <ul class="header-buttons-left ml-0 mb-0">
          <li class="dropdown">
            <h2>
              <strong></strong>
            </h2>
          </li>
          <li class="dropdown m-l-20">
            <label for="search-input"><i class="material-icons search-icon">search</i></label>
            <input placeholder="Buscar" type="text" class="browser-default search-field"
              (keyup)="filterDatatable($event)" aria-label="Search box" />
          </li>
        </ul>
        <ul class="header-buttons m-r-20">
          <li>
            <button mat-mini-fab color="primary" (click)="addPresupuesto(addPresupuestoModal)" class="mr-10">
              <mat-icon class="col-white">add</mat-icon>
            </button>
          </li>
          <li>
            <button mat-mini-fab color="primary" (click)="getPresupuestos('si')" class="mr-10">
              <mat-icon class="col-white">refresh</mat-icon>
            </button>
          </li>
          <li>
            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit" class="mr-10">
              <mat-icon class="col-white">print</mat-icon>
            </a>
          </li>
          <li>
            <button mat-mini-fab color="primary" class="mr-10">
              <mat-icon class="col-white">email</mat-icon>
            </button>
          </li>
        </ul>
      </div>
      <ngx-datatable #table class="material" [rows]="presupuestos" [sortType]="'multi'" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay presupuestos..'}">
        <ngx-datatable-column name="Presupuesto" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.Nombre}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.Fecha}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Total de tratamiento" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.Total | number : '1.2-2'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Total de abonos" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.pago | number : '1.2-2'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Saldo Pendiente" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span style="color:red;">
              {{(row.pendiente==='' ? row.Total : row.pendiente) | number : '1.2-2'}}
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Acciones" sortable="false" [width]="200">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>
              <i class="material-icons grey-color mr-10 pointer"
                (click)="eliminarPresup(row.idPresupuestos)">delete_sweep</i>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <!-- Agregar presupuesto Modal -->
      <ng-template #addPresupuestoModal let-modal>
        <div class="modal-header editRowModal">
          <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header">
              <div class="modal-about">
                <div class="font-weight-bold p-t-10 font-17">
                  Agregar Presupuesto
                </div>
              </div>
            </div>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">
          <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave()">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nombre del Presupuesto</mat-label>
                  <input matInput id="nombrepresup1" formControlName="nombre"
                    (keyup)="FirstUppercaseLetter('nombrepresup1')" />
                  <mat-error *ngIf="register.get('nombre').hasError('required')">
                    El nombre es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Doctor</mat-label>
                  <mat-select formControlName="doctor" name="doctor">
                    <mat-option *ngFor="let doc of doctores" value="{{doc.idUsuario}}">
                      {{doc.NombreUsuario}}&nbsp;{{doc.Apellidos}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="register.get('doctor').hasError('required')">
                    El doctor es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Convenio</mat-label>
                  <mat-select formControlName="convenio">
                    <mat-option *ngFor="let con of convenios" value="{{con.id}}" (click)="getTratamientosByConvenio(con.id)">
                      {{con.NombreConvenio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Tratamiento</mat-label>
                  <mat-select formControlName="categoria">
                    <ng-container *ngFor="let trat of tratamientos">
                      <mat-option [value]="trat.idCategorias" (click)="getServ(trat)">
                        {{trat.Nombre}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error *ngIf="register.get('categoria').hasError('required')">
                    El tratamiento es requerido
                  </mat-error>
                </mat-form-field>
              </div>

            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Servicio</mat-label>
                  <mat-select formControlName="servicio">
                    <ng-container *ngFor="let serv of servicios">
                      <mat-option [value]="serv.Nombre" (click)="suma(serv.Costo)">
                        {{serv.Nombre}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error *ngIf="register.get('servicio').hasError('required')">
                    El Servicio es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label># Diente</mat-label>
                  <mat-select formControlName="diente">
                    <mat-option *ngFor="let diente of dientes" [value]="diente">
                      {{diente}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="register.get('diente').hasError('required')">
                    El # Diente es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Subtotal Prestación $</mat-label>
                  <input matInput formControlName="Subtotal" type="number" [readonly]="true" />
                  <mat-error *ngIf="register.get('Subtotal').hasError('required')">
                    El Subtotal es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Descuento en %</mat-label>
                  <input matInput placeholder="%" formControlName="Descuento" [(ngModel)]="descuento"
                    (ngModelChange)="CambiarTotal()" type="number" />
                  <mat-error *ngIf="register.get('Descuento').hasError('required')">
                    La Descuento es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Total $</mat-label>
                  <input matInput formControlName="Total" type="number" [readonly]="true" />
                  <mat-error *ngIf="register.get('Total').hasError('required')">
                    El Total es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <button mat-mini-fab color="primary" [disabled]="!register.valid" type="button"
                  (click)="arregloPresupuesto(register)">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
            </div>

            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="body table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Diente</th>
                        <th>Servicio</th>
                        <th>Subtotal</th>
                        <th>Descuento</th>
                        <th>Total</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let presupuesto of Presupuestos; let i=index">
                        <th>{{presupuesto.diente}}</th>
                        <td>{{presupuesto.servicio}}</td>
                        <td>${{presupuesto.Subtotal}}</td>
                        <td>{{presupuesto.Descuento}}%</td>
                        <td>${{presupuesto.Total}}</td>
                        <td class="text-center">
                          <i class="material-icons" (click)="eliminarPresupArray(i)" style="cursor:pointer;">delete</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <button mat-raised-button type="button" [disabled]="Presupuestos.length<1" color="primary"
                  (click)="onAddRowSave()" style="margin-right:10px;">
                  Guardar
                </button>
                <button type="button" mat-raised-button color="primary" style="margin-right:10px;">
                  Imprimir
                </button>
                <button type="button" mat-raised-button color="primary" routerLink="/admin/email/crear-email">
                  Enviar por correo
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="col-md-12 table-responsive siprint" #epltable>
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th>
            <div class="col-md-12 text-left">
              <h6>Fecha</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Nombre</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Total</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Pagado</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Pendiente</h6>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pres of tratamientos">
          <td>
            <div>
              <span>{{pres.Fecha}}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{pres.Nombre}}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{pres.Total}}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{pres.pago}}</span>
            </div>
          </td>
          <td>
            <div>
              <span>{{pres.pendiente}}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>