<ng-template mat-tab-label>
    Facturas anteriores
</ng-template>
<ng-template mat-tab-label>
    <mat-icon class="example-tab-icon msr-2">history</mat-icon>
    Historial de facturación
</ng-template>
<div class="header">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <h2>
            <strong>Historial de facturación</strong>
        </h2>
    </div>
</div>
<div class="body">
    <span>Factura Actual</span>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">idFactura</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="paciente?.idFactura !== ''">
                <td>{{paciente?.idFactura}}</td>
                <td>
                    <a class="btn tblActnBtn h-auto" (click)="downloadFactura(paciente)">
                        Descargar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <span>Facturas anteriores</span>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">idFactura</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factura of historialFacturas">
                <td>{{(factura?.fecha_update * 1000) | date}}</td>
                <td>{{factura?.idFactura}}</td>
                <td>
                    <a class="btn tblActnBtn h-auto" (click)="downloadFactura(factura)">
                        Descargar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>