<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Detalle Reporte</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Reportes</a>
            </li>
            <li class="breadcrumb-item active">Detalle Reporte</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="row p-3">
            <div class="col-md-12">
              <div class="ngxTableHeader">
                <ul class="header-buttons-left ml-0 mb-0">
                  <li class="dropdown">
                    <h2>
                      <strong>Horas Agendadas vs Horas Atendias</strong>
                    </h2>
                  </li>
                  <li class="dropdown m-l-20">
                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                    <input placeholder="Buscar" type="text" class="browser-default search-field"
                      (keyup)="filterDatatable($event)" aria-label="Search box" />
                  </li>
                </ul>
                <ul class="header-buttons m-r-20">
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary">
                        <mat-icon class="col-white">arrow_circle_down</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <ngx-datatable #table class="material" [rows]="detalle" [columns]="columns" [sortType]="'multi'"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="10" [messages]="{emptyMessage: 'No hay reportes..'}">
                <ngx-datatable-column name="Fecha" [width]="110">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.Fecha}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Sucursal" [width]="110">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.NombreSucursal}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" sortable="false" [width]="110">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>
                      <button class="btn tblActnBtn h-auto" (click)="editRow(row, rowIndex, editRecord)">
                        <i class="material-icons">mode_edit</i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
          <div class="body mt-3">
            <strong>Grafica</strong>
            <div style="text-align:center">
              <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
                [xaxis]="areaChartOptions.xaxis" [title]="areaChartOptions.title"></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>