<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Comentario en Presupuesto</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Configuración</a>
            </li>
            <li class="breadcrumb-item active">Comentario en Presupuesto</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong *ngIf="valor === ''"> Agregar Comentario</strong></h2>
            <h2><strong *ngIf="valor !== ''"> Modificar Comentario</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <b>Leyenda que aparece en la impresión y envío
                    de todos sus presupuestos</b>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Comentario en presupuesto</mat-label>
                    <textarea matInput formControlName="Note" placeholder="Este presupuesto tiene una vigencia de 30 días a contar de la fecha emisión. Si al iniciar su tratamiento, efectúa el pago en efectivo del valor completo del presupuesto, solicite un descuento de un 5% adicional." rows="3" required></textarea>
                    <mat-error *ngFor="let validacion of mensajes_validacion.nota">
                      <mat-error class="error-message" *ngIf="roomForm.get('Note').hasError(validacion.type) && (roomForm.get('Note').dirty || roomForm.get('Note').touched)">{{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" *ngIf="idClinica > 0">
                  <button *ngIf="valor === ''" [disabled]="!roomForm.valid " mat-raised-button color="primary">Guardar</button>
                  <button *ngIf="valor !== ''" [disabled]="!roomForm.valid " mat-raised-button color="primary">Modificar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
