<div class="container-fluid">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
                src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                style="font-size: 30px; font-weight: bold;">Listado de presupuetos</span>
        </div>
    </div>
    <div class="row noprint">
        <div class="col-sm-12">
            <div class="ngxTableHeader">
                <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                    </li>
                    <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar" type="text" class="browser-default search-field"
                            (keyup)="filterDatatable($event)" aria-label="Search box" />
                    </li>
                </ul>
                <ul class="header-buttons m-r-20">
                    <li>
                        <button mat-mini-fab color="primary" (click)="openModal(addRecord)" class="mr-10">
                            <mat-icon class="col-white">add</mat-icon>
                        </button>
                    </li>
                    <li>
                        <button mat-mini-fab color="primary" (click)="getOrdenes('si')" class="mr-10">
                            <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                    </li>
                    <li>
                        <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                            class="mr-10">
                            <mat-icon class="col-white">print</mat-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <ngx-datatable #table class="material" [rows]="ordenes" [sortType]="'multi'"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                [scrollbarH]="true" [scrollbarV]="false" [messages]="{emptyMessage: 'No hay ordenes..'}">
                <ngx-datatable-column name="Nombre" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.NombreOrden}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Fecha" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Fecha}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Laboratorio" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Nombre}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Dr." [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.doctor}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Acciones" sortable="false" [width]="100">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>
                            <i class="material-icons grey-color mr-10 pointer"
                                (click)="openModal(editRecord, row)">mode_edit</i>
                            <i class="material-icons grey-color mr-10 pointer"
                                (click)="eliminarOrdenLab(row.idOrdenLab)">delete</i>
                        </span>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

            <!-- Modal nueva orden de laboratorio -->
            <ng-template #addRecord let-modal>
                <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title">
                        <div class="modal-header">
                            <div class="modal-about">
                                <div class="font-weight-bold p-t-10 font-17">
                                    Nueva orden de Laboratorio
                                </div>
                            </div>
                        </div>
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="closeModal(register)">
                        <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="register-form" [formGroup]="register" (ngSubmit)="guardarOrdenLaboratorio(register)">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="NombreOrden"
                                        (keyup)="FirstUppercaseLetter('NombreOrden')" />
                                    <mat-error
                                        *ngIf="register.get('NombreOrden').hasError('required')">
                                        El nombre es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Sucursal</mat-label>
                                    <mat-select formControlName="idSucursal">
                                        <ng-container>
                                            <mat-option *ngFor="let suc of sucursales" value="{{suc.idSucursal}}">
                                                {{suc.NombreSucursal}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="register.get('idSucursal').hasError('required')">
                                        La Sucursal es requerida
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width " appearance="outline">
                                    <mat-label>Laboratorio</mat-label>
                                    <mat-select formControlName="idLaboratorio">
                                        <mat-option *ngFor="let lab of laboratorios" value="{{lab.idLaboratorio}}">
                                            {{lab.Nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="register.get('idLaboratorio').hasError('required')">
                                        El Laboratorio es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Selecciona un Doctor</mat-label>
                                    <mat-select formControlName="idDoctor">
                                        <mat-option *ngFor="let doc of doctores" value="{{doc.idUsuario}}">
                                            {{doc.NombreUsuario}}&nbsp;{{doc.Apellidos}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="register.get('idDoctor').hasError('required')">
                                        El Doctor es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <button class="mr-10" [disabled]="!register.valid" mat-raised-button color="primary">
                                    Guardar
                                </button>
                                <button class="mr-10" type="button" mat-raised-button color="primary">
                                    Imprimir
                                </button>
                                <button class="mr-10" mat-raised-button type="button"
                                    (click)="modalPrevisulizar(addRecord3)" color="primary">
                                    Previsualizar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>

            <!-- modal Previsualizar -->
            <ng-template #addRecord3 let-modal>
                <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title3">
                        <div class="modal-header">
                            <div class="modal-about">
                                <div class="font-weight-bold p-t-10 font-17">
                                    Orden de Laboratorio
                                </div>
                            </div>
                        </div>
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row py-4" style="border-top: 1px solid gray;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="margin-right:1px solid gray;">
                            <img src="assets/images/image-gallery/1.jpg" alt="" style="max-width:100%;">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>{{nombreDoctor}}</strong></h6>
                            <span>{{cedula}}</span>
                        </div>
                    </div>
                    <div class="row py-4" style="border-top: 1px solid gray;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Nombre</strong></h6>
                            <span>{{register.get('nombre').value}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>RFC Paciente:</strong></h6>
                            <span>{{datosPaciente.Rfc}}</span>
                        </div>
                    </div>
                    <div class="row py-4" style="border-top: 1px solid gray;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Fecha Orden:</strong></h6>
                            <span>{{FechaHoy | date:'yyyy-MM-dd'}}</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Fecha Entrega:</strong></h6>
                            <span>{{FechaHoy | date:'yyyy-MM-dd'}}</span>
                        </div>
                    </div>
                    <div class="row py-4" style="border-top: 1px solid gray;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Laboratorio:</strong></h6>
                            <span>nombreLab</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Tipo Trabajo:</strong></h6>
                            <span></span>
                        </div>
                    </div>
                    <div class="row py-4" style="border-top: 1px solid gray;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Guía de Color:</strong></h6>
                            <span></span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Color:</strong></h6>
                            <span></span>
                        </div>
                    </div>
                    <div class="row py-4" style="border-top: 1px solid gray;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Área/Pieza:</strong></h6>
                            <span>Prueba</span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Material:</strong></h6>
                            <span></span>
                        </div>
                    </div>
                    <div class="row py-4 mb-5" style="border-top: 1px solid gray;">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Sustrato:</strong></h6>
                            <span></span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <h6><strong>Observaciones:</strong></h6>
                            <span></span>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-7">
                            <img src="assets/images/image-gallery/1.jpg" alt="" style="max-width:100%;">
                        </div>
                        <div class="col-md-5 text-center" style="position:relative;">
                            <div style="border-top:1px solid black;position:absolute;bottom:0px;width:90%;">
                                <h6>{{nombreDoctor}}</h6>
                                <p>{{cedula}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Edit Record Modal Window -->
            <ng-template #editRecord let-modal>
                <div class="modal-header editRowModal">
                    <button type="button" class="close" aria-label="Close" (click)="closeModal(register)">
                        <span aria-hidden="true"><i class="material-icons">close</i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="register-form" [formGroup]="register" (ngSubmit)="onEditSave(register)">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="NombreOrden"
                                        (keyup)="FirstUppercaseLetter('NombreOrden')" />
                                    <mat-error
                                        *ngIf="register.get('NombreOrden').hasError('required')">
                                        El nombre es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Sucursal</mat-label>
                                    <mat-select formControlName="idSucursal">
                                        <ng-container>
                                            <mat-option *ngFor="let suc of sucursales" value="{{suc.idSucursal}}">
                                                {{suc.NombreSucursal}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="register.get('idSucursal').hasError('required')">
                                        La Sucursal es requerida
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width " appearance="outline">
                                    <mat-label>Laboratorio</mat-label>
                                    <mat-select formControlName="idLaboratorio">
                                        <mat-option *ngFor="let lab of laboratorios" value="{{lab.idLaboratorio}}">
                                            {{lab.Nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="register.get('idLaboratorio').hasError('required')">
                                        El Laboratorio es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Selecciona un Doctor</mat-label>
                                    <mat-select formControlName="idDoctor">
                                        <mat-option *ngFor="let doc of doctores" value="{{doc.idUsuario}}">
                                            {{doc.NombreUsuario}}&nbsp;{{doc.Apellidos}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="register.get('idDoctor').hasError('required')">
                                        El Doctor es requerido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <button class="mr-3" [disabled]="!register.valid" mat-raised-button color="primary">
                                    Guardar
                                </button>
                                <button mat-button type="button" (click)="closeModal(register)">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- Tabla a exportar oculta -->
    <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Nombre</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Fecha</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Laboratorio</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Dr.</h6>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lab of laboratorios">
                    <td>
                        <div>
                            <span>{{lab.NombreOrden}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.Fecha}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.Nombre}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.doctor}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>