<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Clínica Principal</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Configuración</a>
            </li>
            <li class="breadcrumb-item active" *ngIf="valor === ''">Agregar Clínica</li>
            <li class="breadcrumb-item active" *ngIf="valor !== ''">Modificar Clínica</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2 *ngIf="valor === ''"><strong>Nueva Clínica</strong></h2>
            <h2 *ngIf="valor !== ''"><strong>Modificar Clínica</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roomForm" (ngSubmit)="confirmAdd()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre completo de su clínica</mat-label>
                    <input id="nombre" matInput formControlName="nombreclinica"
                      (ngModelChange)="firstLetterUpercase('nombre')" required>
                    <mat-error *ngFor="let validacion of mensajes_validacion.nombreclinica">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('nombreclinica').hasError(validacion.type) && (roomForm.get('nombreclinica').dirty || roomForm.get('nombreclinica').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>RFC</mat-label>
                    <input id="rfc" maxlength="13" matInput formControlName="rfc"
                      (ngModelChange)="convertirletraamayuscula()">
                    <mat-error *ngFor="let validacion of mensajes_validacion.rfc">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('rfc').hasError(validacion.type) && (roomForm.get('rfc').dirty || roomForm.get('rfc').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Dirección Principal</mat-label>
                    <input matInput id="direccion" formControlName="dir" ngx-google-places-autocomplete
                      [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                      required>
                    <mat-error *ngFor="let validacion of mensajes_validacion.dirrecion">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('dir').hasError(validacion.type) && (roomForm.get('dir').dirty || roomForm.get('dir').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Calle</mat-label>
                    <input matInput formControlName="calle">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Número exterior</mat-label>
                    <input matInput formControlName="numero_exterior">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Número interior</mat-label>
                    <input matInput formControlName="numero_interior">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Código postal</mat-label>
                    <input matInput type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="5" formControlName="codpos">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Colonia</mat-label>
                    <input matInput formControlName="colonia">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Ciudad</mat-label>
                    <input matInput formControlName="ciudad">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="estado">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>País</mat-label>
                    <input matInput formControlName="pais">
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Selecciona tu lada</mat-label>
                    <mat-select formControlName="codigoTelefono" required>
                      <mat-option *ngFor="let cod of codigos" value="{{cod.dial_code}}">
                        {{cod.name_es}}: {{cod.dial_code}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                      matInput formControlName="tel" required>
                    <mat-error *ngFor="let validacion of mensajes_validacion.telefono">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('tel').hasError(validacion.type) && (roomForm.get('tel').dirty || roomForm.get('tel').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Selecciona tu lada</mat-label>
                    <mat-select formControlName="codigoWhatsapp" required>
                      <mat-option *ngFor="let cod of codigos" value="{{cod.dial_code}}">
                        {{cod.name_es}}: {{cod.dial_code}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Numero de Mensajería instantánea</mat-label>
                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                      matInput formControlName="nummsjinst" required>
                    <mat-error *ngFor="let validacion of mensajes_validacion.whatsapp">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('nummsjinst').hasError(validacion.type) && (roomForm.get('nummsjinst').dirty || roomForm.get('nummsjinst').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Correo de Contacto</mat-label>
                    <input type="email" matInput formControlName="emaildecontacto" readonly="readonly">
                    <mat-error *ngFor="let validacion of mensajes_validacion.correocontacto">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('emaildecontacto').hasError(validacion.type) && (roomForm.get('emaildecontacto').dirty || roomForm.get('emaildecontacto').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Dirección de correo electrónico de la clínica</mat-label>
                    <input type="text" matInput formControlName="emaildeclinica">
                    <mat-error *ngFor="let validacion of mensajes_validacion.correoclinica">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('emaildeclinica').hasError(validacion.type) && (roomForm.get('emaildeclinica').dirty || roomForm.get('emaildeclinica').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Nombre corto</mat-label>
                    <input type="text" matInput id="nombrecorto" formControlName="nombrecorto"
                      (ngModelChange)="firstLetterUpercase('nombrecorto')">
                    <mat-error *ngFor="let validacion of mensajes_validacion.nombrecorto">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('nombrecorto').hasError(validacion.type) && (roomForm.get('nombrecorto').dirty || roomForm.get('nombrecorto').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Objetivo del mes (Pacientes Nuevos)</mat-label>
                    <input type="date" matInput formControlName="fechaObjetivo">
                  </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Objetivo del mes (Pacientes Nuevos)</mat-label>
                    <input type="text" matInput id="objetivo" formControlName="objetivo"
                      onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <span>*El logo debe ser en formato jpg, jpeg, png, y no pesar más de 1MB para un funcionamiento
                    óptimo. Medidas ideales:
                    248 x 45 pixeles</span>
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Logo de clinica</mat-label>
                    <ngx-mat-file-input formControlName="logo" id="foto" (change)="Subirimagen($event.target.files[0])"
                      (click)="onInputClick($event)" accept="image/*"></ngx-mat-file-input>
                    <mat-icon matSuffix>cloud_upload</mat-icon>
                    <mat-error *ngFor="let validacion of mensajes_validacion.logo">
                      <mat-error class="error-message"
                        *ngIf="roomForm.get('logo').hasError(validacion.type) && (roomForm.get('logo').dirty || roomForm.get('logo').touched)">
                        {{validacion.message}}</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <button *ngIf="valor === ''" class="mr-3" [disabled]="!roomForm.valid " mat-raised-button
                    color="primary">Guardar</button>
                  <button *ngIf="valor !== ''" class="mr-3" [disabled]="!roomForm.valid " mat-raised-button
                    color="primary">Modificar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>