<ng-template mat-tab-label>
    Facturación
</ng-template>
<div class="header">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <h2>
            <strong>Ingrese sus datos fiscales</strong>
        </h2>
    </div>
</div>
<div class="body">
    <form [formGroup]="facturarForm">
        <div class="example-container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput formControlName="nombre" required>
                        <mat-icon matSuffix>
                            account_circle
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('nombre').hasError('required')">
                            El nombre es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="apellido">
                        <mat-icon matSuffix>
                            account_circle
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-icon matSuffix>
                            email
                        </mat-icon>
                        <mat-error
                            *ngIf="facturarForm.get('email').hasError('required') && (facturarForm.get('email').dirty || facturarForm.get('email').touched)">
                            El correo electrónico es requerido
                        </mat-error>
                        <mat-error
                            *ngIf="facturarForm.get('email').hasError('pattern') && (facturarForm.get('email').dirty || facturarForm.get('email').touched)">
                            El ingresa un correo electrónico valido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10"
                            minlength="10" matInput formControlName="telefono" required>
                        <mat-icon matSuffix>
                            phone_enabled
                        </mat-icon>
                        <mat-error
                            *ngIf="facturarForm.get('telefono').hasError('required') && (facturarForm.get('telefono').dirty || facturarForm.get('telefono').touched)">
                            El teléfono es requerido
                        </mat-error>
                        <mat-error
                            *ngIf="facturarForm.get('telefono').hasError('minlength') && (facturarForm.get('telefono').dirty || facturarForm.get('telefono').touched)">
                            El teléfono debe de ser de 10 digitos
                        </mat-error>
                        <mat-error
                            *ngIf="facturarForm.get('telefono').hasError('maxlength') && (facturarForm.get('telefono').dirty || facturarForm.get('telefono').touched)">
                            El teléfono debe de ser de 10 digitos
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Razón social</mat-label>
                        <input id="razons" matInput formControlName="razons"
                            (ngModelChange)="firstLetterUppercase('razons')" required>
                        <mat-icon matSuffix>
                            domain
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('razons').hasError('required')">
                            La razón social es requerida
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>RFC</mat-label>
                        <input matInput formControlName="rfc" required maxlength="13" minlength="12">
                        <mat-icon matSuffix>
                            domain
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('rfc').hasError('required')">
                            El RFC es requerido
                        </mat-error>
                        <mat-error
                            *ngIf="facturarForm.get('rfc').hasError('minlength') && (facturarForm.get('rfc').dirty || facturarForm.get('rfc').touched)">
                            El RFC debe tener minimo 12 digitos
                        </mat-error>
                        <mat-error
                            *ngIf="facturarForm.get('rfc').hasError('maxlength') && (facturarForm.get('rfc').dirty || facturarForm.get('rfc').touched)">
                            El RFC debe tener maximo 13 digitos
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>
                            Dirección
                        </mat-label>
                        <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                            (onAddressChange)="handleAddressChange2($event)" required>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Calle</mat-label>
                        <input id="calle" matInput formControlName="calle" required>
                        <mat-icon matSuffix>
                            room
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('calle').hasError('required')">
                            La calle es requerida
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Número exterior</mat-label>
                        <input matInput formControlName="numero_exterior" required>
                        <mat-icon matSuffix>
                            home_work
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('numero_exterior').hasError('required')">
                            El número exterior es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Número interior</mat-label>
                        <input matInput formControlName="numero_interior" required>
                        <mat-icon matSuffix>
                            home_work
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Código postal</mat-label>
                        <input matInput formControlName="codpos" required>
                        <mat-icon matSuffix>
                            assistant_direction
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('codpos').hasError('required')">
                            El Código postal es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Colonia</mat-label>
                        <input id="colonia" matInput formControlName="colonia"
                            (ngModelChange)="firstLetterUppercase('colonia')" required>
                        <mat-icon matSuffix>
                            assistant_direction
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('colonia').hasError('required')">
                            La Colonia es requerida
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input matInput formControlName="estado" required>
                        <mat-icon matSuffix>
                            assistant_direction
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('estado').hasError('required')">
                            El estado es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Ciudad</mat-label>
                        <input matInput formControlName="ciudad" required>
                        <mat-icon matSuffix>
                            assistant_direction
                        </mat-icon>
                        <mat-error *ngIf="facturarForm.get('ciudad').hasError('required')">
                            La ciudad es requerida
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button mat-raised-button color="primary"
                        (click)="clienteFactura(facturarForm.getRawValue())" [disabled]="facturarForm.invalid" style="margin-right: 20px;">
                        Guardar
                    </button>
                    <button mat-raised-button type="button" color="primary"
                        *ngIf="facturarForm.valid&&facturarForm.get('uid').value !== ''&&paciente.idFactura===''"
                        (click)="generarFactura(facturarForm.getRawValue())">
                        {{'Generar Factura'}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>