<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/pages/bg-01.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg titulo">Bienvenido a Sistema Odonto</h2>
            <p class="auth-signup-text xl-font text-muted">Hacer solicitud de videollamada</p>
            <form class="validate-form" [formGroup]="NuevaCitaForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Paciente</mat-label>
                            <mat-select formControlName="paciente" (selectionChange)="obtenernombrepaciente($event)" required disabled="true">
                                <mat-option *ngFor="let paciente of pacientes" value="{{paciente.idPacientes}}">
                                  {{paciente.Nombre}} {{paciente.Apellido}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="NuevaCitaForm.get('paciente').hasError('required')">
                                El nombre del paciente es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Doctor</mat-label>
                            <mat-select formControlName="doctor" (selectionChange)="obtenernombredoctor($event)" required>
                                <mat-option *ngFor="let doctor of doctores" value="{{doctor.idUsuario}}">
                                  {{doctor.NombreUsuario}}&nbsp;{{doctor.Apellidos}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="NuevaCitaForm.get('doctor').hasError('required')">
                                El doctor es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Selecciona una fecha</mat-label>
                            <!-- <input matInput type="date" formControlName="fecha"> -->
                            <input [min]="fechaLimite" matInput [matDatepicker]="picker"
                              formControlName="fecha" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="NuevaCitaForm.get('fecha').hasError('required')">
                              La Fecha es requerida
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Horario</mat-label>
                            <input (input)="ValidarHorario(NuevaCitaForm)" matInput formControlName="horario" type="time"  required [readonly]="!doctorvalor">
                            <mat-error *ngIf="NuevaCitaForm.get('horario').hasError('required')">
                              El horario es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Motivo</mat-label>
                            <input  matInput formControlName="motivo" [readonly]="true" value="Videollamada">
                            <mat-error *ngIf="NuevaCitaForm.get('motivo').hasError('required')">
                              El motivo es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <textarea matInput formControlName="observaciones"
                              (keyup)="FirstUppercaseLetter('observaciones')"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex justify-content-around lbl-alert mb-3 mt-3">
                    <div>
                      <button mat-raised-button class="xl-button" color="accent" type="button" (click)="cancelarevento()">Cancelar</button>
                    </div>
                    <div>
                      <button mat-raised-button class="xl-button" color="primary" type="button" (click)="crearcita(NuevaCitaForm)" [disabled]="!NuevaCitaForm.valid">Confirmar</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>