<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="ngxTableHeader">
        <ul class="header-buttons-left ml-0 mb-0">
          <li class="dropdown">
            <h2>
              <strong>Ordenes Radiográficas</strong>
            </h2>
          </li>
          <li class="dropdown m-l-20">
            <label for="search-input"><i class="material-icons search-icon">search</i></label>
            <input placeholder="Buscar" type="text" class="browser-default search-field"
              (keyup)="filterDatatable($event)" aria-label="Search box" />
          </li>
        </ul>
        <ul class="header-buttons m-r-20">
          <li>
            <button mat-mini-fab color="primary" (click)="addRow(addRecord)" class="mr-10">
              <mat-icon class="col-white">add</mat-icon>
            </button>
          </li>
          <li>
            <button mat-mini-fab color="primary" (click)="getOrdenes('si')">
              <mat-icon class="col-white">refresh</mat-icon>
            </button>
          </li>
        </ul>
      </div>
      <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay ordenes..'}">
        <ngx-datatable-column [width]="100" name="Fecha" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.fecha}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="100" name="Sucursal" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.NombreSucursal}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="100" name="Centro Radiologico" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nombre}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="100" name="Observaciones" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.observaciones}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" [sortable]="false" [width]="100">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>
              <i class="material-icons grey-color mr-10 pointer" (click)="editRow(row, addRecord)">mode_edit</i>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <!-- Modal nueva orden de radiografía -->
      <ng-template #addRecord let-modal>
        <div class="modal-header editRowModal">
          <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header">
              <div class="modal-about">
                <div class="font-weight-bold p-t-10 font-17">
                  {{edit ? 'Editar' : 'Nueva'}} orden de radiografía
                </div>
              </div>
            </div>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">

          <form class="register-form" [formGroup]="ordenForm" (ngSubmit)="preOrder(ordenForm)">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Sucursal</mat-label>
                  <mat-select formControlName="sucursal" required>
                    <mat-option *ngFor="let sucursal of sucursales" value="{{sucursal.idSucursal}}">
                      {{sucursal.NombreSucursal}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="ordenForm.get('sucursal').hasError('required')  && ordenForm.get('sucursal').touched">
                    La sucursal es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Centro Radiológico</mat-label>
                  <mat-select formControlName="centroRadiologico" required>
                    <mat-option *ngFor="let centro of centros" value="{{centro.idCentro}}">
                      {{centro.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="ordenForm.get('centroRadiologico').hasError('required') && ordenForm.get('centroRadiologico').touched">
                    El centro radiologico es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Exámenes Digitales 2D
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-6 pl-5">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Rx Retroalveolar</mat-label>
                    <input matInput formControlName="rxRetroalveolar" required />
                  </mat-form-field>
                </div>
                <div class="col-6 pl-5 flex-center">
                  <mat-checkbox formControlName="rxRetroalveolarTotal" class="example-margin pl-5">
                    Rx Retroalveolar Total</mat-checkbox>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Rx Bite-wing</mat-label>
                    <mat-select formControlName="rxBiteWing">
                      <mat-option value="Unilateral Derecha">
                        Unilateral Derecha
                      </mat-option>
                      <mat-option value="Unilateral Izquierda">
                        Unilateral Izquierda
                      </mat-option>
                      <mat-option value="Bilateral">Bilateral</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Rx Oclusal</mat-label>
                    <mat-select formControlName="rxOclusal">
                      <mat-option value="Superior">
                        Superior
                      </mat-option>
                      <mat-option value="Inferior">
                        Inferior
                      </mat-option>
                      <mat-option value="Superior e inferior">
                        Superior e inferior
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="rxPanoramica" class="example-margin pl-5">
                    Rx Panorámica
                  </mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="rxteleradiografiaLateral" class="example-margin pl-5">
                    Rx Teleradiografía Lateral
                  </mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="rxTeleradiografiaFrontal" class="example-margin pl-5">
                    Rx Teleradiografía Frontal
                  </mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="rxDigitaldeMano" class="example-margin pl-5">
                    Rx Digital de Mano
                  </mat-checkbox>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Tomografía Computarizada Cone Beam
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="maxilarSuperior" class="example-margin pl-5">
                    Maxilar Superior</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="maxilarInferior" class="example-margin pl-5">
                    Maxilar Inferior</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="bimaxilar" class="example-margin pl-5">
                    Bimaxilar</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="craneoCompleto" class="example-margin pl-5">
                    craneoCompleto</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="ATMBocaCerrada" class="example-margin pl-5">
                    ATM Boca Cerrada</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="ATMBocaAbierta" class="example-margin pl-5">
                    ATM Boca Abierta</mat-checkbox>
                </div>
                <div class="col-6 pl-5 flex-center">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Zona</mat-label>
                    <input matInput formControlName="zona" placeholder="Zona de Estudio" />
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Estudio Especialidad</mat-label>
                    <mat-select formControlName="especialidad">
                      <mat-option value="Endodoncia">Endodoncia</mat-option>
                      <mat-option value="Cirugia">Cirugía</mat-option>
                      <mat-option value="Implantes">Implantes</mat-option>
                      <mat-option value="Via">Vía</mat-option>
                      <mat-option value="Periodoncia">Periodoncia</mat-option>
                      <mat-option value="Ortodoncia">Ortodoncia</mat-option>
                      <mat-option value="Otros">Otros</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Análisis Cefalométrico
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="rickets" class="example-margin pl-5">
                    Rickets</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="roth" class="example-margin pl-5">
                    Roth</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="jarabak" class="example-margin pl-5">
                    Jarabak</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="frontal" class="example-margin pl-5">
                    Frontal</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="tejidosBlandos" class="example-margin pl-5">
                    Tejidos Blandos</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-checkbox formControlName="conversionCefalome" class="example-margin pl-5">
                    Conversión Cefalomé (RC-OC)</mat-checkbox>
                </div>
                <div class="col-6 pl-5">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>VTO</mat-label>
                    <mat-select formControlName="VTO">
                      <mat-option value="2 años">
                        2 años
                      </mat-option>
                      <mat-option value="4 años">
                        4 años
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Registros
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-12 pl-5">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Modelos</mat-label>
                    <mat-select formControlName="modelos">
                      <mat-option value="Maxilar Articulados">
                        Maxilar Articulados
                      </mat-option>
                      <mat-option value="Mandíbula">
                        Mandíbula
                      </mat-option>
                      <mat-option value="Escaneados 3D">
                        Escaneados 3D
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6 mt-4 pl-5">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Fotografías</mat-label>
                    <mat-select formControlName="fotografias">
                      <mat-option value="extra">
                        Extra
                      </mat-option>
                      <mat-option value="intra">
                        Intra
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6 mt-4 pl-5">
                  <h6>Eje</h6>
                  <mat-checkbox formControlName="eje" class="example-margin pl-5">
                    Eje real de bisagra clínico</mat-checkbox>
                </div>
                <div class="col-6 mt-4 pl-5 flex-center">
                  <mat-checkbox formControlName="holta" class="example-margin pl-5">
                    Holta</mat-checkbox>
                </div>
                <div class="col-6 mt-4 pl-5 flex-center">
                  <mat-checkbox formControlName="video" class="example-margin pl-5">
                    Video</mat-checkbox>
                </div>
                <div class="col-6 mt-4 pl-5 flex-center">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Articulados</mat-label>
                    <input matInput formControlName="articulados" required placeholder="Articulador" />
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Forma de entrega
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width " appearance="outline">
                    <mat-label>Forma de entrega</mat-label>
                    <mat-select formControlName="formaEntrga">
                      <mat-option value="CD">
                        CD
                      </mat-option>
                      <mat-option value="Correo electrónico">
                        Correo electrónico
                      </mat-option>
                      <mat-option value="Impreso">
                        Impreso
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Diagnóstico y Observaciones</mat-label>
                    <textarea matInput formControlName="observaciones"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
            <div class="row mt-4">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <button class="mr-10" [disabled]="!ordenForm.valid" mat-raised-button color="primary">
                  {{ edit ? 'Actualizar' : 'Guardar' }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>

      <!-- modal Previsualizar -->
      <ng-template #addRecord3 let-modal>
        <div class="modal-header editRowModal">
          <h4 class="modal-title" id="modal-basic-title3">
            <div class="modal-header">
              <div class="modal-about">
                <div class="font-weight-bold p-t-10 font-17">
                  Orden de Examen
                </div>
              </div>
            </div>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row py-4" style="border-top: 1px solid gray;">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2" style="margin-right:1px solid gray;">
              <img src="{{imagenclinicaPrint}}" alt="" style="max-width:100%;">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Doctor</strong></h6>
              <span>Cedula</span>
            </div>
          </div>
          <div class="row py-4" style="border-top: 1px solid gray;">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Nombre</strong></h6>
              <span>Prueba</span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>RFC Paciente:</strong></h6>
              <span>23948328SDFDSF98</span>
            </div>
          </div>
          <div class="row py-4" style="border-top: 1px solid gray;">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Fecha Emisión:</strong></h6>
              <span>21/01/2021</span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Fecha Nacimiento:</strong></h6>
              <span>21/01/1993</span>
            </div>
          </div>
          <div class="row py-4" style="border-top: 1px solid gray;">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Correo Paciente:</strong></h6>
              <span>Prueba@gmail.com</span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Teléfono Paciente:</strong></h6>
              <span>23123123123</span>
            </div>
          </div>
          <div class="row py-4" style="border-top: 1px solid gray;">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Centro Radiológico:</strong></h6>
              <span>Radio X</span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <h6><strong>Entregar en:</strong></h6>
              <span>CD</span>
            </div>
          </div>
          <div class="row py-4" style="border-top: 1px solid gray;">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <h6><strong>Diagnóstico y Observaciones:</strong></h6>
              <span>Prueba</span>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-7">
            </div>
            <div class="col-md-5 text-center" style="position:relative;">
              <div style="border-top:1px solid black;position:absolute;bottom:0px;width:90%;">
                <h6>Dr. patricio</h6>
                <p>CedulaProfesional</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>