<div class="container-fluid">
  <form class="m-4 noprint">
    <div class="row text-center" style="display: block;">
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
        <h6><strong>Sr(a).&nbsp;</strong>{{datosPaciente.nombre}}</h6>
        <h6><strong>Fecha Emisión:&nbsp;</strong>{{FechaHoy | date:'yyyy-MM-dd'}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <mat-form-field class="example-full-width " appearance="outline">
          <textarea matInput [(ngModel)]="rp" name="Receta" id="Receta" (keyup)="FirstUppercaseLetter('Receta')"
            placeholder="Receta"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Dr.&nbsp;{{nombre}}</p>
        <p>{{correo}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="modalPlantilla(addRecord,'')">Usar plantilla</button>
          <button mat-raised-button color="primary" class="float-right"
            (click)="modalPlantilla(addRecord2,'')">Previsualizar</button>
          <button mat-raised-button color="primary" class="float-right" (click)="guardarReceta()">Guardar</button>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid noprint">
    <div class="row">
      <div class="col-sm-12">
        <div class="ngxTableHeader">
          <ul class="header-buttons-left ml-0 mb-0">
            <li class="dropdown">
              <h2>
                <strong>Listado</strong>
              </h2>
            </li>
            <li class="dropdown m-l-20">
              <label for="search-input"><i class="material-icons search-icon">search</i></label>
              <input placeholder="Buscar" type="text" class="browser-default search-field"
                (keyup)="filterDatatable($event)" aria-label="Search box" />
            </li>
          </ul>
          <ul class="header-buttons m-r-20">
            <li>
              <div class="icon-button-demo">
                <!-- <button class="btn tblActnBtn h-auto">
                  <i class="material-icons">local_printshop</i>
                </button> -->
                <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit" class="mr-10">
                  <mat-icon class="col-white">local_printshop</mat-icon>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
          [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10" [scrollbarH]="true"
          [scrollbarV]="false">

          <ngx-datatable-column name="Fecha" [width]="100">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.Fecha}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Doctor" [width]="130">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.idDoctor}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Descripcion" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.Descripcion}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Acciones" sortable="false" [width]="130">
            <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <span>
                <button class="btn tblActnBtn h-auto" routerLink="/admin/email/crear-email">
                  <i class="material-icons">email</i>
                </button>
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

        <!-- Edit Record Modal Window -->
        <ng-template #editRecord let-modal>
          <div class="modal-header editRowModal">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true"><i class="material-icons">close</i></span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
              <div class="input-field col s12 d-none">
                <input formControlName="idRecetas" class="form-control" type="hidden" />
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Fecha</mat-label>
                    <input matInput formControlName="Fecha" [attr.disabled]="true" />
                    <mat-error *ngIf="register.get('Fecha').hasError('required')">
                      La Fecha es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="Descripcion" id="descriptreceta"
                      (keyup)="FirstUppercaseLetter('descriptreceta')" />
                    <mat-error *ngIf="register.get('Descripcion').hasError('required')">
                      La descripción es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="modal-footer">
                <div class="button-demo">
                  <button mat-raised-button type="submit" color="primary" style="margin-right:50px;">
                    Guardar
                  </button>
                  <button mat-button type="button" (click)="modal.close()">
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Modal Plantilla de Receta -->
  <ng-template #addRecord let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="modal-header">
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
              Plantilla de Receta
            </div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="input-field col s12 d-none">
        <input class="form-control" type="hidden" />
      </div>
      <div class="row mt-4">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Seleccione Plantilla de Receta</mat-label>
            <mat-select #select>
              <mat-option *ngFor="let plantilla of plantillasDeReceta" value="{{plantilla.idPlantilla}}"
                (click)="guardarDatosPlantilla(plantilla.Titulo,plantilla.Notas)">
                {{plantilla.Titulo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Plantilla de Receta:</mat-label>
            <textarea matInput [(ngModel)]="recetaplantilla" readonly="true"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <button style="margin-right:50px;" mat-raised-button color="primary" (click)="pasarvariablearp()">
            Aceptar
          </button>
          <button mat-raised-button color="primary" (click)="modal.dismiss(); TituloPlantilla === ''">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- modal nuevo laboratorio -->
  <ng-template #addRecord2 let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title2">
        <div class="modal-header">
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
              Receta
            </div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row text-center" style="justify-content: center;">
        <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{logoclinica}}" style="max-width: 250px;max-height: 170px;">
        <!-- <h4><strong>{{TituloPlantilla}}</strong></h4> -->
      </div>
      <div class="row my-5">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <h6><strong>Sr(a).&nbsp;</strong>{{datosPaciente.nombre}}</h6>
          <h6><strong>Fecha Emisión:&nbsp;</strong>{{FechaHoy | date:'yyyy-MM-dd'}}</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

        </div>
      </div>
      <div class="row my-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <h6><strong>{{rp}}</strong></h6>
        </div>
      </div>
      <div class="row mt-5">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-9"></div>
        <div class="col-md-3 text-center">
          <div style="border-top: 1px solid black;"></div>
          <h6 style="padding-top: 5%;">Dr.&nbsp;{{nombre}}</h6>
          <p>{{correo}}</p>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- modal nuevo laboratorio -->
  <ng-template #addRecord3 let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title2">
        <div class="modal-header">
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
              Receta
            </div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row text-center" style="justify-content: center;">
        <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{logoclinica}}" style="max-width: 250px;max-height: 170px;">
        <!-- <h4><strong>{{TituloPlantilla}}</strong></h4> -->
      </div>
      <div class="row my-5">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <h6><strong>Sr(a).&nbsp;</strong>{{datosPaciente.nombre}}</h6>
          <h6><strong>Fecha Emisión:&nbsp;</strong>{{FechaHoy | date:'yyyy-MM-dd'}}</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

        </div>
      </div>
      <div class="row my-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <h6><strong>{{notadereceta}}</strong></h6>
        </div>
      </div>
      <div class="row mt-5">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-9"></div>
        <div class="col-md-3 text-center">
          <div style="border-top: 1px solid black;"></div>
          <h6 style="padding-top: 5%;">Dr.&nbsp;{{nombre}}</h6>
          <p>{{correo}}</p>
          <p>{{nombreClinica}}</p>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Tabla a exportar oculta -->
  <div class="col-md-12 siprint table-responsive" #epltable>
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
          <h3>Listado nuevas recetas</h3>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th>
            <div class="col-md-12 text-left">
              <h6>Descripción</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Fecha</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6 class="ml-12">Doctor</h6>
            </div>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receta of data">
          <td>
            <div>
              <span>{{receta.Descripcion}}</span>
            </div>
          </td>
          <td>
            <span>{{receta.Fecha}}</span>
          </td>
          <td>
            <span>{{receta.idDoctor}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>