<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Plantilla</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Agregar Plantilla</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2 style="line-height: 18px;"><strong>Nueva Plantilla De Receta</strong></h2>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="plantillaForm"
                            (ngSubmit)="addReceta(plantillaForm.getRawValue())">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Título Plantilla de Receta</mat-label>
                                        <input matInput formControlName="Titulo"
                                            (keyup)="firstLetterUpperCase('Titulo')" required>
                                        <mat-error *ngIf="plantillaForm.get('Titulo')?.hasError('required')">
                                            El titulo es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Nota de recetas</mat-label>
                                        <textarea matInput formControlName="Notas" rows="3"
                                            (keyup)="firstLetterUpperCase('Notas')" required></textarea>
                                        <mat-error *ngIf="plantillaForm.get('Notas')?.hasError('required')">
                                            La nota es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" [disabled]="!plantillaForm.valid " mat-raised-button
                                        color="primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>