.table tbody tr td, .table tbody tr th {
    text-align: center!important;
}
.table thead tr th {
    text-align: center!important;
    font-weight: 400;
}
.table tbody tr td, .table tbody tr th {
    padding: 0px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    vertical-align: middle;
}
input[type=checkbox]{
    display: none; /*solo se esconde para tener un campo personalisado*/
}

input[type=checkbox] + label{
  cursor:pointer;
  width: 100%;
  padding-left: 0px!important;
  line-height: 0px!important;
  text-align: center!important;
  padding-top: 14%!important;
}/*esta linea significa esto + el siguiente elemento*/

label:before{
  content:'';
  background:transparent;
  text-align:center;
  text-shadow:4px -2px 3px #6d6767;
  vertical-align:middle;
  width:100px;
}/*es la sobra de la palomita*/
input[type=checkbox]:checked + label:before{
    content: "✔";
    font-size: 30px;
    color: #fff;
}/*es el contenido cuando el checkbox esta seleccionado*/

.link {
    display: none;
}

.celda:hover>.link {
  display: inline;
}

.link1 {
    display: none;
}

.celda1:hover>.link1 {
  display: inline;
}

.link2 {
    display: none;
}

.celda2:hover>.link2 {
  display: inline;
}
