<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Detalle paciente</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Doctor</a>
                        </li>
                        <li class="breadcrumb-item active">Detalle paciente</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{pacienteInfo?.Nombre}}</div>
                                <div class="name-center">{{pacienteInfo?.Apellido}}</div>
                            </div>
                            <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{pacienteInfo?.Imagen || 'user_default.png'}}" class="user-img" alt="">
                            <div>
                                <span class="phone">
                                    <i class="material-icons">phone</i>{{pacienteInfo?.Tel_Emergencia}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                                Datos pacietne
                            </ng-template>
                            <div class="header">
                                <h2>
                                    <strong>Datos del</strong> paciente
                                </h2>
                            </div>
                            <div class="body">
                                <div class="example-container">
                                    <form class="m-4" [formGroup]="patientForm">
                                        <div class="row">
                                            <h5 class="color-blue"><strong>Información del paciente</strong></h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Nombre del Paciente</mat-label>
                                                    <input matInput formControlName="Nombre" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Apellidos del Paciente</mat-label>
                                                    <input matInput formControlName="Apellido" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Composición del RFC para personas físicas y personas morales</mat-label>
                                                    <input matInput formControlName="Rfc">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Notas de Convenio</mat-label>
                                                    <input matInput formControlName="Notas_convenio">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Dirección</mat-label>
                                                    <input matInput formControlName="Direccion">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Celular</mat-label>
                                                    <input matInput formControlName="Tel_Emergencia">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Correo Electrónico</mat-label>
                                                    <input matInput formControlName="Correo">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Fecha de Nacimiento</mat-label>
                                                    <input matInput [matDatepicker]="picker" formControlName="FechaNac">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Edad</mat-label>
                                                    <input matInput formControlName="Edad">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Grupo sanguíneo</mat-label>
                                                    <input matInput formControlName="GrupoSanguineo">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Género </mat-label>
                                                    <input matInput formControlName="Genero">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Estado civil</mat-label>
                                                    <input matInput formControlName="EstadoCivil">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Ocupación</mat-label>
                                                    <input matInput formControlName="Ocupacion">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>¿Cómo te enteraste de nosotros?</mat-label>
                                                    <input matInput formControlName="Encontraste">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5 class="color-blue"><strong>Responsable adicionales</strong></h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Nombre contacto de emergencia</mat-label>
                                                    <input matInput formControlName="Nombre_Emergencia">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Parentesco contacto de emergencia</mat-label>
                                                    <input matInput formControlName="Parentesco_emergencia">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Responsable de Pago</mat-label>
                                                    <input matInput formControlName="Responsable_Pago">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Observaciones</mat-label>
                                                    <textarea matInput formControlName="Observaciones" rows="2"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>