<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Plan de tratamiento</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Pacientes</a>
                        </li>
                        <li class="breadcrumb-item active">Plan de tratamiento</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Plan de tratamiento</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                aria-label="Search box" />
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <!-- <button mat-mini-fab color="primary" (click)="getTotalUsuario('si')">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button> -->
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                                                class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>

                                        </li>
                                    </ul>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="body table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Total Presupuestado</td>
                                                                <td><strong>${{totalUsuario||0}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total de Prestaciones Completadas</td>
                                                                <td><strong>${{totalCompletado||0}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Total Abonos/Pagos</td>
                                                                <td><strong>${{totalPagado||0}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Saldo total de Prestaciones Completadas No Pagadas</td>
                                                                <td><strong>${{completadoNoPagado||0}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Saldo total de Prestaciones Presupuestadas No Pagadas</td>
                                                                <td><strong>${{presupuestadoNoPagado||0}}</strong></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card" *ngFor="let presup of Presupuestos">
                                            <div class="header">
                                                <h2>{{presup.Nombre}}</h2>
                                            </div>
                                            <div class="body">
                                                <div class="row clearfix">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="body table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Subtotal</th>
                                                                        <th>Descuento</th>
                                                                        <th>Total</th>
                                                                        <!-- <th>Pagado/Abonado</th> -->
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <ng-container *ngFor="let presupuesto of PresupuestosServ; let i=index">
                                                                        <tr *ngIf="presup.idPresupuestos===presupuesto.idPresupuesto">
                                                                            <td>${{presupuesto.Subtotal}}</td>
                                                                            <td>{{presupuesto.Descuento}}%</td>
                                                                            <td>{{presupuesto.Total}}</td>
                                                                            <!-- <td>pago</td> -->
                                                                        </tr>
                                                                    </ng-container>
                                                                </tbody>
                                                            </table>
                                                            <button class="mr-3" mat-raised-button type="button" color="primary"
                                                                (click)="abrirModalPagos(addRecord,presup.idPresupuestos)">
                                                                Agregar pago
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- Bar Chart -->
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="card">
                                                            <div class="header">
                                                                <h2>BAR CHART</h2>

                                                            </div>
                                                            <div class="card-body">
                                                                <div style="height: 300px">
                                                                    <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single"
                                                                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                                                                        [legend]="showLegend" [legendPosition]="legendPosition"
                                                                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                                                        [xAxisLabel]="vbarxAxisLabel" [yAxisLabel]="vbaryAxisLabel">
                                                                    </ngx-charts-bar-vertical>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- #END# Bar Chart -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Add Record Modal Window -->
<ng-template #addRecord let-modal>
    <div class="modal-header editRowModal">
        <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 font-17">
                        Agregar Pago
                    </div>
                </div>
            </div>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
        </button>
    </div>
    <div class="modal-body">
        <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombre del Servicio/Presupuesto</mat-label>
                        <mat-select formControlName="preserv" name="preserv">
                            <mat-option *ngFor="let pres of PresupuestosServid" value="{{pres.idPresupuestoService}}">
                                {{pres.Total}}&nbsp;{{pres.Estatus}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="register.get('preserv').hasError('required')">
                            El presupuesto es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Monto</mat-label>
                        <input matInput formControlName="Monto" type="number" />
                        <mat-error *ngIf="register.get('Monto').hasError('required')">
                            El Monto es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Medio de pago</mat-label>
                        <mat-select formControlName="Mpago" name="Mpago" (selectionChange)="activarMetodo()">
                            <mat-option [value]="'Bono'">
                                Bono
                            </mat-option>
                            <mat-option [value]="'Cheque'">
                                Cheque
                            </mat-option>
                            <mat-option [value]="'Deposito'">
                                Deposito
                            </mat-option>
                            <mat-option [value]="'plantilla'">
                                Descuento por plantilla
                            </mat-option>
                            <mat-option [value]="'Efectivo'">
                                Efectivo
                            </mat-option>
                            <mat-option [value]="'Gif Card'">
                                Gif Card
                            </mat-option>
                            <mat-option [value]="'Pagare'">
                                Pagare
                            </mat-option>
                            <mat-option [value]="'Tarjeta de credito'">
                                Tarjeta de credito
                            </mat-option>
                            <mat-option [value]="'Tarjeta de debito'">
                                Tarjeta de debito
                            </mat-option>
                            <mat-option [value]="'Tranferencia Electrónica'">
                                Tranferencia Electrónica
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="register.get('Mpago').hasError('required')">
                            El metodo de pago es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Tipo de Documento Emitido</mat-label>
                        <mat-select formControlName="Comprobante" name="Comprobante">
                            <mat-option [value]="'Boleta'">
                                Boleta
                            </mat-option>
                            <mat-option [value]="'Comprobante'">
                                Comprobante
                            </mat-option>
                            <mat-option [value]="'Factura'">
                                Factura
                            </mat-option>
                            <mat-option [value]="'Invoice'">
                                Invoice
                            </mat-option>
                            <mat-option [value]="'Recibo'">
                                Recibo
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="register.get('Comprobante').hasError('required')">
                            El Comprobante es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nº Boleta/Recibo</mat-label>
                        <input matInput formControlName="NoComprobante" type="number" />
                        <mat-error *ngIf="register.get('NoComprobante').hasError('required')">
                            El No. Comprobante es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="cheque">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Cantidad Cheque</mat-label>
                        <input matInput formControlName="CantidadCheque" type="number" />
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Banco</mat-label>
                        <input matInput formControlName="Banco" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="cheque">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Numero de Cheque</mat-label>
                        <input matInput formControlName="NoCheque" type="number" />
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Fecha del Cheque</mat-label>
                        <input matInput formControlName="FechaCheque" type="date" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="cheque">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Monto del Cheque</mat-label>
                        <input matInput formControlName="MontoCheque" type="number" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="plantilla || pagare">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Numero de Documento</mat-label>
                        <input matInput formControlName="NoDocumento" type="number" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="plantilla || tarjeta">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Numero de Cuotas</mat-label>
                        <input matInput formControlName="NoCuotas" type="number" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="tarjeta">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Numero de Tarjeta</mat-label>
                        <input matInput formControlName="NoTarjeta" type="number" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="tarjeta">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Tipo de Tarjeta</mat-label>
                        <mat-select formControlName="TipoTarjeta" name="TipoTarjeta">
                            <mat-option [value]="'Visa'">
                                Visa
                            </mat-option>
                            <mat-option [value]="'Master Card'">
                                Master Card
                            </mat-option>
                            <mat-option [value]="'American Express'">
                                American Express
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="mr-3" mat-raised-button type="button" color="primary"
                        (click)="onAddRowSave(register)">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
        <!-- #END# Basic Table -->
    </div>
</ng-template>