<section class="content colorCheck">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Convenio</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Adminstrador</a>
            </li>
            <li class="breadcrumb-item active">Nuevo convenio</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>Nuevo Convenio</strong></h2>
          </div>
          <div class="body">
            <form class="m-4" #FormGroupDirective [formGroup]="convenioForm" (ngSubmit)="agregarConvenio()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre del convenio a realizar</mat-label>
                    <input matInput formControlName="nombre" required (ngModelChange)="firstLetterUpperCase('nombre')">
                    <mat-error *ngIf="convenioForm.get('nombre')?.hasError('required')">
                      El nombre es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Porcentaje a descontar</mat-label>
                    <input type="number" min="0" pattern="^[0-9]+" max="100" matInput formControlName="descuento"
                      required>
                    <mat-icon [inline]="true" matSuffix style="font-weight: bold;font-size: 16px;">%</mat-icon>
                    <mat-error *ngIf="convenioForm.get('descuento')?.hasError('required')">
                      El porcentaje es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>
                      Selecciona un Doctor
                    </mat-label>
                    <mat-select required formControlName="nombreDoc" (ngModelChange)="desactivaSucursal()">
                      <mat-option *ngFor="let doc of doctores" value="{{doc.idUsuario}}">{{doc.NombreUsuario}}
                        {{doc.Apellidos}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="convenioForm.get('nombreDoc')?.hasError('required')">
                      El doctor es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>
                      Selecciona una sucursal
                    </mat-label>
                    <mat-select required formControlName="sucursal" (ngModelChange)="desactivaDoctor()">
                      <mat-option value="general">Convenio general</mat-option>
                      <mat-option *ngFor="let suc of sucursales" value="{{suc.idSucursal}}">{{suc.NombreSucursal}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="convenioForm.get('sucursal')?.hasError('required')">
                      La sucursal es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>
                      Sitio web
                    </mat-label>
                    <input matInput formControlName="sitio">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput formControlName="email" required>
                    <mat-label>
                      Email
                    </mat-label>
                    <mat-error *ngIf="convenioForm.get('email')?.hasError('required')">
                      El email es requerido
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>
                      Teléfono
                    </mat-label>
                    <input matInput type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                      maxlength="10" formControlName="telefono" required>
                    <mat-error *ngIf="convenioForm.get('telefono')?.hasError('required')">
                      El teléfono es requerido
                    </mat-error>
                    <mat-error *ngIf="convenioForm.get('telefono')?.hasError('minlength')">
                      El teléfono debe ser minimo de 10 numeros
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion" ngx-google-places-autocomplete [options]='options'
                      #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" required>
                    <mat-error *ngIf="convenioForm.get('direccion')?.hasError('required')">
                      La dirección es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Notas del convenio</mat-label>
                    <textarea matInput formControlName="notas"
                      (ngModelChange)="firstLetterUpperCase('notas')"></textarea>
                    <mat-error *ngIf="convenioForm.get('notas')?.hasError('maxlength')">
                      La nota debe ser maximo de 80 caracteres
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="mr-3" [disabled]="!convenioForm.valid " mat-raised-button
                    color="primary">Agregar</button>
                  <button type="button" mat-button
                    [routerLink]="['/admin/administrador/convenio/listado-convenios']">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>