<section class="content colorCheck">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Centro radiológico</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Adminstrador</a>
                        </li>
                        <li class="breadcrumb-item active">Nuevo Centro radiológico</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Nuevo Centro radiológico</strong></h2>
                    </div>
                    <div class="body">
                        <form class="register-form" [formGroup]="centroForm" (ngSubmit)="guardarCentro(centroForm)">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Nombre del Centro Radiológico</mat-label>
                                        <input matInput formControlName="nombre" (keyup)="firstLetterUppercase('nombre')" required/>
                                        <mat-error *ngIf="centroForm.get('nombre').hasError('required')  && centroForm.get('nombre').touched">
                                            El nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Correo electrónico</mat-label>
                                        <input matInput formControlName="correo" required />
                                        <mat-error *ngIf="centroForm.get('correo').hasError('required')  && centroForm.get('correo').touched">
                                            El Correo electrónico es requerido
                                        </mat-error>
                                        <mat-error *ngIf="centroForm.get('correo').hasError('pattern')  && centroForm.get('correo').touched">
                                            Debe ingresar un correo valido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Teléfono</mat-label>
                                        <input matInput formControlName="telefono" type="text"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10" required />
                                        <mat-error
                                            *ngIf="centroForm.get('telefono').hasError('required')  && centroForm.get('telefono').touched">
                                            La teléfono es requerido
                                        </mat-error>
                                        <mat-error
                                            *ngIf="centroForm.get('telefono').hasError('minlength')  && centroForm.get('telefono').touched">
                                            La teléfono debe ser minimo de 10 caracteres
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Dirección</mat-label>
                                        <input matInput formControlName="direccion" ngx-google-places-autocomplete [options]='options'
                                            #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" required />
                                        <mat-error
                                            *ngIf="centroForm.get('direccion').hasError('required')  && centroForm.get('direccion').touched">
                                            La dirección es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <textarea matInput formControlName="observaciones" (keyup)="firstLetterUppercase('observaciones')"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="mr-3" mat-raised-button color="primary" [disabled]="centroForm.invalid">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>