<section class="content" style="background-color: #fff!important;">
    <div class="container-fluid">
        <div class="row py-5 px-3">
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <div class="left-img"
                    style="background-image: url(assets/images/pages/bg-01.png);background-color: #fff!important;">
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="welcome-msg titulo cunia-family mb-5">Solicitud de videollamada</h3>
                <form class="validate-form" #myFGD="ngForm" [formGroup]="solicitudForm" (ngSubmit)="enviarSolicitud(solicitudForm.getRawValue(),myFGD)">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Nombre de usuario</mat-label>
                                <input matInput formControlName="nombreUsuario" (keyup)="firstLetterUppercase('nombreUsuario')"/>
                                <mat-error *ngIf="solicitudForm.get('nombreUsuario').hasError('required')">
                                    El nombre es requerido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Doctor</mat-label>
                                <mat-select required formControlName="idDoctor">
                                    <mat-option *ngFor="let doc of doctores" [value]="doc.idUsuario">{{doc.NombreUsuario}}{{doc.Apellidos}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="solicitudForm.get('idDoctor').hasError('required')">
                                    El doctor es requerido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Fecha</mat-label>
                                <input matInput formControlName="fecha" type="date"/>
                                <mat-error *ngIf="solicitudForm.get('fecha').hasError('required')">
                                    La fecha es requerida
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Horario</mat-label>
                                <input matInput formControlName="hora" type="time"/>
                                <mat-error *ngIf="solicitudForm.get('hora').hasError('required')">
                                    El horario es requerido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Motivo</mat-label>
                                <input matInput formControlName="motivo" (keyup)="firstLetterUppercase('motivo')"/>
                                <mat-error *ngIf="solicitudForm.get('motivo').hasError('required')&&solicitudForm.get('motivo').hasError('touched')">
                                    El motivo es requerido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Observaciones</mat-label>
                                <textarea matInput formControlName="observaciones" rows="3" (keyup)="firstLetterUppercase('observaciones')">
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="container-auth-form-btn">
                        <button mat-flat-button color="primary" class="auth-form-btn xl-button"
                            [disabled]="!solicitudForm.valid " type="submit">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>