<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Evoluciones</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#">Paciente</a>
                        </li>
                        <li class="breadcrumb-item active">Evoluciones</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Evoluciones</strong>
                    </h2>
                </div>
                <div class="body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <ul class="left-timeline">
                                    <li>
                                        <time class="left-time" datetime="2017-11-04T18:30"><span
                                                class="hidden">25/12/2017</span>
                                            <span class="large">Now</span></time>
                                        <div class="left-icon">
                                            <img src="assets/images/user/user-3.jpg" class="img-modal">
                                        </div>
                                        <div class="left-label empty">
                                            <span>No Activity</span>
                                        </div>
                                    </li>
                                    <li>
                                        <time class="left-time" datetime="2017-11-04T03:45">
                                            <span>03:45 AM</span>
                                            <span>Today</span>
                                        </time>
                                        <div class="left-icon">
                                            <img src="assets/images/user/user-3.jpg" class="img-modal">
                                        </div>
                                        <div class="left-label">
                                            <h2>
                                                <a href="#">John Deo</a>
                                                <span>posted a status update</span>
                                            </h2>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                                                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                                sem. Nulla consequat massa quis enim.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <time class="left-time" datetime="2017-11-03T13:22"><span>01:22 PM</span>
                                            <span>Yesterday</span>
                                        </time>
                                        <div class="left-icon">
                                            <img src="assets/images/user/user-3.jpg" class="img-modal">
                                        </div>
                                        <div class="left-label">
                                            <h2>
                                                <a href="#">Job Meeting</a>
                                            </h2>
                                            <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <time class="left-time" datetime="2017-10-22T12:13"><span>12:13 PM</span>
                                            <span>Two weeks ago</span>
                                        </time>
                                        <div class="left-icon">
                                            <img src="assets/images/user/user-3.jpg" class="img-modal">
                                        </div>
                                        <div class="left-label">
                                            <h2>
                                                <a href="#">Arlind Nushi</a>
                                                <span>checked in at</span>
                                                <a href="#">New York</a>
                                            </h2>
                                            <blockquote>
                                                <p class="blockquote blockquote-primary">
                                                    "It is a long established fact that a reader will be distracted
                                                    by the readable content of a page when looking at its layout."
                                                    <br>
                                                    <small>
                                                        - Isabella
                                                    </small>
                                                </p>
                                            </blockquote>
                                            <div class="row clearfix">
                                                <div class="col-lg-12">
                                                    <div class="map m-t-10">
                                                        <iframe
                                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91477011208!2d-74.11976308802028!3d40.69740344230033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1508039335245"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <time class="left-time" datetime="2017-10-22T12:13">
                                            <span>12:13 PM</span>
                                            <span>Two weeks ago</span>
                                        </time>
                                        <div class="left-icon">
                                            <img src="assets/images/user/user-3.jpg" class="img-modal">
                                        </div>
                                        <div class="left-label">
                                            <h2>
                                                <a href="#">Eroll Maxhuni</a>
                                                <span>uploaded</span>
                                                4 <span>new photos to album</span>
                                                <a href="#">Summer Trip</a>
                                            </h2>
                                            <blockquote>Pianoforte principles our unaffected not for astonished
                                                travelling are particular.</blockquote>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6 col-6">
                                                    <a href="#">
                                                        <img src="assets/images/user/user-3.jpg" class="img-modal"
                                                            class="img-fluid img-thumbnail m-t-30">
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-6">
                                                    <a href="#">
                                                        <img src="assets/images/user/user-3.jpg" class="img-modal"
                                                            class="img-fluid img-thumbnail m-t-30">
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-6">
                                                    <a href="#">
                                                        <img src="assets/images/user/user-3.jpg" class="img-modal"
                                                            class="img-fluid img-thumbnail m-t-30">
                                                    </a>
                                                </div>
                                                <div class="col-lg-3 col-md-6 col-6">
                                                    <a href="#">
                                                        <img src="assets/images/user/user-3.jpg" class="img-modal"
                                                            class="img-fluid img-thumbnail m-t-30">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <time class="left-time" datetime="2017-11-03T13:22">
                                            <span>01:22 PM</span>
                                            <span>Two weeks ago</span>
                                        </time>
                                        <div class="left-icon">
                                            <img src="assets/images/user/user-3.jpg" class="img-modal">
                                        </div>
                                        <div class="left-label">
                                            <h2><a href="#">Job Meeting</a></h2>
                                            <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <time class="left-time" datetime="2017-10-22T12:13"><span>12:13 PM</span>
                                            <span>Month ago</span>
                                        </time>
                                        <div class="left-icon">
                                            <img src="assets/images/user/user-3.jpg" class="img-modal">
                                        </div>
                                        <div class="left-label">
                                            <h2>
                                                <a href="#">Arlind Nushi</a>
                                                <span>checked in at</span>
                                                <a href="#">Laborator</a>
                                            </h2>
                                            <blockquote>Great place, feeling like in home.</blockquote>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>