<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Listado de Usuarios Inactivos</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Administrador</a>
              </li>
              <li class="breadcrumb-item active">Listado</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="ngxTableHeader">
                    <ul class="header-buttons-left ml-0 mb-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Listado de Usuarios Inactivos</strong></h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Ingresa el nombre" type="text" class="browser-default search-field"
                          (keyup)='filterDatatable($event)' aria-label="Search box">
                      </li>
                    </ul>
                    <ul class="header-buttons">
                      <li>
                        <button mat-mini-fab color="primary" (click)="getAllUsers('si')" class="mr-10">
                          <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <ngx-datatable #table class="material" [rows]="dataUserI" [columns]="columns" [sortType]="'multi'"
                  [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay usuarios..'}">
                    <!-- user image -->
                    <ngx-datatable-column name="img" sortable="false" prop="img" [width]="5">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td class="table-img padding-0">
                          <img width="40" src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Imagen}}"/>
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre Completo" [width]="100" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.NombreUsuario}} {{row.Apellidos}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Celular" [width]="50">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Celular}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Correo" [width]="100" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Correo.length>17 ? (row.Correo | slice:0:15) + '..' : row.Correo}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Sucursal" [width]="100" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.NombreSucursal}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Especialidad" [width]="100" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Especialidad.length>12 ? (row.Especialidad | slice:0:10) + '..' : row.Especialidad}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Genero" [width]="20" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.Genero}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Acciones" [sortable]="false" [width]="120">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>
                          <mat-icon title="Activar" class="grey-color mr-10 pointer" (click)="cambiarestatus(row, rowIndex)">visibility_off</mat-icon>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>

                  <!-- Add Record Modal Window -->
                  <ng-template #addRecord let-modal>
                    <div class="modal-header editRowModal">
                      <h4 class="modal-title" id="modal-basic-title">
                        <div class="modal-header ">
                          <img [src]='newUserImg' alt="avatar">
                          <div class="modal-about">
                            <div class="font-weight-bold p-t-10 font-17">
                              Nuevo paciente</div>
                          </div>
                        </div>
                      </h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true"><i class="material-icons">close</i></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form class="register-form" [formGroup]="register">
                        <div class="input-field col s12 d-none">
                          <input formControlName="id" class="form-control" type="hidden">
                        </div>
                        <div class="input-field col s12 d-none">
                          <input formControlName="img" class="form-control" type="hidden">
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Nombre</mat-label>
                              <input matInput formControlName="Nombres" required>
                              <mat-icon matSuffix>face</mat-icon>
                              <mat-error *ngIf="register.get('Nombres').hasError('required')">
                                Nombre es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Apellidos</mat-label>
                              <input matInput formControlName="Apellidos">
                              <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Celular</mat-label>
                              <input matInput formControlName="Celular" required>
                              <mat-icon matSuffix>phone</mat-icon>
                              <mat-error *ngIf="register.get('Celular').hasError('required')">
                                Celular name es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Doctor</mat-label>
                              <input matInput formControlName="Doctor">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Genero</mat-label>
                              <input matInput formControlName="Genero">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <button class="mr-3" [disabled]="!register.valid" mat-raised-button
                              color="primary">Guardar</button>
                            <button type="button" mat-button data-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>

                  <!-- Edit Record Modal Window -->
                  <ng-template #editRecord let-modal>
                    <div class="modal-header editRowModal">
                      <h4 class="modal-title" id="modal-basic-title">
                        <div class="modal-header ">
                          <img [src]='selectedRowData?.img' alt="avatar">
                          <div class="modal-about">
                            <div class="font-weight-bold p-t-10 font-17">
                              {{selectedRowData?.Nombres}}
                              {{selectedRowData?.Apellidos}}</div>
                          </div>
                        </div>
                      </h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true"><i class="material-icons">close</i></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="editForm">
                        <div class="input-field col s12 d-none">
                          <input formControlName="id" class="form-control" type="hidden">
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Nombre</mat-label>
                              <input matInput formControlName="Nombres" required>
                              <mat-icon matSuffix>face</mat-icon>
                              <mat-error *ngIf="editForm.get('Nombres').hasError('required')">
                                Nombre es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Apellidos</mat-label>
                              <input matInput formControlName="Apellidos">
                              <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Celular</mat-label>
                              <input matInput formControlName="Celular" required>
                              <mat-icon matSuffix>phone</mat-icon>
                              <mat-error *ngIf="register.get('Celular').hasError('required')">
                                El Celular es requerido
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Doctor</mat-label>
                              <input matInput formControlName="Doctor">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Genero</mat-label>
                              <input matInput formControlName="Genero">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="button-demo">
                            <button mat-raised-button type="submit" color="primary">Guardar</button>
                            <button mat-button type="button" (click)="modal.close()">Cancelar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>