<section class="content">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
                src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                style="font-size: 30px; font-weight: bold;">Convenios inactivos</span></div>
    </div>
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Convenios inactivos</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Listado</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de Convenios</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons">
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="getDisabledConvenios('si')"
                                                class="mr-10">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="exportToExcel()"
                                                class="mr-10">
                                                <mat-icon class="col-white">call_made</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')"
                                                type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="dataconv" [scrollbarH]="true"
                                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    rowHeight="auto" [limit]="10" [messages]="{emptyMessage: 'No hay convenios..'}">
                                    <!-- user image -->
                                    <ngx-datatable-column name="Convenio" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreConvenio}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="% Dto." [width]="40" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.Descuento}}%
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Sucursal" [width]="130" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div *ngIf="row.NombreSucursal === '' && row.NombreUsuario === ''">
                                                Convenio General
                                            </div>
                                            {{row.NombreSucursal}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Doctor / Doctora" [width]="130" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div *ngIf="row.NombreSucursal === '' && row.NombreUsuario === ''">
                                                Convenio General
                                            </div>
                                            {{row.NombreUsuario}} {{row.Apellidos}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estado" [width]="60" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <div *ngIf="row.Status === '0'">
                                                Activo
                                            </div>
                                            <div *ngIf="row.Status === '1'">
                                                Inactivo
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Creación" [width]="80" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaCreacion}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Actualización" [width]="80" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.FechaMod}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acciones" [width]="170" [sortable]="false">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Historial" class="grey-color mr-10 pointer"
                                                    (click)="enabledConvenio(row.id)">
                                                    visibility
                                                </mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla a exportar oculta -->
    <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Convenio</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>% Dto.</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-3">Sucursal</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Doctor / Doctora</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Estado</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Creación</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6 class="ml-12">Actualización</h6>
                        </div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conv of dataconv">
                    <td>
                        <div>
                            <span>{{conv.NombreConvenio}}</span>
                        </div>
                    </td>
                    <td>
                        <span>{{conv.Descuento}}%</span>
                    </td>
                    <td>
                        <span>
                            <div *ngIf="conv.NombreSucursal === '' && conv.NombreUsuario === ''">
                                Convenio General
                            </div>
                            {{conv.NombreSucursal}}
                        </span>
                    </td>
                    <td>
                        <span>
                            <div *ngIf="conv.NombreSucursal === '' && conv.NombreUsuario === ''">
                                Convenio General
                            </div>
                            {{conv.NombreUsuario}} {{conv.Apellidos}}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="conv.Status === '0'">
                            Activo
                        </div>
                        <div *ngIf="conv.Status === '1'">
                            Inactivo
                        </div>
                    </td>
                    <td>
                        <span>{{conv.FechaCreacion}}</span>
                    </td>
                    <td>
                        <span>{{conv.FechaMod}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>