<section class="content">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6">
            <!-- <img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <span style="font-size: 30px; font-weight: bold;">Listado de centros radiológicos</span>
        </div>
    </div>
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Listado de centros radiológicos</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Listado de centros radiológicos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de centros radiológicos</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)="filterDatatable($event)" aria-label="Search box" />
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <li>
                                            <a mat-mini-fab color="primary"
                                                routerLink="/admin/administrador/radiologico/agregar-centro"
                                                class="mr-10">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </a>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="getCentros('si')"
                                                class="mr-10">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')"
                                                type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="centros" [sortType]="'multi'"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                                    [limit]="10" [scrollbarH]="true" [scrollbarV]="false" [messages]="{emptyMessage: 'No hay centros radiologicos..'}">
                                    <ngx-datatable-column name="Nombre" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/listado-odenes/{{row.idCentro}}">
                                                {{row.nombre}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Teléfono" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/listado-odenes/{{row.idCentro}}">
                                                {{row.telefono}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Email" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/listado-odenes/{{row.idCentro}}">
                                                {{row.correo}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Dirección" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/listado-odenes/{{row.idCentro}}">
                                                {{row.direccion}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Observaciones" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/listado-odenes/{{row.idCentro}}">
                                                {{row.observaciones}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acciones" sortable="false" [width]="100">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Editar" class="grey-color mr-10 pointer"
                                                    (click)="editModal(row,addRecord2)">
                                                    mode_edit</mat-icon>
                                                <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                                                    (click)="deleteCentro(row.idCentro)">delete</mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>

                                <!-- modal editar Centro -->
                                <ng-template #addRecord2 let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title2">
                                            <div class="modal-header">
                                                <div class="modal-about">
                                                    <div class="font-weight-bold p-t-10 font-17">
                                                        Editar centro
                                                    </div>
                                                </div>
                                            </div>
                                        </h4>
                                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="register-form" [formGroup]="centroForm"
                                            (ngSubmit)="updateCentro(centroForm)">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Nombre del Centro Radiológico</mat-label>
                                                        <input matInput formControlName="nombre"
                                                            (keyup)="firstLetterUppercase('nombre')" required />
                                                        <mat-error
                                                            *ngIf="centroForm.get('nombre').hasError('required')  && centroForm.get('nombre').touched">
                                                            El nombre es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Correo electrónico</mat-label>
                                                        <input matInput formControlName="correo" required />
                                                        <mat-error
                                                            *ngIf="centroForm.get('correo').hasError('required')  && centroForm.get('correo').touched">
                                                            El Correo electrónico es requerido
                                                        </mat-error>
                                                        <mat-error
                                                            *ngIf="centroForm.get('correo').hasError('pattern')  && centroForm.get('correo').touched">
                                                            Debe ingresar un correo valido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Teléfono</mat-label>
                                                        <input matInput formControlName="telefono" type="text"
                                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                            maxlength="10" required />
                                                        <mat-error
                                                            *ngIf="centroForm.get('telefono').hasError('required')  && centroForm.get('telefono').touched">
                                                            La teléfono es requerido
                                                        </mat-error>
                                                        <mat-error
                                                            *ngIf="centroForm.get('telefono').hasError('minlength')  && centroForm.get('telefono').touched">
                                                            La teléfono debe ser minimo de 10 caracteres
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Dirección</mat-label>
                                                        <input matInput formControlName="direccion"
                                                            ngx-google-places-autocomplete [options]='options'
                                                            #placesRef="ngx-places"
                                                            (onAddressChange)="handleAddressChange($event)" required />
                                                        <mat-error
                                                            *ngIf="centroForm.get('direccion').hasError('required')  && centroForm.get('direccion').touched">
                                                            La dirección es requerida
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Observaciones</mat-label>
                                                        <textarea matInput formControlName="observaciones" (keyup)="firstLetterUppercase('observaciones')" required></textarea>
                                                        <mat-error
                                                            *ngIf="centroForm.get('observaciones').hasError('required')  && centroForm.get('observaciones').touched">
                                                            La observaciones son requeridas
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <button class="mr-3" mat-raised-button color="primary" [disabled]="centroForm.invalid">
                                                        Guardar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla a exportar oculta -->
    <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Nombre</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Teléfono</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Correo</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Dirección</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Observaciones</h6>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lab of centros">
                    <td>
                        <div>
                            <span>{{lab.nombre}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.telefono}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.correo}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.direccion}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.observaciones}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>