<section class="content">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
                src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                style="font-size: 30px; font-weight: bold;">Listado de servicios</span></div>
    </div>
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Listado de Servicios</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Listado</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de Servicios</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)='filterDatatable($event)' aria-label="Search box">
                                        </li>
                                    </ul>
                                    <ul class="header-buttons" *ngIf="idClinica > 0">
                                        <li>
                                            <a mat-mini-fab color="primary"
                                                routerLink="/admin/administrador/servicio/nuevo-servicio" class="mr-10">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </a>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="getServicios('si')"
                                                class="mr-10">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="exportToExcel()"
                                                class="mr-10">
                                                <mat-icon class="col-white">call_made</mat-icon>
                                            </button>
                                        </li>
                                        <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')"
                                                type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="servicios" [sortType]="'multi'"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                                    [limit]="10" [messages]="{emptyMessage: 'No hay servicios..'}">
                                    <!-- user image -->
                                    <ngx-datatable-column name="Nombre" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.Nombre}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Categoria" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.NombreCat}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Descripcion" [width]="100" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.Descripcion.length>32 ? (row.Descripcion | slice:0:30) + '..' :
                                            row.Descripcion}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Costo" [width]="80" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            $ {{row.Costo}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Estatus" [width]="130" [sortable]="false">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <label *ngIf="row.Deshabilitar ==='0'">Inactivo</label>
                                            <label *ngIf="row.Deshabilitar ==='1'">Activo</label>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Acciones" [sortable]="false" [width]="100">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span>
                                                <mat-icon title="Editar" class="grey-color mr-10 pointer"
                                                    (click)='editServicioModal(row, nuevoeditarservicio)'>mode_edit
                                                </mat-icon>
                                                <mat-icon title="Eliminar" class="grey-color mr-10 pointer"
                                                    (click)="deleteServicio(row)">delete
                                                </mat-icon>
                                            </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>

                                <!-- Add Record Modal Window -->
                                <ng-template #nuevoeditarservicio let-modal>
                                    <div class="modal-header editRowModal">
                                        <h4 class="modal-title" id="modal-basic-title">
                                            <div class="modal-header ">
                                                <div class="modal-about">
                                                    <div class="font-weight-bold p-t-10 font-17">
                                                        Modificar servicio</div>
                                                </div>
                                            </div>
                                        </h4>
                                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                                            <span aria-hidden="true"><i class="material-icons">close</i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="register-form" [formGroup]="servicioForm"
                                            (ngSubmit)="updateServicio(servicioForm.getRawValue())">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Nombre de Servicio</mat-label>
                                                        <input matInput formControlName="Nombre"
                                                            (keyup)="firstLetterUpperCase('Nombre')" required>
                                                        <mat-error
                                                            *ngIf="servicioForm.get('Nombre')?.hasError('required')">
                                                            El nombre es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Categoría</mat-label>
                                                        <mat-select formControlName="idCategorias" required>
                                                            <mat-option *ngFor="let categ of categorias"
                                                                [value]="categ.idCategorias">
                                                                {{categ.Nombre}}
                                                            </mat-option>
                                                        </mat-select>
                                                        <mat-error
                                                            *ngIf="servicioForm.get('idCategorias')?.hasError('required')">
                                                            La categoria es requerida
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Costo del servicio</mat-label>
                                                        <input matInput formControlName="Costo" type="number" min="0"
                                                            required>
                                                        <mat-error
                                                            *ngIf="servicioForm.get('Costo')?.hasError('required')">
                                                            El costo es requerido
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Descripción del servicio</mat-label>
                                                        <textarea matInput formControlName="Descripcion" rows="3"
                                                            (keyup)="firstLetterUpperCase('Descripcion')"></textarea>
                                                        <mat-error
                                                            *ngIf="servicioForm.get('Descripcion')?.hasError('required')">
                                                            La descripcion es requerida
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <mat-slide-toggle formControlName="Deshabilitar">Habilitar Servicio
                                                    </mat-slide-toggle>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <button class="mr-3" [disabled]="!servicioForm.valid"
                                                        mat-raised-button color="primary">Guardar</button>
                                                    <button type="button" mat-button
                                                        (click)="closeModal()">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla a exportar oculta -->
    <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Nombre</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Categoria</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Descripcion</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Costo</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Estatus</h6>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of servicios">
                    <td>
                        <div>
                            <span>{{row.Nombre}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{row.NombreCat}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{row.Descripcion}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>$ {{row.Costo}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>
                                {{row.Deshabilitar}}
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>