<section class="content">
    <div class="container-fluid">
        <button mat-flat-button color="primary" class="mb-3" (click)="exportHtml()">Export HTML</button>
        <email-editor (loaded)="editorLoaded($event)" (ready)="editorReady($event)"></email-editor>
    </div>
</section>