
    <div  class="auth-container ">
      <!-- Your content goes here  -->
      <div class="row auth-main">
        <div class="col-lg-4 col-md-12 noprint" *ngIf="vertexto">
          <div class="card" *ngFor="let info of infopaciente">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark">
                  <div class="user-name">{{info.NombreUsuario}} {{info.Apellidos}}</div>
                </div>
                <img src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{info.Imagen}}" class="user-img" alt="">
                <p style="margin-bottom:0px!important;"><strong>DATOS DE CONTACTO</strong></p>
                <p *ngIf="info.Direccion !== '' || info.Direccion !== null">
                  {{info.Direccion}}
                </p>
                <p *ngIf="info.Direccion === '' || info.Direccion === null">
                  Dirección no definida
                </p>
                <p class="phone" style="margin-bottom:0px!important;"
                  *ngIf="info.Celular !== '' || info.Celular !== null">
                  <i class="material-icons">phone</i>{{info.Celular}}
                </p>
                <p class="phone" style="margin-bottom:0px!important;"
                  *ngIf="info.Celular === '' || info.Celular === null">
                  Sin numero</p>
                <p style="margin-bottom:0px!important;"><strong>SUCURSAL</strong></p>
                <p *ngIf="info.NombreSucursal !== '' || info.NombreSucursal !== null">
                    {{info.NombreSucursal}}
                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                          <div class="panel-body">
                              <div id="jitsi-iframe" class="item-center"></div>

                              <div class="item-center" *ngIf="vertexto">
                                  <span>Controles de videollamada</span>
                              </div>
                              <div class="item-center" *ngIf="vertexto">
                                  <span>&nbsp;&nbsp;</span>
                                  <i (click)="executeCommand('toggleAudio')" class="fas fa-2x grey-color" [ngClass]="isAudioMuted ? 'fa-microphone-slash' : 'fa-microphone'" aria-hidden="true" title="Mute / Unmute"></i>
                                  <i (click)="executeCommand('hangup')" class="fas fa-phone-slash fa-2x red-color" aria-hidden="true" title="Leave"></i>
                                  <i (click)="executeCommand('toggleVideo')" class="fas fa-2x grey-color" [ngClass]="isVideoMuted ? 'fa-video-slash' : 'fa-video'" aria-hidden="true" title="Start / Stop camera"></i>
                                  <i (click)="executeCommand('toggleShareScreen')" class="fas fa-film fa-2x grey-color" aria-hidden="true" title="Share your screen"></i>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
