.btn-outline-dark:hover {color: #fff;background-color:transparent!important;}
.ngxTableHeader {min-width: 500px!important;}
.cdk-global-overlay-wrapper, .cdk-overlay-container {z-index: 9999!important;}
.mat-form-field-wrapper {padding-bottom: 0em!important;}
.mat-form-field-appearance-outline .mat-form-field-infix {padding: 0.5em 0 1em 0!important;}
.imgodonto {height: 60px;width: auto;padding: 0 2px;cursor: pointer;z-index: 0;}
.imgodontomodal {height: 70px;width: auto;}
.cuadrante{box-sizing: border-box;width: 11px;height: 11px;margin: 0 .5px;display: block;border-radius: 10px;border: 1px solid #000;background-color: #FFF;
cursor: pointer;font-size: 8px;line-height: 10px;text-align: center;margin-top: 4px;}
.n_diente{font-weight: 700;}
.divBorde{border-style: solid;border-color: black;}
.img-modal{width: 45px;height: 45px;}
.img-icon{font-size: 25px!important;display: flex;justify-content: center;align-items: center;}
/* ---------------------------------------------------
    MEDIA QUERYS
----------------------------------------------------- */
@media screen and (min-width: 1920px) {
.auth-wrapper { width: 750px; font-size: 23px; }
.titulo { font-size: 3rem; }
.xl-font { font-size: 23px !important;}
.xl-button { padding: 10px 23px !important; height: 65px; }
}
@media screen and (min-width: 2560px) {
.auth-wrapper { width: 1024px; font-size: 30px; }
.titulo { font-size: 4.7rem; }
.xl-font { font-size: 30px !important;}
.xl-button { padding: 10px 23px !important; height: 85px; }
}
@media screen and (min-width: 3440px) {
.auth-wrapper { width: 1366px; font-size: 35px; }
.titulo { font-size: 5rem; }
.xl-font { font-size: 35px !important;}
.xl-button { padding: 10px 23px !important; height: 95px; }
}
.colorCheck{background-color: #e9ecef}
.fonTS{font-size: 20px !important;}
.siprint {display: none;}
@media print
{.noprint {display:none;}
.siprint {display: block;}
#content {width: calc(100% - 0%);padding: 0px;min-height: 100vh;transition: all 0.3s;position: absolute;top: 0;right: 0;}
@page {size: portrait}
}
.img__table{object-fit: contain!important;}
.stripe_img{width: auto;height: 20px;}
.btn_stripe{width: 100%!important;border-radius: 20px!important;background: #eee;height: fit-content!important;}
.mr-10{margin-right:10px!important;}
.flex-center{display: flex;align-items: center;}
.pac-container {z-index: 10000 !important;}
.close{background: transparent!important;border: none!important;}
.img_header{max-width: 248px!important;height: 50px!important;object-fit: contain!important;}
.a-header{display: flex!important;justify-content: center!important;align-items: center!important;width: 100%!important;margin: 0px!important;padding: 0px!important;}
.img-modal{width:45px!important;height: 45px!important;border-radius: 50%!important;object-fit: cover!important;}
.user-img{object-fit:cover!important;width:100px!important;height:100px!important;}
.diente1{width:30px;height:30px;position:absolute;left:65px;top:145px;}
.diente2{width:30px;height:30px;position:absolute;left:47px;top:111px;}
.diente3{width:30px;height:30px;position:absolute;left:51px;top:82px;}
.diente4{width:30px;height:30px;position:absolute;left:66px;top:53px;}
.diente5{width:30px;height:30px;position:absolute;left:94px;top:30px;}
.diente6{width:30px;height:30px;position:absolute;top:12px;left:121px;}
.diente7{width:30px;height:30px;position:absolute;left:145px;top:3px;}
.diente8{width:30px;height:30px;position:absolute;left:171px;top:0px;}
.diente9{width:30px;height:30px;position:absolute;right:149px;top:0px;}
.diente10{width:30px;height:30px;position:absolute;right:121px;top:7px;}
.diente11{width:30px;height:30px;position:absolute;right:98px;top:15px;}
.diente12{width:30px;height:30px;position:absolute;right:70px;top:26px;}
.diente13{width:30px;height:30px;position:absolute;right:52px;top:55px;}
.diente14{width:30px;height:30px;position:absolute;right:39px;top:83px;}
.diente15{width:30px;height:30px;position:absolute;right:29px;top:110px;}
.diente16{width:30px;height:30px;position:absolute;top:142px;right:40px;}
.diente17{width:30px;height:30px;position:absolute;bottom:239px;right:49px;}
.diente21{width:30px;height:30px;position:absolute;bottom:213px;right:42px;}
.diente20{width:30px;height:30px;position:absolute;bottom:181px;right:48px;}
.diente19{width:30px;height:30px;position:absolute;bottom:149px;right:56px;}
.diente18{width:30px;height:30px;position:absolute;bottom:119px;right:70px;}
.diente27{width:30px;height:30px;position:absolute;right:93px;bottom:94px;}
.diente26{width:30px;height:30px;position:absolute;bottom:86px;right:123px;}
.diente25{width:30px;height:30px;position:absolute;bottom:81px;right:152px;}
.diente24{width:30px;height:30px;position:absolute;bottom:81px;right:182px;}
.diente23{width:30px;height:30px;position:absolute;bottom:86px;left:138px;}
.diente22{width:30px;height:30px;position:absolute;bottom:101px;left:108px;}
.diente31{width:30px;height:30px;position:absolute;bottom:126px;left:84px;}
.diente30{width:30px;height:30px;position:absolute;bottom:156px;left:71px;}
.diente29{width:30px;height:30px;position:absolute;bottom:186px;left:62px;}
.diente28{width:30px;height:30px;position:absolute;left:62px;bottom:216px;}
.diente32{width:30px;height:30px;position:absolute;left:68px;bottom:246px;}
.mandibula1{width:96px;height:60px;background:transparent;position:absolute;left:97px;top:98px;}
.mandibula2{width:131px;height:46px;background:transparent;position:absolute;right:114px;top:46px;}
.mandibula3{width:99px;height:59px;background:transparent;position:absolute;right:71px;top:99px;}
.mandibula4{width:109px;height:52px;background:transparent;position:absolute;right:46px;bottom:190px;transform:rotate(97deg);}
.mandibula5{width:106px;height:46px;background:transparent;position:absolute;right:129px;bottom:115px;}
.mandibula6{width:110px;height:50px;background:transparent;position:absolute;position:absolute;left:66px;bottom:191px;transform:rotate(85deg);}
.cambioColor:hover {color:#0d6efd;}
.imgMandibula{width: 300px;margin-right: 40px;margin-left: 40px;margin-top:40px;}
.corona2{width:20px;height:20px;position:absolute;left:101px;top:145px;}
.corona3{width:20px;height:20px;position:absolute;left:106px;top:127px;}
.corona4{width:20px;height:20px;position:absolute;left:111px;top:113px;}
.corona5{width:20px;height:20px;position:absolute;left:116px;top:99px;}
.corona6{width:20px;height:20px;position:absolute;top:92px;left:126px;}
.corona7{width:20px;height:20px;position:absolute;left:145px;top:81px;}
.corona8{width:20px;height:20px;position:absolute;left:171px;top:78px;}
.corona9{width:20px;height:20px;position:absolute;right:160px;top:78px;}
.corona10{width:20px;height:20px;position:absolute;right:132px;top:84px;}
.corona11{width:20px;height:20px;position:absolute;right:113px;top:90px;}
.corona12{width:20px;height:20px;position:absolute;right:103px;top:106px;}
.corona13{width:20px;height:20px;position:absolute;right:96px;top:116px;}
.corona14{width:20px;height:20px;position:absolute;right:93px;top:128px;}
.corona15{width:20px;height:20px;position:absolute;right:88px;top:139px;}
.corona18{width:25px;height:25px;position:absolute;bottom:171px;right:105px;}
.corona19{width:25px;height:25px;position:absolute;bottom:194px;right:93px;}
.corona20{width:25px;height:25px;position:absolute;bottom:216px;right:90px;}
.corona21{width:25px;height:25px;position:absolute;bottom:242px;right:87px;}
.corona27{width:25px;height:25px;position:absolute;right:126px;bottom:148px;}
.corona26{width:25px;height:25px;position:absolute;bottom:137px;right:143px;}
.corona25{width:25px;height:25px;position:absolute;bottom:130px;right:163px;}
.corona24{width:25px;height:25px;position:absolute;bottom:129px;right:182px;}
.corona23{width:25px;height:25px;position:absolute;bottom:134px;left:155px;}
.corona22{width:25px;height:25px;position:absolute;bottom:145px;left:140px;}
.corona31{width:25px;height:25px;position:absolute;bottom:178px;left:121px;}
.corona30{width:25px;height:25px;position:absolute;bottom:195px;left:115px;}
.corona29{width:25px;height:25px;position:absolute;bottom:217px;left:106px;}
.corona28{width:25px;height:25px;position:absolute;left:106px;bottom:240px;}
.mat-select-disabled .mat-select-value {color: rgb(0 0 0 / 100%)}
.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {color: rgb(0 0 0 / 100%)}
.puente2{width:31px;position:absolute;top:105px;transform:rotate(-91deg);left:49px;}
.puente3{width:30px;position:absolute;top:75px;transform:rotate(-41deg);left:57px;}
.puente4{width:25px;position:absolute;top:39px;left:82px;}
.puente5{width:18px;position:absolute;top:15px;left:113px;transform:rotate(39deg);}
.puente6{width:31px;position:absolute;top:10px;left:133px;transform:rotate(-51deg);}
.puente7{width:25px;position:absolute;top:0px;left:166px;transform:rotate(-55deg);}
.puente8{width:17px;position:absolute;top:0px;left:200px;transform:rotate(-60deg);}
.puente9{width:25px;position:absolute;top:8px;left:224px;transform:rotate(45deg);}
.puente10{width:20px;position:absolute;top:19px;right:110px;transform:rotate(-84deg);}
.puente11{width:12px;position:absolute;top:19px;right:95px;transform:rotate(-53deg);}
.puente12{width:34px;position:absolute;top:50px;right:60px;transform:rotate(-118deg);}
.puente13{width:25px;position:absolute;top:66px;right:51px;transform:rotate(-163deg);}
.puente14{width:25px;position:absolute;top:88px;right:38px;transform:rotate(191deg);}
.puente15{width:16px;position:absolute;right:50px;bottom:191px;transform:rotate(200deg);}
.puente21{width:16px;position:absolute;right:61px;bottom:150px;transform:rotate(201deg);}
.puente20{width:16px;position:absolute;right:70px;bottom:135px;transform:rotate(208deg);}
.puente19{width:16px;position:absolute;right:92px;bottom:100px;transform:rotate(234deg);}
.puente18{width:16px;position:absolute;right:119px;bottom:86px;transform:rotate(255deg);}
.puente27{width:16px;position:absolute;right:151px;bottom:78px;transform:rotate(272deg);}
.puente26{width:16px;position:absolute;right:181px;bottom:74px;transform:rotate(277deg);}
.puente25{width:16px;position:absolute;right:209px;bottom:77px;transform:rotate(282deg);}
.puente24{width:16px;position:absolute;right:233px;bottom:88px;transform:rotate(310deg);}
.puente23{width:16px;position:absolute;right:268px;bottom:115px;transform:rotate(321deg);}
.puente22{width:16px;position:absolute;right:283px;bottom:141px;transform:rotate(341deg);}
.puente29{width:16px;position:absolute;left:72px;bottom:163px;transform:rotate(342deg);}
.puente28{width:16px;position:absolute;left:65px;bottom:195px;transform:rotate(362deg);}
.dentadura1{width:260px;position:absolute;left:64px;top:-4px;z-index:-1;}
.dentadura2{width:260px;position:absolute;left:68px;top:-4px;z-index:-1;}
.dentadura3{width:285px;position:absolute;left:55px;bottom:82px;z-index:-1;}
.dentadura4{width:260px;position:absolute;left:68px;top:20px;z-index:-1;}
.dentadura5{width:260px;position:absolute;left:68px;bottom:87px;z-index:-1;}
.dentadura6{width:260px;position:absolute;left:68px;bottom:77px;transform:rotate(180deg);z-index:-1;}
.redd {
  background: red;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: red;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  margin-left: 12px;
  text-align: center;
  width: 1em;
}
.greenn {
  background: green;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: green;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  margin-left: 12px;
  text-align: center;
  width: 1em;
}
.orangee {
  background: orange;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: orange;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  margin-left: 12px;
  text-align: center;
  width: 1em;
}
.yelloww {
  background: yellow;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: yellow;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  margin-left: 12px;
  text-align: center;
  width: 1em;
}
.size-3rem {
    font-size: 3em;
}
.grey-color{
color: #666666;
}
.img-menu{
  width: 20px!important;
  height: 20px!important;
}
.gradient-bg{
background: rgb(51,63,97);
background: linear-gradient(90deg, rgba(51,63,97,1) 0%, rgba(0,68,144,1) 28%, rgba(81,144,204,1) 100%);
}
 @font-face {
  font-family: 'cunia';
  src: url('assets/fonts/Cunia.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Cunia.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Cunia.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Cunia.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Cunia.svg') format('svg'); /* Legacy iOS */
}
.cunia-family {
  font-family: "cunia", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.weight-900{
  font-weight: 900!important;
}
.weight-600{
    font-weight: 600!important;
  }
.weight-800{
    font-weight: 600!important;
  }
a {
    color: #000!important;
}
.mat-form-field {
    font-family: "fort", sans-serif!important;
    color: #000!important;
}
.color-blue{
  color: #23395b!important;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: "fort", sans-serif!important;
    font-weight: 500!important;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #5190cc;
}
.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #23395b;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #5190cc!important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #4db6fd!important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #23395b!important;
}
.pointer{
  cursor: pointer!important;
}