<section class="content">
    <div class="siprint row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6">
            <!-- <img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <span style="font-size: 30px; font-weight: bold;">Listado de ordenes radiologicas</span>
        </div>
    </div>
    <div class="container-fluid noprint">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Listado de ordenes radiologicas</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Listado de ordenes radiologicas</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Listado de ordenes radiologicas</strong>
                                            </h2>
                                        </li>
                                        <li class="dropdown m-l-20">
                                            <label for="search-input"><i
                                                    class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" class="browser-default search-field"
                                                (keyup)="filterDatatable($event)" aria-label="Search box" />
                                        </li>
                                    </ul>
                                    <ul class="header-buttons m-r-20">
                                        <!-- <li>
                                            <a mat-mini-fab color="primary"
                                                routerLink="/admin/administrador/radiologico/agregar-centro"
                                                class="mr-10">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </a>
                                        </li> -->
                                        <li>
                                            <button mat-mini-fab color="primary" (click)="getOrdenes('si')"
                                                class="mr-10">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </li>
                                        <!-- <li>
                                            <a mat-mini-fab color="primary" href="javascript:window.print('epltable')"
                                                type="submit" class="mr-10">
                                                <mat-icon class="col-white">print</mat-icon>
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                                <ngx-datatable #table class="material" [rows]="ordenes" [sortType]="'multi'"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                                    [limit]="10" [scrollbarH]="true" [scrollbarV]="false"
                                    [messages]="{emptyMessage: 'No hay ordenes radiologicas..'}">
                                    <ngx-datatable-column name="Zona" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/detalle-orden/{{row.idOrden}}">
                                                {{row.zona}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Especialidad" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/detalle-orden/{{row.idOrden}}">
                                                {{row.especialidad}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Forma de entrega" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/detalle-orden/{{row.idOrden}}">
                                                {{row.formaEntrga}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Observaciones" [width]="100">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            <td class="pointer" routerLink="/admin/administrador/radiologico/detalle-orden/{{row.idOrden}}">
                                                {{row.observaciones}}
                                            </td>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla a exportar oculta -->
    <!-- <div class="col-md-12 table-responsive siprint" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-white">
                <tr>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Nombre</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Teléfono</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Correo</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Dirección</h6>
                        </div>
                    </th>
                    <th>
                        <div class="col-md-12 text-left">
                            <h6>Observaciones</h6>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lab of centros">
                    <td>
                        <div>
                            <span>{{lab.nombre}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.telefono}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.correo}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.direccion}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{lab.observaciones}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
</section>