<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="ngxTableHeader">
        <ul class="header-buttons-left ml-0 mb-0">
          <li class="dropdown">
            <!-- <h2>
              <strong>Listado de Diagnósticos</strong>
            </h2> -->
          </li>
          <li class="dropdown m-l-20">
            <label for="search-input"><i class="material-icons search-icon">search</i></label>
            <input placeholder="Buscar" type="text" class="browser-default search-field"
              (keyup)="filterDatatable($event)" aria-label="Search box" />
          </li>
        </ul>
        <ul class="header-buttons m-r-20">
          <li>
            <div class="icon-button-demo">
              <button mat-mini-fab color="primary" (click)="modalNuevoDiagnostico(addRecord)">
                <mat-icon class="col-white">add</mat-icon>
              </button>
              <button mat-mini-fab color="primary" (click)="refreshTable()">
                <mat-icon class="col-white">refresh</mat-icon>
              </button>
              <button mat-mini-fab color="primary">
                <mat-icon class="col-white">print</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
        [scrollbarH]="true" [scrollbarV]="false" [messages]="{emptyMessage: 'No hay datos..'}">
        <ngx-datatable-column name="Fecha y Hora" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.fecha}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Clasificación" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.clasificacion}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Observaciones" [width]="200">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.observaciones}}
          </ng-template>
        </ngx-datatable-column>
        <!-- action buttons -->
        <ngx-datatable-column name="Acciones" sortable="false" [width]="200">
          <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <span>
              <button class="btn tblActnBtn h-auto" (click)="modalEditarDiagnostico(row, rowIndex, editRecord)">
                <i class="material-icons">mode_edit</i>
              </button>
              <button class="btn tblActnBtn h-auto" (click)="eliminarDiagnostico(row.idDiagnostico)">
                <i class="material-icons">delete_sweep</i>
              </button>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <!-- Add Record Modal Window -->
      <ng-template #addRecord let-modal>
        <div class="modal-header editRowModal">
          <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header">
              <div class="modal-about">
                <div class="font-weight-bold p-t-10 font-17">
                  Nuevo diagnostico
                </div>
              </div>
            </div>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">
          <form class="register-form" [formGroup]="register" (ngSubmit)="agregarDiagnostico(register)">
            <div class="input-field col s12 d-none">
              <input formControlName="idDiagnostico" class="form-control" type="hidden" />
            </div>
            <div class="row">
              <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="Fecha" required />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error
                    *ngIf="register.get('Fecha').hasError('required')">
                    La Fecha es requerida
                  </mat-error>
                </mat-form-field>
              </div> -->
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Clasificación por área</mat-label>
                  <mat-select formControlName="ClasificacionArea">
                    <mat-option [value]="'1'">
                      PREVENCIÓN
                    </mat-option>
                    <mat-option [value]="'2'">
                      OPERATORIO
                    </mat-option>
                    <mat-option [value]="'3'">
                      ENDODONCIA
                    </mat-option>
                    <mat-option [value]="'4'">
                      PERIODONCIA
                    </mat-option>
                    <mat-option [value]="'5'">
                      CIRUGÍA
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="register.get('ClasificacionArea').hasError('required')">
                    La clasificación por área es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Clasificación</mat-label>
                  <mat-select formControlName="Clasificacion">
                    <ng-container *ngFor="let clasf of clasificaciones">
                      <mat-option *ngIf="register.get('ClasificacionArea').value === clasf.pertenece "
                        [value]="clasf.idClasificacion">
                        {{clasf.nombre}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error *ngIf="register.get('Clasificacion').hasError('required')">
                    La Clasificación es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Observaciones</mat-label>
                  <input matInput formControlName="Observaciones" />
                  <mat-error *ngIf="register.get('Observaciones').hasError('required')">
                    La Observacion es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <button class="mr-3" [disabled]="!register.valid" mat-raised-button color="primary">
                  Guardar
                </button>
                <button type="button" mat-button data-dismiss="modal">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>

      <!-- Edit Record Modal Window -->
      <ng-template #editRecord let-modal>
        <div class="modal-header editRowModal">
          <h4 class="modal-title" id="modal-basic-title">
            <div class="modal-header">
              <div class="modal-about">
                <div class="font-weight-bold p-t-10 font-17">
                  Editar diagnostico
                </div>
              </div>
            </div>
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" (ngSubmit)="actualizarDiagnostico(editForm)">
            <div class="input-field col s12 d-none">
              <input formControlName="idDiagnostico" class="form-control" type="hidden" />
            </div>
            <div class="row">
              <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="Fecha" required />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error
                    *ngIf="register.get('Fecha').hasError('required')">
                    La Fecha es requerida
                  </mat-error>
                </mat-form-field>
              </div> -->
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Clasificación por área</mat-label>
                  <mat-select formControlName="ClasificacionArea">
                    <mat-option [value]="'1'">
                      PREVENCIÓN
                    </mat-option>
                    <mat-option [value]="'2'">
                      OPERATORIO
                    </mat-option>
                    <mat-option [value]="'3'">
                      ENDODONCIA
                    </mat-option>
                    <mat-option [value]="'4'">
                      PERIODONCIA
                    </mat-option>
                    <mat-option [value]="'5'">
                      CIRUGÍA
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="editForm.get('ClasificacionArea').hasError('required')">
                    La clasificación por área es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Clasificación</mat-label>
                  <mat-select formControlName="Clasificacion">
                    <ng-container *ngFor="let clasf of clasificaciones">
                      <mat-option *ngIf="editForm.get('ClasificacionArea').value === clasf.pertenece "
                        [value]="clasf.idClasificacion">
                        {{clasf.nombre}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error *ngIf="editForm.get('Clasificacion').hasError('required')">
                    La Clasificación es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Observaciones</mat-label>
                  <input matInput formControlName="Observaciones" />
                  <mat-error *ngIf="editForm.get('Observaciones').hasError('required')">
                    La Observacion es requerida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="modal-footer">
              <div class="button-demo">
                <button mat-raised-button type="submit" color="primary">
                  Actualizar
                </button>
                <button mat-button type="button" (click)="modal.close()">
                  Cancelar
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>