<section class="content colorCheck">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Usuario</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Administrador</a>
                        </li>
                        <li class="breadcrumb-item active">Nuevo Usuario</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Nuevo Usuario</strong></h2>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="roomForm" (ngSubmit)="comprobarhorario()">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Nombre o nombres</mat-label>
                                        <input matInput formControlName="nombreusuario" required id="nombreUSS"
                                            (keyup)="firstWordUpercase('nombreUSS')"
                                            onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32">
                                        <mat-error *ngFor="let validacion of mensajes_validacion.nombreusuario">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('nombreusuario').hasError(validacion.type) && (roomForm.get('nombreusuario').dirty || roomForm.get('nombreusuario').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Apellidos</mat-label>
                                        <input maxlength="20" matInput type="text" formControlName="apellidosusuario"
                                            id="apeS" (keyup)="firstWordUpercase('apeS')"
                                            onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32">
                                        <mat-error *ngFor="let validacion of mensajes_validacion.apellidosusuario">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('apellidosusuario').hasError(validacion.type) && (roomForm.get('apellidosusuario').dirty || roomForm.get('apellidosusuario').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Tipo de usuario</mat-label>
                                        <mat-select required formControlName="perfil">
                                            <mat-option value="Admin">Administrador General</mat-option>
                                            <mat-option value="Doctor">Doctor</mat-option>
                                            <mat-option value="Asistente">Asistente/secretaria</mat-option>
                                            <mat-option value="AdminSucursal">Administrador de Sucursal</mat-option>
                                            <mat-option value="Paciente">Paciente</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.perfil">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('perfil').hasError(validacion.type) && (roomForm.get('perfil').dirty || roomForm.get('perfil').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-select required formControlName="sucursal">
                                            <mat-option *ngFor="let val of sucursales" value="{{val.idSucursal}}">
                                                {{val.NombreSucursal}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.sucursal">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('sucursal').hasError(validacion.type) && (roomForm.get('sucursal').dirty || roomForm.get('sucursal').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                        <mat-label>Selecciona una sucursal</mat-label>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Composición del RFC para personas físicas y personas morales
                                        </mat-label>
                                        <input matInput formControlName="RFCUsuario" maxlength="13" id="RFCS"
                                            (ngModelChange)="toUpperCase('RFCS')">
                                        <mat-error *ngFor="let validacion of mensajes_validacion.RFCUsuario">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('RFCUsuario').hasError(validacion.type) && (roomForm.get('RFCUsuario').dirty || roomForm.get('RFCUsuario').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Dirección Completa </mat-label>
                                        <input matInput formControlName="direccion" ngx-google-places-autocomplete
                                            [options]='options' #placesRef="ngx-places"
                                            (onAddressChange)="handleAddressChange($event)">
                                        <mat-error *ngFor="let validacion of mensajes_validacion.direccion">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('direccion').hasError(validacion.type) && (roomForm.get('direccion').dirty || roomForm.get('direccion').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Celular</mat-label>
                                        <input type="text"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="10" matInput formControlName="telefonousuario" required>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.telefonousuario">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('telefonousuario').hasError(validacion.type) && (roomForm.get('telefonousuario').dirty || roomForm.get('telefonousuario').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Dirección de correo electrónico</mat-label>
                                        <input type="email" matInput formControlName="email" required>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.correocontacto">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('email').hasError(validacion.type) && (roomForm.get('email').dirty || roomForm.get('email').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Selecciona una fecha de nacimiento</mat-label>
                                        <input (dateChange)="CalculateAge()" matInput [matDatepicker]="picker"
                                            formControlName="fechanaci">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Edad</mat-label>
                                        <input type="text" maxlength="3"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57' matInput
                                            formControlName="edad">
                                        <mat-error *ngFor="let validacion of mensajes_validacion.edad">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('edad').hasError(validacion.type) && (roomForm.get('edad').dirty || roomForm.get('edad').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                    <mat-form-field class="example-full-width " appearance="outline">
                                        <mat-label>Grupo Sanguíneo</mat-label>
                                        <mat-select formControlName="gruposanguineo">
                                            <mat-option [value]="'A+'">
                                                A+
                                            </mat-option>
                                            <mat-option [value]="'A-'">
                                                A-
                                            </mat-option>
                                            <mat-option [value]="'B+'">
                                                B+
                                            </mat-option>
                                            <mat-option [value]="'B-'">
                                                B-
                                            </mat-option>
                                            <mat-option [value]="'O+'">
                                                O+
                                            </mat-option>
                                            <mat-option [value]="'O-'">
                                                O-
                                            </mat-option>
                                            <mat-option [value]="'AB+'">
                                                AB+
                                            </mat-option>
                                            <mat-option [value]="'AB-'">
                                                AB-
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.gruposanguineo">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('gruposanguineo').hasError(validacion.type) && (roomForm.get('gruposanguineo').dirty || roomForm.get('gruposanguineo').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Genero</mat-label>
                                        <mat-select required formControlName="genero" required>
                                            <mat-option value="Masculino">Masculino</mat-option>
                                            <mat-option value="Femenino">Femenino</mat-option>
                                            <mat-option value="Indistinto">Indistinto</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.genero">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('genero').hasError(validacion.type) && (roomForm.get('genero').dirty || roomForm.get('genero').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Estado Civil</mat-label>
                                        <mat-select formControlName="estadocivil">
                                            <mat-option value="Soltero/a">
                                                Soltero/a
                                            </mat-option>
                                            <mat-option value="Casado/a">
                                                Casado/a
                                            </mat-option>
                                            <mat-option value="Viudo/a">
                                                Viudo/a
                                            </mat-option>
                                            <mat-option value="Viudo/a">
                                                Divorciado/a
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.estadocivil">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('estadocivil').hasError(validacion.type) && (roomForm.get('estadocivil').dirty || roomForm.get('estadocivil').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Título</mat-label>
                                        <input type="text" matInput formControlName="titulo" id="tituS"
                                            (ngModelChange)="firstLetterUpperCase('tituS')">
                                        <mat-error *ngFor="let validacion of mensajes_validacion.titulo">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('titulo').hasError(validacion.type) && (roomForm.get('titulo').dirty || roomForm.get('titulo').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Especialidad</mat-label>
                                        <mat-select formControlName="especialidad" required multiple>
                                            <mat-option *ngFor="let esp of especialidades" value="{{esp}}">
                                                {{esp}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validacion of mensajes_validacion.especialidad">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('especialidad').hasError(validacion.type) && (roomForm.get('especialidad').dirty || roomForm.get('especialidad').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-3">
                                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                                        <mat-label>Ced- Profesional</mat-label>
                                        <input type="text" matInput formControlName="cedula"
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            maxlength="10">
                                        <mat-error *ngFor="let validacion of mensajes_validacion.cedula">
                                            <mat-error class="error-message"
                                                *ngIf="roomForm.get('cedula').hasError(validacion.type) && (roomForm.get('cedula').dirty || roomForm.get('cedula').touched)">
                                                {{validacion.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Imagen del usuario</mat-label>
                                        <ngx-mat-file-input formControlName="uploadImg" id="foto"
                                            (click)="onInputClick($event);"
                                            (change)="Subirimagen($event,$event.target.files, $event)" multiple
                                            accept="image/*">
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>face</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button type="button" mat-raised-button color="primary"
                                        (click)="abrirmodal(horarioUsuario)">
                                        Definir horario
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" [disabled]="!roomForm.valid " mat-raised-button
                                        color="primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal horario persona -->
                    <ng-template #horarioUsuario let-modal>
                        <div class="modal-header editRowModal">
                            <h4 class="modal-title" id="modal-basic-title">
                                <div class="modal-header ">
                                    <div class="modal-about">
                                        <div class="font-weight-bold p-t-10 font-17" style="color: #23395b;">
                                            Horario de usuario
                                        </div>
                                    </div>
                                </div>
                            </h4>
                            <button type="button" class="close" aria-label="Close" (click)="cerrarmodal(2)">
                                <span aria-hidden="true"><i class="material-icons">close</i></span>
                            </button>
                        </div>
                        <div class="row clearfix m-4">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width='16%' style="text-align: end!important;">Horario\Día</th>
                                                <th width='12%' style="cursor: pointer" (click)="checktruetodoeldia(1)">
                                                    Lunes</th>
                                                <th width='12%' style="cursor: pointer" (click)="checktruetodoeldia(2)">
                                                    Martes</th>
                                                <th width='12%' style="cursor: pointer" (click)="checktruetodoeldia(3)">
                                                    Miércoles</th>
                                                <th width='12%' style="cursor: pointer" (click)="checktruetodoeldia(4)">
                                                    Jueves</th>
                                                <th width='12%' style="cursor: pointer" (click)="checktruetodoeldia(5)">
                                                    Viernes</th>
                                                <th width='12%' style="cursor: pointer" (click)="checktruetodoeldia(6)">
                                                    Sábado</th>
                                                <th width='12%' style="cursor: pointer" (click)="checktruetodoeldia(7)">
                                                    Domingo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- renglon dia lunes -->
                                            <tr>
                                                <th scope="row">06:00 am - 07:00 am</th>
                                                <td [style]=tdlunes6a7>
                                                    <input type="checkbox" id="check1" [(ngModel)]="checklunes6a7"
                                                        (change)="cambiarcheck(1)" />
                                                    <label for="check1"></label>
                                                </td>
                                                <td [style]=tdmartes6a7>
                                                    <input type="checkbox" id="check2" [(ngModel)]="checkmartes6a7"
                                                        (change)="cambiarcheck(2)" />
                                                    <label for="check2"></label>
                                                </td>
                                                <td [style]=tdmiercoles6a7>
                                                    <input type="checkbox" id="check3" [(ngModel)]="checkmiercoles6a7"
                                                        (change)="cambiarcheck(3)" />
                                                    <label for="check3"></label>
                                                </td>
                                                <td [style]=tdjueves6a7>
                                                    <input type="checkbox" id="check4" [(ngModel)]="checkjueves6a7"
                                                        (change)="cambiarcheck(4)" />
                                                    <label for="check4"></label>
                                                </td>
                                                <td [style]=tdviernes6a7>
                                                    <input type="checkbox" id="check5" [(ngModel)]="checkviernes6a7"
                                                        (change)="cambiarcheck(5)" />
                                                    <label for="check5"></label>
                                                </td>
                                                <td [style]=tdsabado6a7>
                                                    <input type="checkbox" id="check6" [(ngModel)]="checksabado6a7"
                                                        (change)="cambiarcheck(6)" />
                                                    <label for="check6"></label>
                                                </td>
                                                <td [style]=tddomingo6a7>
                                                    <input type="checkbox" id="check7" [(ngModel)]="checkdomingo6a7"
                                                        (change)="cambiarcheck(7)" />
                                                    <label for="check7"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de  07:00 am - 08:00 am-->
                                            <tr>
                                                <th scope="row">07:00 am - 08:00 am</th>
                                                <td [style]=tdlunes7a8>
                                                    <input type="checkbox" id="check8" [(ngModel)]="checklunes7a8"
                                                        (change)="cambiarcheck(8)" />
                                                    <label for="check8"></label>
                                                </td>
                                                <td [style]=tdmartes7a8>
                                                    <input type="checkbox" id="check9" [(ngModel)]="checkmartes7a8"
                                                        (change)="cambiarcheck(9)" />
                                                    <label for="check9"></label>
                                                </td>
                                                <td [style]=tdmiercoles7a8>
                                                    <input type="checkbox" id="check10" [(ngModel)]="checkmiercoles7a8"
                                                        (change)="cambiarcheck(10)" />
                                                    <label for="check10"></label>
                                                </td>
                                                <td [style]=tdjueves7a8>
                                                    <input type="checkbox" id="check11" [(ngModel)]="checkjueves7a8"
                                                        (change)="cambiarcheck(11)" />
                                                    <label for="check11"></label>
                                                </td>
                                                <td [style]=tdviernes7a8>
                                                    <input type="checkbox" id="check12" [(ngModel)]="checkviernes7a8"
                                                        (change)="cambiarcheck(12)" />
                                                    <label for="check12"></label>
                                                </td>
                                                <td [style]=tdsabado7a8>
                                                    <input type="checkbox" id="check13" [(ngModel)]="checksabado7a8"
                                                        (change)="cambiarcheck(13)" />
                                                    <label for="check13"></label>
                                                </td>
                                                <td [style]=tddomingo7a8>
                                                    <input type="checkbox" id="check14" [(ngModel)]="checkdomingo7a8"
                                                        (change)="cambiarcheck(14)" />
                                                    <label for="check14"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 08:00 am - 09:00 am -->
                                            <tr>
                                                <th scope="row">08:00 am - 09:00 am</th>
                                                <td [style]=tdlunes8a9>
                                                    <input type="checkbox" id="check15" [(ngModel)]="checklunes8a9"
                                                        (change)="cambiarcheck(15)" />
                                                    <label for="check15"></label>
                                                </td>
                                                <td [style]=tdmartes8a9>
                                                    <input type="checkbox" id="check16" [(ngModel)]="checkmartes8a9"
                                                        (change)="cambiarcheck(16)" />
                                                    <label for="check16"></label>
                                                </td>
                                                <td [style]=tdmiercoles8a9>
                                                    <input type="checkbox" id="check17" [(ngModel)]="checkmiercoles8a9"
                                                        (change)="cambiarcheck(17)" />
                                                    <label for="check17"></label>
                                                </td>
                                                <td [style]=tdjueves8a9>
                                                    <input type="checkbox" id="check18" [(ngModel)]="checkjueves8a9"
                                                        (change)="cambiarcheck(18)" />
                                                    <label for="check18"></label>
                                                </td>
                                                <td [style]=tdviernes8a9>
                                                    <input type="checkbox" id="check19" [(ngModel)]="checkviernes8a9"
                                                        (change)="cambiarcheck(19)" />
                                                    <label for="check19"></label>
                                                </td>
                                                <td [style]=tdsabado8a9>
                                                    <input type="checkbox" id="check20" [(ngModel)]="checksabado8a9"
                                                        (change)="cambiarcheck(20)" />
                                                    <label for="check20"></label>
                                                </td>
                                                <td [style]=tddomingo8a9>
                                                    <input type="checkbox" id="check21" [(ngModel)]="checkdomingo8a9"
                                                        (change)="cambiarcheck(21)" />
                                                    <label for="check21"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 09:00 am - 10:00 am -->
                                            <tr>
                                                <th scope="row">09:00 am - 10:00 am</th>
                                                <td [style]=tdlunes9a10>
                                                    <input type="checkbox" id="check22" [(ngModel)]="checklunes9a10"
                                                        (change)="cambiarcheck(22)" />
                                                    <label for="check22"></label>
                                                </td>
                                                <td [style]=tdmartes9a10>
                                                    <input type="checkbox" id="check23" [(ngModel)]="checkmartes9a10"
                                                        (change)="cambiarcheck(23)" />
                                                    <label for="check23"></label>
                                                </td>
                                                <td [style]=tdmiercoles9a10>
                                                    <input type="checkbox" id="check24" [(ngModel)]="checkmiercoles9a10"
                                                        (change)="cambiarcheck(24)" />
                                                    <label for="check24"></label>
                                                </td>
                                                <td [style]=tdjueves9a10>
                                                    <input type="checkbox" id="check25" [(ngModel)]="checkjueves9a10"
                                                        (change)="cambiarcheck(25)" />
                                                    <label for="check25"></label>
                                                </td>
                                                <td [style]=tdviernes9a10>
                                                    <input type="checkbox" id="check26" [(ngModel)]="checkviernes9a10"
                                                        (change)="cambiarcheck(26)" />
                                                    <label for="check26"></label>
                                                </td>
                                                <td [style]=tdsabado9a10>
                                                    <input type="checkbox" id="check27" [(ngModel)]="checksabado9a10"
                                                        (change)="cambiarcheck(27)" />
                                                    <label for="check27"></label>
                                                </td>
                                                <td [style]=tddomingo9a10>
                                                    <input type="checkbox" id="check28" [(ngModel)]="checkdomingo9a10"
                                                        (change)="cambiarcheck(28)" />
                                                    <label for="check28"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 10:00 am - 11:00 am -->
                                            <tr>
                                                <th scope="row">10:00 am - 11:00 am</th>
                                                <td [style]=tdlunes10a11>
                                                    <input type="checkbox" id="check29" [(ngModel)]="checklunes10a11"
                                                        (change)="cambiarcheck(29)" />
                                                    <label for="check29"></label>
                                                </td>
                                                <td [style]=tdmartes10a11>
                                                    <input type="checkbox" id="check30" [(ngModel)]="checkmartes10a11"
                                                        (change)="cambiarcheck(30)" />
                                                    <label for="check30"></label>
                                                </td>
                                                <td [style]=tdmiercoles10a11>
                                                    <input type="checkbox" id="check31"
                                                        [(ngModel)]="checkmiercoles10a11" (change)="cambiarcheck(31)" />
                                                    <label for="check31"></label>
                                                </td>
                                                <td [style]=tdjueves10a11>
                                                    <input type="checkbox" id="check32" [(ngModel)]="checkjueves10a11"
                                                        (change)="cambiarcheck(32)" />
                                                    <label for="check32"></label>
                                                </td>
                                                <td [style]=tdviernes10a11>
                                                    <input type="checkbox" id="check33" [(ngModel)]="checkviernes10a11"
                                                        (change)="cambiarcheck(33)" />
                                                    <label for="check33"></label>
                                                </td>
                                                <td [style]=tdsabado10a11>
                                                    <input type="checkbox" id="check34" [(ngModel)]="checksabado10a11"
                                                        (change)="cambiarcheck(34)" />
                                                    <label for="check34"></label>
                                                </td>
                                                <td [style]=tddomingo10a11>
                                                    <input type="checkbox" id="check35" [(ngModel)]="checkdomingo10a11"
                                                        (change)="cambiarcheck(35)" />
                                                    <label for="check35"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 11:00 am - 12:00 pm -->
                                            <tr>
                                                <th scope="row">11:00 am - 12:00 pm</th>
                                                <td [style]=tdlunes11a12>
                                                    <input type="checkbox" id="check36" [(ngModel)]="checklunes11a12"
                                                        (change)="cambiarcheck(36)" />
                                                    <label for="check36"></label>
                                                </td>
                                                <td [style]=tdmartes11a12>
                                                    <input type="checkbox" id="check37" [(ngModel)]="checkmartes11a12"
                                                        (change)="cambiarcheck(37)" />
                                                    <label for="check37"></label>
                                                </td>
                                                <td [style]=tdmiercoles11a12>
                                                    <input type="checkbox" id="check38"
                                                        [(ngModel)]="checkmiercoles11a12" (change)="cambiarcheck(38)" />
                                                    <label for="check38"></label>
                                                </td>
                                                <td [style]=tdjueves11a12>
                                                    <input type="checkbox" id="check39" [(ngModel)]="checkjueves11a12"
                                                        (change)="cambiarcheck(39)" />
                                                    <label for="check39"></label>
                                                </td>
                                                <td [style]=tdviernes11a12>
                                                    <input type="checkbox" id="check40" [(ngModel)]="checkviernes11a12"
                                                        (change)="cambiarcheck(40)" />
                                                    <label for="check40"></label>
                                                </td>
                                                <td [style]=tdsabado11a12>
                                                    <input type="checkbox" id="check41" [(ngModel)]="checksabado11a12"
                                                        (change)="cambiarcheck(41)" />
                                                    <label for="check41"></label>
                                                </td>
                                                <td [style]=tddomingo11a12>
                                                    <input type="checkbox" id="check42" [(ngModel)]="checkdomingo11a12"
                                                        (change)="cambiarcheck(42)" />
                                                    <label for="check42"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 12:00 am - 01:00 pm -->
                                            <tr>
                                                <th scope="row">12:00 pm - 01:00 pm</th>
                                                <td [style]=tdlunes12a13>
                                                    <input type="checkbox" id="check43" [(ngModel)]="checklunes12a13"
                                                        (change)="cambiarcheck(43)" />
                                                    <label for="check43"></label>
                                                </td>
                                                <td [style]=tdmartes12a13>
                                                    <input type="checkbox" id="check44" [(ngModel)]="checkmartes12a13"
                                                        (change)="cambiarcheck(44)" />
                                                    <label for="check44"></label>
                                                </td>
                                                <td [style]=tdmiercoles12a13>
                                                    <input type="checkbox" id="check45"
                                                        [(ngModel)]="checkmiercoles12a13" (change)="cambiarcheck(45)" />
                                                    <label for="check45"></label>
                                                </td>
                                                <td [style]=tdjueves12a13>
                                                    <input type="checkbox" id="check46" [(ngModel)]="checkjueves12a13"
                                                        (change)="cambiarcheck(46)" />
                                                    <label for="check46"></label>
                                                </td>
                                                <td [style]=tdviernes12a13>
                                                    <input type="checkbox" id="check47" [(ngModel)]="checkviernes12a13"
                                                        (change)="cambiarcheck(47)" />
                                                    <label for="check47"></label>
                                                </td>
                                                <td [style]=tdsabado12a13>
                                                    <input type="checkbox" id="check48" [(ngModel)]="checksabado12a13"
                                                        (change)="cambiarcheck(48)" />
                                                    <label for="check48"></label>
                                                </td>
                                                <td [style]=tddomingo12a13>
                                                    <input type="checkbox" id="check49" [(ngModel)]="checkdomingo12a13"
                                                        (change)="cambiarcheck(49)" />
                                                    <label for="check49"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 01:00 pm - 02:00 pm -->
                                            <tr>
                                                <th scope="row">01:00 pm - 02:00 pm</th>
                                                <td [style]=tdlunes13a14>
                                                    <input type="checkbox" id="check50" [(ngModel)]="checklunes13a14"
                                                        (change)="cambiarcheck(50)" />
                                                    <label for="check50"></label>
                                                </td>
                                                <td [style]=tdmartes13a14>
                                                    <input type="checkbox" id="check51" [(ngModel)]="checkmartes13a14"
                                                        (change)="cambiarcheck(51)" />
                                                    <label for="check51"></label>
                                                </td>
                                                <td [style]=tdmiercoles13a14>
                                                    <input type="checkbox" id="check52"
                                                        [(ngModel)]="checkmiercoles13a14" (change)="cambiarcheck(52)" />
                                                    <label for="check52"></label>
                                                </td>
                                                <td [style]=tdjueves13a14>
                                                    <input type="checkbox" id="check53" [(ngModel)]="checkjueves13a14"
                                                        (change)="cambiarcheck(53)" />
                                                    <label for="check53"></label>
                                                </td>
                                                <td [style]=tdviernes13a14>
                                                    <input type="checkbox" id="check54" [(ngModel)]="checkviernes13a14"
                                                        (change)="cambiarcheck(54)" />
                                                    <label for="check54"></label>
                                                </td>
                                                <td [style]=tdsabado13a14>
                                                    <input type="checkbox" id="check55" [(ngModel)]="checksabado13a14"
                                                        (change)="cambiarcheck(55)" />
                                                    <label for="check55"></label>
                                                </td>
                                                <td [style]=tddomingo13a14>
                                                    <input type="checkbox" id="check56" [(ngModel)]="checkdomingo13a14"
                                                        (change)="cambiarcheck(56)" />
                                                    <label for="check56"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 02:00 pm - 03:00 pm -->
                                            <tr>
                                                <th scope="row">02:00 pm - 03:00 pm</th>
                                                <td [style]=tdlunes14a15>
                                                    <input type="checkbox" id="check57" [(ngModel)]="checklunes14a15"
                                                        (change)="cambiarcheck(57)" />
                                                    <label for="check57"></label>
                                                </td>
                                                <td [style]=tdmartes14a15>
                                                    <input type="checkbox" id="check58" [(ngModel)]="checkmartes14a15"
                                                        (change)="cambiarcheck(58)" />
                                                    <label for="check58"></label>
                                                </td>
                                                <td [style]=tdmiercoles14a15>
                                                    <input type="checkbox" id="check59"
                                                        [(ngModel)]="checkmiercoles14a15" (change)="cambiarcheck(59)" />
                                                    <label for="check59"></label>
                                                </td>
                                                <td [style]=tdjueves14a15>
                                                    <input type="checkbox" id="check60" [(ngModel)]="checkjueves14a15"
                                                        (change)="cambiarcheck(60)" />
                                                    <label for="check60"></label>
                                                </td>
                                                <td [style]=tdviernes14a15>
                                                    <input type="checkbox" id="check61" [(ngModel)]="checkviernes14a15"
                                                        (change)="cambiarcheck(61)" />
                                                    <label for="check61"></label>
                                                </td>
                                                <td [style]=tdsabado14a15>
                                                    <input type="checkbox" id="check62" [(ngModel)]="checksabado14a15"
                                                        (change)="cambiarcheck(62)" />
                                                    <label for="check62"></label>
                                                </td>
                                                <td [style]=tddomingo14a15>
                                                    <input type="checkbox" id="check63" [(ngModel)]="checkdomingo14a15"
                                                        (change)="cambiarcheck(63)" />
                                                    <label for="check63"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 03:00 pm - 04:00 pm -->
                                            <tr>
                                                <th scope="row">03:00 pm - 04:00 pm</th>
                                                <td [style]=tdlunes15a16>
                                                    <input type="checkbox" id="check64" [(ngModel)]="checklunes15a16"
                                                        (change)="cambiarcheck(64)" />
                                                    <label for="check64"></label>
                                                </td>
                                                <td [style]=tdmartes15a16>
                                                    <input type="checkbox" id="check65" [(ngModel)]="checkmartes15a16"
                                                        (change)="cambiarcheck(65)" />
                                                    <label for="check65"></label>
                                                </td>
                                                <td [style]=tdmiercoles15a16>
                                                    <input type="checkbox" id="check66"
                                                        [(ngModel)]="checkmiercoles15a16" (change)="cambiarcheck(66)" />
                                                    <label for="check66"></label>
                                                </td>
                                                <td [style]=tdjueves15a16>
                                                    <input type="checkbox" id="check67" [(ngModel)]="checkjueves15a16"
                                                        (change)="cambiarcheck(67)" />
                                                    <label for="check67"></label>
                                                </td>
                                                <td [style]=tdviernes15a16>
                                                    <input type="checkbox" id="check68" [(ngModel)]="checkviernes15a16"
                                                        (change)="cambiarcheck(68)" />
                                                    <label for="check68"></label>
                                                </td>
                                                <td [style]=tdsabado15a16>
                                                    <input type="checkbox" id="check69" [(ngModel)]="checksabado15a16"
                                                        (change)="cambiarcheck(69)" />
                                                    <label for="check69"></label>
                                                </td>
                                                <td [style]=tddomingo15a16>
                                                    <input type="checkbox" id="check70" [(ngModel)]="checkdomingo15a16"
                                                        (change)="cambiarcheck(70)" />
                                                    <label for="check70"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 04:00 pm - 05:00 pm -->
                                            <tr>
                                                <th scope="row">04:00 pm - 05:00 pm</th>
                                                <td [style]=tdlunes16a17>
                                                    <input type="checkbox" id="check71" [(ngModel)]="checklunes16a17"
                                                        (change)="cambiarcheck(71)" />
                                                    <label for="check71"></label>
                                                </td>
                                                <td [style]=tdmartes16a17>
                                                    <input type="checkbox" id="check72" [(ngModel)]="checkmartes16a17"
                                                        (change)="cambiarcheck(72)" />
                                                    <label for="check72"></label>
                                                </td>
                                                <td [style]=tdmiercoles16a17>
                                                    <input type="checkbox" id="check73"
                                                        [(ngModel)]="checkmiercoles16a17" (change)="cambiarcheck(73)" />
                                                    <label for="check73"></label>
                                                </td>
                                                <td [style]=tdjueves16a17>
                                                    <input type="checkbox" id="check74" [(ngModel)]="checkjueves16a17"
                                                        (change)="cambiarcheck(74)" />
                                                    <label for="check74"></label>
                                                </td>
                                                <td [style]=tdviernes16a17>
                                                    <input type="checkbox" id="check75" [(ngModel)]="checkviernes16a17"
                                                        (change)="cambiarcheck(75)" />
                                                    <label for="check75"></label>
                                                </td>
                                                <td [style]=tdsabado16a17>
                                                    <input type="checkbox" id="check76" [(ngModel)]="checksabado16a17"
                                                        (change)="cambiarcheck(76)" />
                                                    <label for="check76"></label>
                                                </td>
                                                <td [style]=tddomingo16a17>
                                                    <input type="checkbox" id="check77" [(ngModel)]="checkdomingo16a17"
                                                        (change)="cambiarcheck(77)" />
                                                    <label for="check77"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 05:00 pm - 06:00 pm -->
                                            <tr>
                                                <th scope="row">05:00 pm - 06:00 pm</th>
                                                <td [style]=tdlunes17a18>
                                                    <input type="checkbox" id="check78" [(ngModel)]="checklunes17a18"
                                                        (change)="cambiarcheck(78)" />
                                                    <label for="check78"></label>
                                                </td>
                                                <td [style]=tdmartes17a18>
                                                    <input type="checkbox" id="check79" [(ngModel)]="checkmartes17a18"
                                                        (change)="cambiarcheck(79)" />
                                                    <label for="check79"></label>
                                                </td>
                                                <td [style]=tdmiercoles17a18>
                                                    <input type="checkbox" id="check80"
                                                        [(ngModel)]="checkmiercoles17a18" (change)="cambiarcheck(80)" />
                                                    <label for="check80"></label>
                                                </td>
                                                <td [style]=tdjueves17a18>
                                                    <input type="checkbox" id="check81" [(ngModel)]="checkjueves17a18"
                                                        (change)="cambiarcheck(81)" />
                                                    <label for="check81"></label>
                                                </td>
                                                <td [style]=tdviernes17a18>
                                                    <input type="checkbox" id="check82" [(ngModel)]="checkviernes17a18"
                                                        (change)="cambiarcheck(82)" />
                                                    <label for="check82"></label>
                                                </td>
                                                <td [style]=tdsabado17a18>
                                                    <input type="checkbox" id="check83" [(ngModel)]="checksabado17a18"
                                                        (change)="cambiarcheck(83)" />
                                                    <label for="check83"></label>
                                                </td>
                                                <td [style]=tddomingo17a18>
                                                    <input type="checkbox" id="check84" [(ngModel)]="checkdomingo17a18"
                                                        (change)="cambiarcheck(84)" />
                                                    <label for="check84"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 06:00 pm - 07:00 pm -->
                                            <tr>
                                                <th scope="row">06:00 pm - 07:00 pm</th>
                                                <td [style]=tdlunes18a19>
                                                    <input type="checkbox" id="check85" [(ngModel)]="checklunes18a19"
                                                        (change)="cambiarcheck(85)" />
                                                    <label for="check85"></label>
                                                </td>
                                                <td [style]=tdmartes18a19>
                                                    <input type="checkbox" id="check86" [(ngModel)]="checkmartes18a19"
                                                        (change)="cambiarcheck(86)" />
                                                    <label for="check86"></label>
                                                </td>
                                                <td [style]=tdmiercoles18a19>
                                                    <input type="checkbox" id="check87"
                                                        [(ngModel)]="checkmiercoles18a19" (change)="cambiarcheck(87)" />
                                                    <label for="check87"></label>
                                                </td>
                                                <td [style]=tdjueves18a19>
                                                    <input type="checkbox" id="check88" [(ngModel)]="checkjueves18a19"
                                                        (change)="cambiarcheck(88)" />
                                                    <label for="check88"></label>
                                                </td>
                                                <td [style]=tdviernes18a19>
                                                    <input type="checkbox" id="check89" [(ngModel)]="checkviernes18a19"
                                                        (change)="cambiarcheck(89)" />
                                                    <label for="check89"></label>
                                                </td>
                                                <td [style]=tdsabado18a19>
                                                    <input type="checkbox" id="check90" [(ngModel)]="checksabado18a19"
                                                        (change)="cambiarcheck(90)" />
                                                    <label for="check90"></label>
                                                </td>
                                                <td [style]=tddomingo18a19>
                                                    <input type="checkbox" id="check91" [(ngModel)]="checkdomingo18a19"
                                                        (change)="cambiarcheck(91)" />
                                                    <label for="check91"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 07:00 pm - 08:00 pm -->
                                            <tr>
                                                <th scope="row">07:00 pm - 08:00 pm</th>
                                                <td [style]=tdlunes19a20>
                                                    <input type="checkbox" id="check92" [(ngModel)]="checklunes19a20"
                                                        (change)="cambiarcheck(92)" />
                                                    <label for="check92"></label>
                                                </td>
                                                <td [style]=tdmartes19a20>
                                                    <input type="checkbox" id="check93" [(ngModel)]="checkmartes19a20"
                                                        (change)="cambiarcheck(93)" />
                                                    <label for="check93"></label>
                                                </td>
                                                <td [style]=tdmiercoles19a20>
                                                    <input type="checkbox" id="check94"
                                                        [(ngModel)]="checkmiercoles19a20" (change)="cambiarcheck(94)" />
                                                    <label for="check94"></label>
                                                </td>
                                                <td [style]=tdjueves19a20>
                                                    <input type="checkbox" id="check95" [(ngModel)]="checkjueves19a20"
                                                        (change)="cambiarcheck(95)" />
                                                    <label for="check95"></label>
                                                </td>
                                                <td [style]=tdviernes19a20>
                                                    <input type="checkbox" id="check96" [(ngModel)]="checkviernes19a20"
                                                        (change)="cambiarcheck(96)" />
                                                    <label for="check96"></label>
                                                </td>
                                                <td [style]=tdsabado19a20>
                                                    <input type="checkbox" id="check97" [(ngModel)]="checksabado19a20"
                                                        (change)="cambiarcheck(97)" />
                                                    <label for="check97"></label>
                                                </td>
                                                <td [style]=tddomingo19a20>
                                                    <input type="checkbox" id="check98" [(ngModel)]="checkdomingo19a20"
                                                        (change)="cambiarcheck(98)" />
                                                    <label for="check98"></label>
                                                </td>
                                            </tr>
                                            <!-- renglon de 08:00 pm - 09:00 pm -->
                                            <tr>
                                                <th scope="row">08:00 pm - 09:00 pm</th>
                                                <td [style]=tdlunes20a21>
                                                    <input type="checkbox" id="check99" [(ngModel)]="checklunes20a21"
                                                        (change)="cambiarcheck(99)" />
                                                    <label for="check99"></label>
                                                </td>
                                                <td [style]=tdmartes20a21>
                                                    <input type="checkbox" id="check100" [(ngModel)]="checkmartes20a21"
                                                        (change)="cambiarcheck(100)" />
                                                    <label for="check100"></label>
                                                </td>
                                                <td [style]=tdmiercoles20a21>
                                                    <input type="checkbox" id="check101"
                                                        [(ngModel)]="checkmiercoles20a21"
                                                        (change)="cambiarcheck(101)" />
                                                    <label for="check101"></label>
                                                </td>
                                                <td [style]=tdjueves20a21>
                                                    <input type="checkbox" id="check102" [(ngModel)]="checkjueves20a21"
                                                        (change)="cambiarcheck(102)" />
                                                    <label for="check102"></label>
                                                </td>
                                                <td [style]=tdviernes20a21>
                                                    <input type="checkbox" id="check103" [(ngModel)]="checkviernes20a21"
                                                        (change)="cambiarcheck(103)" />
                                                    <label for="check103"></label>
                                                </td>
                                                <td [style]=tdsabado20a21>
                                                    <input type="checkbox" id="check104" [(ngModel)]="checksabado20a21"
                                                        (change)="cambiarcheck(104)" />
                                                    <label for="check104"></label>
                                                </td>
                                                <td [style]=tddomingo20a21>
                                                    <input type="checkbox" id="check105" [(ngModel)]="checkdomingo20a21"
                                                        (change)="cambiarcheck(105)" />
                                                    <label for="check105"></label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" style="text-align: end;">
                                <button type="button" mat-raised-button (click)="cerrarmodal(1)"
                                    style="background:#b3b3b3;margin-right:25px;color:white;">Cancelar</button>
                                <button type="button" mat-raised-button color="primary"
                                    (click)="cerrarmodal(2)">Aceptar</button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>