<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Campaña</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Campaña</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card">
          <div class="body">
            <div id="mail-nav">
              <ul class="" id="mail-folders">
                <li (click)="cambiarvista('Correo')">
                  <a href="javascript:;" title="Bandeja de salida">
                    <h5><strong>Bandeja de salida</strong></h5>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" title="Nuevo mensaje" routerLink="/admin/email/crear-email">Nuevo mensaje</a>
                </li>
              </ul>
              <h5 class="b-b p-10 weight-900">Etiquetas</h5>
              <ul class="" id="mail-labels">
                <li *ngFor="let categoria of categorias">
                  <a href="javascript:;" (click)="filtrarcorreoporcategoria(categoria)">
                    <i class="material-icons"
                      [ngStyle]="{'color': categoria.Color }">local_offer</i>{{categoria.NombreCategoria}}</a>
                </li>
              </ul>
              <h5 class="b-b p-10 weight-900 cambioColor" style="cursor:pointer;" (click)="cambiarvista('Categorias')">
                Categorías ({{categorias1?.length || "0"}})</h5>
              <ul class="" id="mail-labels">
              </ul>
              <h5 class="b-b p-10 weight-900 cambioColor" style="cursor:pointer;" (click)="cambiarvista('Plantillas')">
                Plantillas ({{plantillasS?.length || "0"}})</h5>
              <ul class="" id="mail-labels">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="card" *ngIf="ver === 'Correo'">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="ngxTableHeader">
                    <ul class="header-buttons-left ml-0 mb-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Bandeja de salida</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar" type="text" class="browser-default search-field"
                          (keyup)='filterDatatableBuzon($event,0)' aria-label="Search box">
                      </li>
                    </ul>
                    <ul class="header-buttons" *ngIf="nombrefiltrocategoria !== ''">
                      <li class="dropdown">
                        <ul class="" id="mail-labels">
                          <li>
                            <strong style="font-size: 20px;">Filtro:&nbsp;&nbsp;&nbsp;</strong>
                            <i class="material-icons"
                              [ngStyle]="{'color': colorfiltrocategoria}">local_offer</i><strong>{{nombrefiltrocategoria}}&nbsp;&nbsp;&nbsp;</strong>
                            <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="obtenCorreos()">
                              <mat-icon title="Eliminar filtro" class="col-white" style="margin-top: 3px;"> delete
                              </mat-icon>
                            </button>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <ngx-datatable #tablebuzon class="material" [rows]="correoSS" [scrollbarH]="false"
                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                    [limit]="10" [messages]="{emptyMessage: 'No hay correos.'}">

                    <ngx-datatable-column name="Destinatario(s)" [width]="200" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div style="position: relative;cursor: pointer;"
                          (click)="cambiarvistadetalle1('Ver correo enviado',row)">
                          <h5 *ngIf="row.Nombre_Usuario_Correo.includes(',')">{{row.Nombre_Usuario_Correo.substring(0,
                            row.Nombre_Usuario_Correo.indexOf(","))}}</h5>
                          <h5 *ngIf="row.Nombre_Usuario_Correo.indexOf(',') === -1">{{row.Nombre_Usuario_Correo}}</h5>
                          <div *ngIf="row.count !== '0'"
                            style="background:#ff944f;width:fit-content;height:fit-content;display:flex;align-items:center;justify-content:center;color:white;position:absolute;top:0rem;right:1rem;padding:3px;">
                            <h6 style="margin-bottom:0rem;">+{{row.count}}</h6>
                          </div>

                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Asunto/Mensaje" [width]="500" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td class="max-texts" (click)="cambiarvistadetalle1('Ver correo enviado',row)"
                          style="cursor: pointer;">
                          <span [ngStyle]="{'color': row.Color }"
                            class="badge shadow-style m-r-10">{{row.NombreCategoria}}</span>
                          <!-- <span><button mat-icon-button color="accent" class="btn-tbl-delete">
                                  <mat-icon title="Correo con archivos" class="col-white"> attach_file</mat-icon>
                                </button></span> -->
                          <span style="font-weight:600;">{{row.Asunto}} - </span><span
                            [innerHTML]="transformarreglo(row.Mensaje)"></span>
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha" [width]="100" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td class="max-texts" (click)="cambiarvistadetalle1('Ver correo enviado',row)"
                          style="cursor: pointer;">
                          {{row.FechaEnvio | date: 'd/MM/YYYY'}}
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <!-- action buttons -->
                    <ngx-datatable-column name="Acciones" [width]="100" [sortable]="false">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>
                          <button mat-icon-button color="accent" class="btn-tbl-delete"
                            (click)="EliminarMail(row.idCorreo)">
                            <mat-icon title="Correo con archivos" class="col-white"> delete</mat-icon>
                          </button>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" class="card" *ngIf="ver === 'Nuevo Mensaje'">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="1">
                      <div class="inbox-header">
                        Nuevo mensaje
                      </div>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="px-5">
              <div class="row form-group">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Selecciona una plantilla</mat-label>
                        <mat-select [(ngModel)]="plantillaSelect" (selectionChange)="obtePlan()">
                          <mat-option value="">
                            Sin plantilla
                          </mat-option>
                          <mat-option *ngFor="let item of plantillasS" value="{{item.idPlantillas}}">
                            {{item.Asunto}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Categoría{{plantillaSelect}}</mat-label>
                        <mat-select *ngIf="plantillaSelect === ''" [(ngModel)]="cate" required>
                          <mat-option *ngFor="let item of categorias" value="{{item.idCategoria}}">
                            {{item.NombreCategoria}}
                          </mat-option>
                        </mat-select>
                        <mat-select *ngIf="plantillaSelect !== ''" disabled [(ngModel)]="cate" required>
                          <mat-option *ngFor="let item of categorias" value="{{item.idCategoria}}">
                            {{item.NombreCategoria}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Para</mat-label>
                        <input matInput [(ngModel)]="destinatario" [readonly]="true" (click)="modalusuarios()" required>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Asunto</mat-label>
                        <input matInput [(ngModel)]="asunto" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="width:100%!important;">

              </div>
              <div class="ml-2 mb-4 text-end">
                <button type="button" (click)="AgregaMensaje()" mat-flat-button color="primary" class="msr-2"
                  [disabled]="!cate || !asunto || !mensaje || !destinatario">Enviar</button>
                <button type="button" mat-flat-button color="warn" (click)="cambiarvista('Correo')">Descartar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="ver === 'Categorias'">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="ngxTableHeader">
                    <ul class="header-buttons-left ml-0 mb-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Categorías</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar" type="text" class="browser-default search-field"
                          (keyup)='filterDatatableCategoria($event,0)' aria-label="Search box">
                      </li>
                    </ul>
                    <ul class="header-buttons m-r-20">
                      <li>
                        <button mat-mini-fab color="primary" class="mr-10" (click)="Nuevacategoria()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </li>
                      <li>
                        <button mat-mini-fab color="primary" (click)="categories();categories1()" class="mr-10">
                          <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <ngx-datatable #tablecategorias class="material" [rows]="categorias1" [columns]="columns"
                    [scrollbarH]="false" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" rowHeight="auto" [limit]="10">

                    <ngx-datatable-column name="Nombre de categoría" [width]="400" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td style="cursor: pointer;" (click)="modalCategorias(historialCategorias)">
                          {{row.NombreCategoria}}
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estatus de la categoría" [width]="300" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td *ngIf="row.Eliminado === '1'" style="cursor: pointer;"
                          (click)="modalCategorias(historialCategorias)">
                          Deshabilitado
                        </td>
                        <td *ngIf="row.Eliminado !== '1'" style="cursor: pointer;"
                          (click)="modalCategorias(historialCategorias)">
                          Habilitado
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fecha de creación" [width]="300" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td style="cursor: pointer;" (click)="modalCategorias(historialCategorias)">
                          {{row.FechaCreacion | date: 'd/MM/YYYY'}}
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <!-- action buttons -->
                    <ngx-datatable-column name="Acciones" [width]="100" [sortable]="false">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>
                          <button mat-icon-button color="accent" class="btn-tbl-edit">
                            <mat-icon title="Editar" class="col-white" (click)="Editarcategoria(row)">mode_edit
                            </mat-icon>
                          </button>
                          <button *ngIf="row.Eliminado !== '1'" mat-icon-button color="accent" class="btn-tbl-delete"
                            (click)="eliminarcategoria(row.idCategoria, 1, 'deshabilitar', 'Deshabilitar')">
                            <mat-icon title="Desactivar" class="col-white">visibility</mat-icon>
                          </button>
                          <button *ngIf="row.Eliminado === '1'" mat-icon-button color="accent" class="btn-tbl-delete"
                            (click)="eliminarcategoria(row.idCategoria, 0, 'habilitar', 'Habilitar')">
                            <mat-icon title="Activar" class="col-white">visibility_off</mat-icon>
                          </button>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="ver === 'Plantillas'">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="ngxTableHeader">
                    <ul class="header-buttons-left ml-0 mb-0">
                      <li class="dropdown">
                        <h2>
                          <strong>Plantillas de correo electrónico</strong>
                        </h2>
                      </li>
                      <li class="dropdown m-l-20">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Buscar" type="text" class="browser-default search-field"
                          (keyup)='filterDatatablePlantilla($event,0)' aria-label="Search box">
                      </li>
                    </ul>
                    <ul class="header-buttons m-r-20">
                      <li>
                        <button mat-mini-fab color="primary" class="mr-10"
                          (click)="cambiarvistaplantilla('Nueva plantilla', '0', '')">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </li>
                      <li>
                        <button mat-mini-fab color="primary" (click)="obtePlantillas()" class="mr-10">
                          <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <ngx-datatable #tablebuzon class="material" [rows]="plantillasS" [scrollbarH]="false"
                    [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                    [limit]="10">

                    <ngx-datatable-column name="Asunto/Mensaje" [width]="900" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <td class="max-texts" (click)="cambiarvistadetalle('Ver correo',row)" style="cursor: pointer;">
                          <span [ngStyle]="{'color': row.Color }"
                            class="badge shadow-style m-r-10">{{row.NombreCategoria}}</span>
                          <span><button mat-icon-button color="accent" class="btn-tbl-delete">
                              <mat-icon title="Correo con archivos" class="col-white"> attach_file</mat-icon>
                            </button></span>
                          <span style="font-weight:600;">{{row.Asunto}} - </span><span
                            [innerHTML]="transformarreglo(row.Mensaje)"></span>
                        </td>
                      </ng-template>
                    </ngx-datatable-column>
                    <!-- action buttons -->
                    <ngx-datatable-column name="Acciones" [width]="150" [sortable]="false">
                      <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <span>
                          <button mat-icon-button color="accent" class="btn-tbl-edit"
                            (click)="cambiarvistaplantilla('Nueva plantilla', '1',row)">
                            <mat-icon title="Editar" class="col-white">mode_edit</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" class="btn-tbl-delete">
                            <mat-icon title="Eliminar" class="col-white" (click)="EliminarP(row.idPlantillas)"> delete
                            </mat-icon>
                          </button>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" class="card" *ngIf="ver === 'Nueva plantilla'">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="1">
                      <div class="font-weight-bold p-t-10 font-17" *ngIf="valorplantilla === '0'">
                        Nueva plantilla</div>
                      <div class="font-weight-bold p-t-10 font-17" *ngIf="valorplantilla === '1'">
                        Editar plantilla</div>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="px-5">
              <div class="row form-group">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Categoría</mat-label>
                        <mat-select [(ngModel)]="cate1" required>
                          <mat-option *ngFor="let item of categorias" value="{{item.idCategoria}}">
                            {{item.NombreCategoria}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!cate1">
                          La categoría es requerida
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Asunto</mat-label>
                        <input matInput [(ngModel)]="asunto1" required id="asunto"
                          (ngModelChange)="firstLetterUpperCase('asunto')">
                        <mat-error *ngIf="!asunto1">
                          La categoría es requerida
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="width:100%!important;">
                <label for="exampleInputPassword1" class="label-correo">Mensaje <span
                    style="color:red;">*</span></label>
                <!-- <ckeditor [(ngModel)]="mensaje1" [editor]="Editor1" data="
                  Nueva plantilla">
                </ckeditor> -->
              </div>
              <div class="ml-2 mb-4 text-end">
                <button type="button" *ngIf="valorplantilla === '0'" (click)="agregarplantilla()" mat-flat-button
                  color="primary" class="msr-2" [disabled]="!cate1 || !asunto1 || !mensaje1">Guardar</button>
                <button type="button" *ngIf="valorplantilla === '1'" (click)="agregarplantilla()" mat-flat-button
                  color="primary" class="msr-2" [disabled]="!cate1 || !asunto1 || !mensaje1">Modificar</button>
                <button type="button" mat-flat-button color="warn"
                  (click)="cambiarvista('Plantillas')">Descartar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card" class="card" *ngIf="ver === 'Ver correo'">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="1">
                      <div class="font-weight-bold p-t-10 font-17">
                        Detalle de correo</div>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="px-5">
              <div class="row form-group">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Categoría</mat-label>
                        <mat-select [(ngModel)]="cate2" required [disabled]="true">
                          <mat-option *ngFor="let item of categorias" value="{{item.idCategoria}}">
                            {{item.NombreCategoria}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!cate1">
                          La categoría es requerida
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Asunto</mat-label>
                        <input matInput [(ngModel)]="asunto2" required id="asunto"
                          (ngModelChange)="firstLetterUpperCase('asunto')" [readonly]="true">
                        <mat-error *ngIf="!asunto1">
                          La categoría es requerida
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="width:100%!important;">
                <label for="exampleInputPassword1" class="label-correo">Mensaje <span
                    style="color:red;">*</span></label>
                <div class="row p-4">
                  <!-- <ckeditor [(ngModel)]="mensaje2" [config]="config2" [editor]="Editor2" [disabled]="true"></ckeditor> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" class="card" *ngIf="ver === 'Ver correo enviado'">
          <div class="boxs mail_listing">
            <div class="inbox-center table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="1">
                      <div class="font-weight-bold p-t-10 font-17">
                        Detalle de correo</div>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div *ngFor="let item of correoDetalle">
              <div class="p-4 linea-azul">
                <h2 style="font-weight:bolder;">{{item.Asunto}}</h2>
              </div>
              <div class="row p-4">
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                  <img *ngIf="imagenclinica === ''" src="assets/images/logo.png" class="circle-img">
                  <img *ngIf="imagenclinica !== ''" src="{{imagenclinica}}" class="circle-img">
                </div>
                <div class="col-md-9 pt-3" style="position: relative;">
                  <h5 style="font-weight:bolder;">Nombre <span style="font-weight: 100;">
                      <label *ngIf="item.Destinatarios.includes(',')">
                        <{{ item.Destinatarios.substring(0, item.Destinatarios.indexOf(","))}}>
                      </label>
                      <label *ngIf="!item.Destinatarios.includes(',')">
                        <{{ item.Destinatarios}}>
                      </label>
                    </span>
                  </h5>
                  <div *ngIf="item.count !== '0'"
                    style="background:#C5A16D;width:fit-content;height:fit-content;display:flex;align-items:center;justify-content:center;color:white;position:absolute;top:0rem;right:1rem;padding:3px;">
                    <h6 style="margin-bottom:0rem;">+{{item.count}}</h6>
                  </div>
                  <h6 class="dropdown-toggle" style="color:#707070;cursor:pointer;" (click)="detallescorreo()">Para mi
                  </h6>
                  <div *ngIf="detalles"
                    style="width: max-content;position: absolute;top:3.3rem;left: 5rem;background: white;border: 1px solid;padding: 15px;z-index:2;">
                    <span><strong>De:</strong> AHAVA < contacto@ahava.com></span><br>
                    <span><strong>Para:</strong> {{item.Destinatarios}}</span><br>
                    <span><strong>Fecha:</strong> {{item.FechaEnvio}}</span><br>
                    <span><strong>Asunto:</strong> {{item.Asunto}}</span><br>
                    <span><strong>Enviado por:</strong> contacto@ahava.com</span><br>
                    <span><strong>Seguridad:</strong> Cifrado estándar (TLS)</span><br>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                  <h6 style="color:#707070;font-size: 15px;">{{item.FechaEnvio | date: 'MM/d/YY HH:MM a'}}</h6>
                </div>
              </div>
              <div class="row p-4">
                <!-- <ckeditor [data]="item.Mensaje" [config]="config2" [editor]="Editor2" [disabled]="true"></ckeditor> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Record Modal Window -->
  <ng-template #nuevacategoria let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="modal-header ">
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17" *ngIf="valorcategoria === '0'">
              Nueva categoría</div>
            <div class="font-weight-bold p-t-10 font-17" *ngIf="valorcategoria === '1'">
              Editar categoría</div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarmodal(formcategoria)">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="register-form" [formGroup]="formcategoria" (ngSubmit)="Agregacategoria(formcategoria)">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Nombre de Categoría</mat-label>
              <input matInput id="nombrecategoria" formControlName="nombrecategoria"
                (keyup)="FirstUppercaseLetter('nombrecategoria')" required>
              <mat-error *ngIf="formcategoria.get('nombrecategoria').hasError('required')">
                El nombre de la categoría es requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Color de Categoría</mat-label>
              <input matInput id="nombrecategoria" formControlName="colorcategoria" required
                [style.background]="colorcategoria1"
                [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
                [(colorPicker)]="color" [readonly]="true" (colorPickerChange)="colorcategoria($event)"
                style="color: white;font-size: 25px!important;cursor: pointer;">
              <mat-error *ngIf="formcategoria.get('colorcategoria').hasError('required')">
                El color de la categoría es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="valorcategoria === '0'">
          <div class="d-flex justify-content-around lbl-alert mb-3 mt-3">
            <div>
              <button mat-raised-button class="mr-3" color="primary" type="button" [disabled]="!formcategoria.valid"
                (click)="Agregacategoria(formcategoria)">Guardar Categoría</button>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="valorcategoria === '1'">
          <div class="d-flex justify-content-around lbl-alert mb-3 mt-3">
            <div>
              <button mat-raised-button class="mr-3" color="primary" type="button" [disabled]="!formcategoria.valid"
                *ngIf="valorcategoria === '1'" (click)="Agregacategoria(formcategoria)">Modificar categoría</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #exampleModalCenter2 let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="modal-header ">
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
            </div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarmodaldestinatarios()">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="p-5 ">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
          <h5 style="font-weight:bolder;color:black;">Agregar destinatarios</h5>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="border-bottom: 2px solid black;">
        </div>
      </div>
      <div class="row mt-2">
        <div *ngFor="let cliente of clientes; let i=index" class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <mat-checkbox [checked]='comprobarsiestanenarreglo(i)'
            (change)="valorcheck($event,cliente.Correo,cliente.Nombre + ' ' +cliente.Apellido,i)">
            {{cliente.Correo}}
          </mat-checkbox>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" type="submit" class="btn btn-login float-left botS"
          style="background: black;color: white;" (click)="guardarclientes()">
          <h5 style="font-weight: bolder;margin-bottom:0px!important;">Aceptar</h5>
        </button>
      </div>
    </div>
  </ng-template>


  <ng-template #historialCategorias let-modal>
    <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
        <div class="modal-header ">
          <div class="modal-about">
            <div class="font-weight-bold p-t-10 font-17">
              Historial de categorias
            </div>
          </div>
        </div>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrarmodaldestinatarios()">
        <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
    </div>
    <div class="p-5 ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</section>