  ::ng-deep .ck-editor__editable {
    min-height: 300px !important;
  }

  .linea-azul{
    border-bottom:1px solid #c9e3ef;
  }

  .circle-img{
    width:50px;height:50px;border-radius:50%;object-fit: contain;
  }

  @media screen and (device-width: 1920px) and (min-device-height: 1080px){
    .circle-img {width:70px;height:70px;border-radius:50%;}
    .linea-azul {border-bottom:3px solid #c9e3ef;}
  }
  @media screen and (device-width: 2160px) {
    .circle-img {width:70px;height:70px;border-radius:50%;}
    .linea-azul {border-bottom:3px solid #c9e3ef;}
  }
  @media screen and (device-width: 2560px) and (min-device-height: 1080px){
    .circle-img {width:70px;height:70px;border-radius:50%;}
    .linea-azul {border-bottom:3px solid #c9e3ef;}
  }
  @media screen and (device-width: 2560px) and (min-device-height: 1440px){
    .circle-img {width:70px;height:70px;border-radius:50%;}
    .linea-azul {border-bottom:3px solid #c9e3ef;}
  }
  @media screen and (device-width: 2736px) {
    .circle-img {width:70px;height:70px;border-radius:50%;}
    .linea-azul {border-bottom:3px solid #c9e3ef;}
  }
  @media (device-width: 3440px) and (min-device-height: 1080px) {
    .circle-img {width:70px;height:70px;border-radius:50%;}
    .linea-azul {border-bottom:3px solid #c9e3ef;}
  }
  @media screen and (device-width: 3840px) and (min-device-height: 1080px){
    .circle-img {width:70px;height:70px;border-radius:50%;}
    .linea-azul {border-bottom:3px solid #c9e3ef;}
  }
