<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Imagenes</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a>Pacientes</a>
                        </li>
                        <li class="breadcrumb-item active">Imagenes</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ngxTableHeader">
                                    <ul class="header-buttons-left ml-0 mb-0">
                                        <li class="dropdown">
                                            <h2>
                                                <strong>Imágenes</strong>
                                            </h2>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-4 my-4" style="position: relative;" *ngFor="let img of arregloimagenes; let i = index">
                                <img style="max-width:100%;" src="https://projectsbyanimatiomx.com/phps/odonto/fotospaciente/{{img.Nombre}}"
                                    (click)="showLightbox(i)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
