<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/pages/bg-01.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg titulo">Bienvenido a Sistema Odonto</h2>
            <p class="auth-signup-text xl-font text-muted">Información de tu cita</p>
            <form *ngIf="infocita" class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Paciente</mat-label>
                            <input matInput type="text" formControlName="paciente" readonly="true"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Doctor</mat-label>
                            <input matInput type="text" formControlName="doctor" readonly="true"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Fecha de la cita</mat-label>
                            <input  matInput [matDatepicker]="picker" formControlName="fecha" readonly="true">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Hora de la cita</mat-label>
                            <input matInput formControlName="hora" type="time" readonly="true">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Motivo de la cita</mat-label>
                            <input matInput type="text" formControlName="motivo" readonly="true"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Servicio de la cita</mat-label>
                            <input matInput type="text" formControlName="servicio" readonly="true"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="authForm.get('observaciones').value">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <input matInput type="text" formControlName="observaciones" readonly="true"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-flex justify-content-around lbl-alert mb-3 mt-3">
                    <div>
                      <button mat-raised-button class="xl-button" color="accent" type="button" (click)="estatuscita('Hora Cancelada')">Cancelar Cita</button>
                    </div>
                    <div>
                      <button mat-raised-button class="xl-button" color="primary" type="button"(click)="estatuscita('Confirmado')">Confirmar Cita</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>