<section class="content">
  <div class="siprint row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6"><img style="width: 15%; height: 10%;"
        src="{{imagenclinicaPrint}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
        style="font-size: 30px; font-weight: bold;">Listado de pacientes</span></div>
  </div>
  <div class="container-fluid noprint">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de Pacientes</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Pacientes</a>
            </li>
            <li class="breadcrumb-item active">Listado</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader">
                  <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                      <h2>
                        <strong>Listado de Pacientes</strong>
                      </h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input (keypress)="keyPress($event)" placeholder="Buscar" type="text"
                        class="browser-default search-field" (keyup)='filterDatatable($event)' aria-label="Search box">
                    </li>
                  </ul>
                  <ul class="header-buttons">
                    <li>
                      <button mat-mini-fab color="primary" [routerLink]="['/admin/paciente/nuevo-paciente']"
                        class="mr-10">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="obtenerlistapacientes('si')" class="mr-10">
                        <mat-icon class="col-white">refresh</mat-icon>
                      </button>
                    </li>
                    <li>
                      <button mat-mini-fab color="primary" (click)="exportToExcel()" class="mr-10">
                        <mat-icon class="col-white">call_made</mat-icon>
                      </button>
                    </li>
                    <li>
                      <a mat-mini-fab color="primary" href="javascript:window.print('epltable')" type="submit"
                        class="mr-10">
                        <mat-icon class="col-white">print</mat-icon>
                      </a>
                    </li>
                  </ul>
                </div>
                <ngx-datatable #table class="material" [rows]="data" [scrollbarH]="true" [columns]="columns"
                  [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                  [limit]="10" [messages]="{emptyMessage: 'No hay pacientes..'}">
                  <!-- user image -->
                  <ngx-datatable-column name="Img" prop="Img" [width]="40" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <td class="table-img padding-0">
                        <img width="40" src="https://projectsbyanimatiomx.com/phps/odonto/imagenes/{{row.Imagen  || 'user_default.png'}}"
                          class="img__table" />
                      </td>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nombres" [width]="120" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Nombre}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Apellidos" [width]="120" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Apellido}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Celular" [width]="100" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Celular}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Genero" [width]="80" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Genero}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Doctor" [width]="120" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.NombreUsuario}} {{row.Apellidos}}
                    </ng-template>
                  </ngx-datatable-column>
                  <!-- action buttons -->
                  <ngx-datatable-column name="Actions" sortable="false" [width]="150" [sortable]="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>
                        <mat-icon title="Datos personales" class="grey-color mr-10 pointer"
                          (click)="iravista(row.idPacientes,'0')">assignment_ind</mat-icon>
                        <mat-icon title="Historial clinico" class="grey-color mr-10 pointer"
                          (click)="iravista(row.idPacientes,'1')">history</mat-icon>
                        <mat-icon title="Plan de tratamientos" class="grey-color mr-10 pointer"
                          (click)="iravista(row.idPacientes,'5')">laptop_chromebook</mat-icon>
                        <mat-icon title="Documentos" class="grey-color mr-10 pointer"
                          (click)="iravista(row.idPacientes,'8')">query_builder</mat-icon>
                        <mat-icon title="Presupuestos" class="grey-color mr-10 pointer"
                          (click)="iravista(row.idPacientes,'3')">monetization_on</mat-icon>
                        <mat-icon title="Desactivar" class="grey-color mr-10 pointer"
                          (click)="cambiarestatuspaciente(row)">visibility</mat-icon>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabla a exportar oculta -->
  <div class="col-md-12 siprint table-responsive" #epltable>
    <div style="padding-bottom: 10px;padding-top: 10px;">
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead class="thead-white">
        <tr>
          <th>
            <div class="col-md-12 text-left">
              <h6>Nombres</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6>Apellidos</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6 class="ml-3">Celular</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6 class="ml-12">Genero</h6>
            </div>
          </th>
          <th>
            <div class="col-md-12 text-left">
              <h6 class="ml-12">Doctor</h6>
            </div>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data">
          <td>
            <div>
              <span>{{user.Nombre}}</span>
            </div>
          </td>
          <td>
            <span>{{user.Apellido}}</span>
          </td>
          <td>
            <span>{{user.Celular}}</span>
          </td>
          <td>
            <span>{{user.Genero}}</span>
          </td>
          <td>
            <span>{{user.NombreUsuario}} {{user.Apellidos}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>