<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Listado de Documentos</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Administrador</a>
            </li>
            <li class="breadcrumb-item active">Listado</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader">
                  <ul class="header-buttons-left ml-0 mb-0">
                    <li class="dropdown">
                      <h2>
                        <strong>Listado de Documentos</strong>
                      </h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar" type="text" class="browser-default search-field"
                        (keyup)='filterDatatable($event)' aria-label="Search box">
                    </li>
                  </ul>
                  <ul class="header-buttons m-r-20">
                    <li>
                      <div class="icon-button-demo">
                        <input style="display: none;" type="file" (change)="cargarArchivo($event)" #file>
                        <button mat-mini-fab color="primary" (click)="file.click()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                        <button mat-mini-fab color="primary" (click)="getDocumentos('si')">
                          <mat-icon class="col-white">refresh</mat-icon>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
                <ngx-datatable #table class="material" [rows]="documentos" [sortType]="'multi'" [columnMode]="'force'"
                  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="10">
                  <!-- user image -->
                  <ngx-datatable-column name="img" sortable="false" prop="img" [width]="70">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <td class="table-img padding-0"
                        *ngIf="row.Documento.includes('.jpg') || row.Documento.includes('.png')">
                        <span class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-image"></i></span>
                      </td>
                      <td class="table-img padding-0" *ngIf="row.Documento.includes('.docx')">
                        <span class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-word"></i></span>
                      </td>
                      <td class="table-img padding-0" *ngIf="row.Documento.includes('.ppt')">
                        <span style="color: orange !important;"
                          class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-powerpoint"></i></span>
                      </td>
                      <td class="table-img padding-0" *ngIf="row.Documento.includes('.pdf')">
                        <span style="color: red !important;"
                          class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-pdf"></i></span>
                      </td>
                      <td class="table-img padding-0" *ngIf="row.Documento.includes('.xlsx')">
                        <span style="color: green !important;"
                          class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-excel"></i></span>
                      </td>
                      <td class="table-img padding-0"
                        *ngIf="row.Documento.includes('.zip') || row.Documento.includes('.txt')">
                        <span class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-archive"></i></span>
                      </td>
                      <td class="table-img padding-0"
                        *ngIf="row.Documento.includes('.wmv') || row.Documento.includes('.avi')">
                        <span class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-video"></i></span>
                      </td>
                      <td class="table-img padding-0"
                        *ngIf="row.Documento.includes('.mp3') || row.Documento.includes('.wav') || row.Documento.includes('.mp4')">
                        <span class="mr-3 align-self-center img-icon primary-rgba text-primary fonTS"><i
                            class="far fa-file-audio"></i></span>
                      </td>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Nombres" [width]="130">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.Documento.substring(7, 50)}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones" sortable="false" [width]="120">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>
                        <button class="btn tblActnBtn h-auto">
                          <a href="https://projectsbyanimatiomx.com/phps/odonto/archivos/{{row.Documento}}"
                            target="_blank" download='{{row.Documento}}'>
                            <i title="Descargar" class="material-icons grey-color mr-10 pointer">file_download</i>
                          </a>
                        </button>
                      </span>
                      <span>
                        <button class="btn tblActnBtn h-auto pb-2">
                          <i title="Eliminar" class="material-icons grey-color mr-10 pointer"
                            (click)="deleteDocumento(row)">delete</i>
                        </button>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>